/* common.scss */

/* selection */
*::selection {
	color: $dark-gray;
	background: rgba(204, 204, 204, 0.8);
}

html {
	font-size: $html-font-size;
	width: 100%;
	margin: 0;
	padding: 0;
	//min-width: 32rem;
	overflow-x: auto;
}

body {
	min-height: 100%;
	width: 100%;
	min-width: 30rem;
	font-size: 1.6rem;
	margin: 0;
	padding: 0;
	position: relative;
	color: $black;
	background: $white;
	font-family: $font-stack;
	overflow-x: hidden;
}

.wrapper {

}

.lazy {
	background-color: $white;
}

.no-js {
	body {
		padding-top: 3.3rem;
	}
	.lazy {
		display: none;
	}
}

a[href^="#"]:focus {
	outline: 0;
}

a:focus {
	outline: none;
	//outline: 1px solid $active-color;
}

/* common.scss end */

@media only screen and (max-width: $screen-lg-max) {
	html {
		font-size: $html-font-size * .9;
	}
}

@media only screen and (max-width: $screen-md-max) {
	html {
		//font-size: $html-font-size * .9;
	}
}

@media only screen and (max-width: $screen-sm-max) {
	html {
		font-size: $html-font-size;
	}
}

@media only screen and (max-width: $screen-xs-max) {
}

@media only screen and (max-width: $screen-xs) {

}