/* Webfont: Lato-Bold */

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.eot');
	/* IE9 Compat Modes */
	src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Lato-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Medium */

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Medium.eot');
	/* IE9 Compat Modes */
	src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Lato-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.eot');
	/* IE9 Compat Modes */
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Lato-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}


/* Webfont: Lato-Light */

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Light.eot');
	/* IE9 Compat Modes */
	src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
	url('../fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Lato-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'CenturyGothic';
	src: url('../fonts/CenturyGothicRegular.eot'),
	url('../fonts/CenturyGothicRegular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/CenturyGothicRegular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}