/* service-classes.scss */

.errorMessage {
	color: red;
	font-size: 1.2rem;
	display: block;
}

.captcha-error {
	padding-bottom: 2rem;
	.errorMessage {
		position: absolute;
		bottom: 0;
	}
}

.ui-menu-item {
	cursor: pointer;
}

/*==========  Mobile First Method  ==========*/

.xs-center {
	text-align: center;
}
.xs-left {
	text-align: left;
}
.xs-right {
	text-align: right;
}

@media only screen and (min-width: $screen-xs-max) {
	.sm-center {
		text-align: center;
	}
	.sm-left {
		text-align: left;
	}
	.sm-right {
		text-align: right;
	}
	.sm-rotate-left {
		transform-origin: 0 0;
		transform: rotate(6deg);
		overflow: hidden;
		position: relative;
		z-index: 3;
		transition: transform .3s;
		&:hover {
			transform: rotate(2deg) scale(1.06);
		}
	}
	.sm-rotate-right {
		position: relative;
		transform-origin: 0 0;
		transform: rotate(-6deg);
		z-index: 3;
		overflow: hidden;
		transition: transform .3s;
		&:hover {
			transform: rotate(0deg) scale(1.06);
			z-index: 2;
		}
	}
} // $sm

@media only screen and (min-width: $screen-sm-max) {
	.md-center {
		text-align: center;
	}
	.md-left {
		text-align: left;
	}
	.md-right {
		text-align: right;
	}
} // $md

@media only screen and (min-width: $screen-md-max) {
	.lg-center {
		text-align: center;
	}
	.lg-left {
		text-align: left;
	}
	.lg-right {
		text-align: right;
	}
} // $lg
