$html-font-size: 62.5%;
/* breakpoints */
$screen-xs: 30em !default; // 480px
// Small screen / tablet
$screen-sm: 48em !default; // 768px
// Medium screen / desktop
$screen-md: 62em !default; // 992px
// Large screen / wide desktop
$screen-lg: 75em !default; // 1200px

$screen-xlg: 87.5em !default; // 1400px

$content-max-width: 125rem !default; // 1250px

// for min-width media
$screen-xs-min: $screen-xs !default; // from 768
$screen-sm-min: $screen-sm !default; // from 992
$screen-md-min: $screen-md !default; // from 1200
$screen-lg-min: $screen-lg !default; // from 1400
$screen-xlg-min: $screen-xlg !default; // from 1400

// for max-width media
$screen-xs-max: ($screen-sm - 0.0625) !default; // till 767
$screen-sm-max: ($screen-md - 0.0625) !default; // till 991
$screen-md-max: ($screen-lg - 0.0625) !default; // till 1199
$screen-lg-max: ($screen-xlg - 0.0625) !default; // till 1399

/* color */
$light-green: #99cc33;
$red: #f00;
$green: #0f0;

$white: #fff;
$black: #000;
$dark-gray: #333;
$medium-gray: #666;
$light-gray: #999;
$ghost-gray: #ccc;

$btn-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
$btn-shadow-hover: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
/* fonts */
$main-font: 'Lato';
$second-font: 'Arial';
$sans-serif: 'sans-serif';
$font-stack: $main-font, $second-font, $sans-serif;