.accordions {

}

.accordion {
	display: block;
	border-radius: 1rem;
	padding: 1rem 2rem;
	margin-bottom: 1rem;
	box-shadow: $btn-shadow;
}

.accordion_title {
	position: relative;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.8rem;
	color: $dark-gray;
	&:after {
		content: "\f105";
		display: inline-block;
		font: normal normal normal 1.6rem/1 FontAwesome;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		position: absolute;
		top: 50%;
		transform: translateY(-50%) rotateZ(90deg);
		transform-origin: 50% 50%;
		right: 0;
		font-size: 2rem;
		color: $light-gray;
		cursor: pointer;
		transition: transform .25s cubic-bezier(.45, 0, .5, .95);

	}
}

.accordion_content {
	@extend .account__article;
	padding-top: 2rem;
}

.is-close {
	.accordion_title:after {
		transform: translateY(-50%) rotate(0);
	}
	.accordion_content {
		> p {
			opacity: 0;
		}
	}
}

.no-js {
	.accordion_content {
		display: block;
	}
	.accordion_title:after {
		display: none;
	}
}
