.discount-stat {
	font-size: 1.6rem;
	line-height: 1.4;
	color: $light-gray;
	padding-bottom: 2rem;
	margin-bottom: 7rem;
	border-bottom: 1px solid rgba($ghost-gray, .3);
	p {
		display: block;
	}
	strong {
		font-size: 1.375em;
		color: $black;
		font-family: CenturyGothic, $font-stack;
	}
	small {
		font-size: .625em;
		color: $light-gray;
		text-transform: uppercase;
	}
}

@media only screen and (max-width: $screen-xs-max) {
	.discount-stat {
		margin-bottom: 2rem;
	}
}