.errorMessage,
span.invalid {
	display: block;
	max-width: 100%;
	width: 40rem;
	position: absolute;
	left: 10%;
	bottom: 0;
	transform: translateY(110%);
	background-color: rgba($white, 1);
	color: darkred;
	border-radius: 1rem;
	box-shadow: $btn-shadow;
	padding: .8rem 1rem;
	padding-left: 4rem;
	cursor: pointer;
	z-index: 100;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		transform: translateY(-100%);
		left: 3rem;
		border: .5rem solid transparent;
		border-bottom-color: $white;
	}
	&:after {
		content: "×";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 1rem;
		background: $ghost-gray;
		height: 2rem;
		line-height: 2rem;
		width: 2rem;
		font-size: 1.8rem;
		border-radius: 50%;
		color: $white;
		text-align: center;
	}
}