.filter-section {
	display: block;
	position: relative;
}

.filter-section__inner {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 1rem 0;
	padding-bottom: 0;
	min-height: 5.4rem;
	background: rgba(#fff, .74);
	z-index: 101;
	&.is-sticky {
		//opacity: 0;
		position: fixed;
		animation-name: blink;
		animation-timing-function: ease-out;
		animation-duration: .3s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
		//z-index: 101;
	}
}

.filter-section__placeholder {
	display: block;
	//height: 30rem;
}
@media only screen and (max-width: $screen-sm-max) {
	.filter-section__inner {
		position: static;
		top: 0 !important;
		z-index: 1;
		&.is-sticky {
			position: static;
			z-index: 1;
			animation: none;
		}
	}
	.filter-section__placeholder {
		display: none;
	}
}

@keyframes blink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
