.flex {}
.flex_row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.flex_col-1-1 {
	max-width: 100%;
	flex-basis: 100%;
}
.flex_col-1-2 {
	max-width: 50%;
	flex-basis: 50%;
}
.flex_col-1-3 {
	max-width: 33%;
	flex-basis: 33%;
}
.flex_col-2-3 {
	max-width: 67%;
	flex-basis: 67%;
}
.flex_col-1-4 {
	max-width: 25%;
	flex-basis: 25%;
}
.flex_col-3-4 {
	max-width: 75%;
	flex-basis: 75%;
}

@media only screen and (max-width: $screen-xs-max) {
	.flex_row {
		//display: block;
	}
	.flex_col-1-1,
	.flex_col-1-2,
	.flex_col-1-3,
	.flex_col-2-3,
	.flex_col-3-4 {
		max-width: 100%;
		flex-basis: 100%;
	}
	.flex_col-1-4 {
		max-width: 50%;
		flex-basis: 50%;
	}
}
@media only screen and (max-width: $screen-xs-min) {
	.flex_row {
		display: block;
	}
	.flex_col-1-4 {
		max-width: 100%;
		flex-basis: 100%;
	}
}