.in-store {}
.in-store_nav {
	@extend .network-nav;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
	> ul {
		> li {
			display: inline-block;
			margin-right: .5rem;
			margin-bottom: .5rem;
		}
	}
}
.in-store_content {}