.location-wrapper {
	display: block;
	width: 100%;
	// ggogle map display none fix
	position: absolute;
	left: -999999px;
}
.location {
	width: 100%;
	max-width: 107rem;
	padding: 0 3.5rem;
	margin: 0 auto;
	position: relative;
	//opacity: 0;
	//transform: translateY(-2rem);
	transition: all .2s;
	.mfp-close {
		font-size: 5rem;
		padding: 0;
		width: 4rem;
		height: 4rem;
		font-weight: 300;
		font-family: "Lato", "Arial", "sans-serif";
		top: -1rem;
		right: -1rem;
		color: #f5f5f5;
	}
}

.location__content {

}

.location__nav {
	display: block;
}
.location__select {
	display: none !important;
}

.location__btn {
	display: inline-block;
	color: $ghost-gray;
	font-size: 1.6rem;
	padding: .8rem 2.5rem;
	border-radius: 1rem;
	background-color: transparent;
	border: none;
	outline: none;
	text-align: center;
	color: $white;
	margin-bottom: 1rem;
	margin-right: 1rem;
	transition-property: color, background;
	transition-duration: .2s;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&.is-current,
	&:hover,
	&:active {
		color: $dark-gray;
		background-color: $white;
	}
}

.location__map {
	display: block;
	width: 100%;
	height: 45rem;
	//max-height: 80vh;
}

@media only screen and (max-width: $screen-xs-max) {
	.location {
		max-width: 40rem;
		padding: 0 1rem;
		padding-top: 4rem;
		text-align: center;
		.mfp-close {
			top: -1rem;
			right: 0;
		}
	}
	.location__nav {
		display: none;
	}
	.location__select {
		display: inline-block !important;
		width: 100%;

		margin: 0 auto;
		margin-bottom: 1rem;
	}
}