// google map infowindow style
#g-map  .iw-title {
	font-family: $font-stack;
	font-size: 1.3rem;
	//font-weight: 400;
	//background-color: #48b5e9;
	//color: white;
	//margin: 1px;
	//border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}
.gm-style-iw {
	width: 260px !important;
	top: 45px !important;
	left: 26px !important;
	text-align: center;
}

.map-info {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	min-width: 260px;
	margin: 0 auto;
	padding: .5rem;
	text-align: left;
}
.map-info__content {
	display: block;
	background-color: $white;
	color: $dark-gray;
	border-radius: 1rem;
	margin-bottom: .5rem;
	line-height: 1;
	padding: 1.5rem;
	box-shadow: $btn-shadow;
	h3 {
		font-size: 1.3rem;
		margin-bottom: 1em;
		text-transform: uppercase;
		font-weight: 700;
	}
	p {
		font-size: 1.3rem;
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.map-info__close {

}

.map-info__btn {
	display: block;
	text-align: center;
	background-color: $light-green;
	color: $white;
	border-radius: 1rem;
	margin-bottom: .5rem;
}