.network-nav {
	ul {
		display: block;
		margin: 0 auto;
		width: 100%;
		> li {
			display: block;
			margin-bottom: .3rem;
			> a {
				display: inline-block;
				color: $ghost-gray;
				font-size: 1.8rem;
				padding: .8rem 2.5rem;
				border-radius: 1rem;
				transition-property: color, box-shadow;
				transition-duration: .2s;
				&.is-current {
					color: $medium-gray;
					box-shadow: $btn-shadow;
				}
				&:hover,
				&:active {
					color: $white;
					background-color: $black;
					box-shadow: none;
				}

			}
		}
	}
}

@media only screen and (max-width: $screen-sm-max) {
	.network-nav {
		ul {
			> li {
				display: inline-block;
				margin-right: 1rem;
			}
		}
	}
}