.network-grid {
	[class^="col-"] {
		&:nth-child(3n+1) {
			clear: left;
		}
	}
}

@media only screen and (max-width: $screen-sm-max) {
	.network-grid {
		[class^="col-"] {
			&:nth-child(3n+1) {
				clear: none;
			}
			&:nth-child(2n+1) {
				clear: left;
			}
		}
	}
}

@media only screen and (max-width: $screen-xs-max) {
	.network-grid {
		[class^="col-"] {
			clear: none;
		}
	}
}