.not-found-nav {
	max-width: 105rem;
	margin: 0 auto;
}

.not-found-nav__list {
	display: block;
	padding: 0;
	margin-bottom: 3rem;
	> li {
		display: block;
		margin-bottom: 1rem;
		> a {
			padding-right: 2.5rem;
			position: relative;
			color: $white;
			font-size: 1.2rem;
			line-height: 1.2;
			transition: color .2s;
			&:hover,
			&:active {
				color: $light-green;
			}
			&:after {
				content: "\f105";
				font-family: FontAwesome;
				transition: opacity .2s, color .2s;
				line-height: 1;
				opacity: 0;
				position: absolute;
				top: -.3rem;
				right: 1rem;
				font-size: 1.6rem;
			}
			&:hover {
				color: #fff;
				&:after {
					opacity: 1;
				}
			}
		}
	}
	&--two-col {
		column-count: 2;
	}
}

.not-found-nav__title {
	display: block;
	color: $white;
	text-transform: uppercase;
	margin-bottom: 3.5rem;
	font-size: 1.6rem;
	font-weight: bold;
}

@media only screen and (max-width: $screen-sm-max) {
	.not-found-nav__title {
		margin-bottom: 2rem;
	}
	.not-found-nav__list {
		margin-bottom: 4rem;
	}
	.not-found-nav__list--two-col {

	}
}

@media only screen and (max-width: $screen-xs-max) {
	.not-found-nav__col:nth-child(2n+1) {
		clear: left;
	}
	.not-found-nav {
		display: none;
	}
}
