.question {
}

.question_header {
	position: relative;
	padding: 0;
	margin-bottom: 2rem;
	padding-right: 5rem;
}

.question_title {
	@extend .pop-up__title;
}

.question_numeration {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	vertical-align: baseline;
	> strong {
		font-weight: 700;
		font-size: 2.5rem;
		color: $black;
	}
	> small {
		font-weight: 300;
		font-size: 50%;
		color: $light-gray;
	}
}

.question_body {
	//min-height: 40rem;
	display: block;
	justify-content: center;
	align-items: center;
}

.question_body-inner {
	//flex-basis: 100%;
	//max-width: 100%;
	width: 100%;
	padding: 2rem 0;
}

.question_body--min {
	max-width: 50rem;
	margin: 0 auto;
}

.question_body--center {
	.question_value,
	.question_text {
		text-align: center;
	}
	.question_value {}
}

.question_name {
	display: block;
	max-width: 100%;
	text-align: center;
	margin-bottom: 2rem;
	font-size: 2.1rem;
	color: $black;
	font-weight: 700;
	> small {
		font-weight: 300;
		font-size: 50%;
		color: $light-gray;
	}
}

.question_text {
	font-size: 1.67rem;
	color: $light-gray;
	text-align: left;
	padding-right: .5rem;
	padding-bottom: .5rem;
}

.question_error {
	text-align: center;
	font-size: 1.8rem;
	padding: 2rem 0;
	display: none;
	color: $light-gray;
	font-weight: 400;
}

.show-invalid .question_error {
	display: block;
}

.question_value {
	text-align: right;
	padding-bottom: .5rem;
	.form-rating {
		margin: 0;
		.rating-symbol {
			font-size: 3rem;
		}
	}
}

.question_footer {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

.question_prev {
	@extend .prev-btn;
	border: none;
	background-color: transparent;
	width: auto;
	max-width: 100%;
}

.question_next {
	@extend .submit-btn;
	width: auto;
	max-width: 100%;
}

@media only screen and (max-width: $screen-xs-max) {
	.question_text {
		text-align: center;
		padding-bottom: .5rem;
	}

	.question_value {
		text-align: center;
		padding-bottom: 2rem;
	}
	.question_body {
		//text-align: center;
		.radio {
			display: inline-block;
			max-width: 20rem;
			margin: 0 auto;
		}
	}
}