.radio-text {
	display: inline-block;
	width: auto;
	max-width: 100%;
	padding: .5rem 0;
	> input[type="checkbox"],
	> input[type="radio"] {
		display: none;
	}
	> span {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		padding: 1rem;
		position: relative;
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 1;
		color: $light-gray;
		background-color: transparent;
		border-radius: 1rem;
		box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.15);
		transition: all .2s ease-out;
	}
	> input[type="checkbox"]:checked + span,
	> input[type="radio"]:checked + span {
		background-color: $light-green;
		color: $white;
	}
	&:hover > span {
		background-color: $light-gray;
		color: $white;
	}
}