.radio {
	display: inline-block;
	width: auto;
	max-width: 100%;
	padding: .5rem 0;
	> input[type="checkbox"],
	> input[type="radio"] {
		display: none;
	}
	> span {
		display: inline-block;
		vertical-align: middle;
		padding-left: 3rem;
		position: relative;
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 1.2;
		color: $medium-gray;
		transition: color .2s;
		&:before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 20px;
			height: 20px;
			border: none;
			box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.15);
			border-radius: 50%;
			background-color: $white;
			transition: all .2s;
		}
		&:after {
			content: "";
			display: inline-block;
			vertical-align: middle;
			position: absolute;
			left: 3px;
			top: 50%;
			transform: translateY(-50%);
			width: 14px;
			height: 14px;
			border: none;
			border-radius: 50%;
			background-color: transparent;
			transition: all .2s;
		}
	}
	> input[type="checkbox"]:checked + span:after,
	> input[type="radio"]:checked + span:after {
		background-color: $light-green;
	}
	&:hover > span:after {
		background-color: $light-gray;
	}
}