.search {
	position: relative;
	z-index: 110;
	&:hover {
		.search__input {
			//border-color: $light-gray;
		}
	}
}

.search__input {
	display: block;
	width: 100%;
	height: 3.2rem;
	font-size: 1.2rem;
	padding: 0 1.8rem;
	padding-right: 11.8rem;
	border: 1px solid $ghost-gray;
	border-radius: 1rem;
	color: $black;
	appearance: none;
	outline: 0;
	transition: all .2s;
	/* Webkit */
	&::-webkit-input-placeholder {
		color: $light-gray;
	}
	/* Firefox 4-18 */
	&:-moz-placeholder {
		color: $light-gray;
	}
	/* Firefox 19+ */
	&::-moz-placeholder {
		color: $light-gray;
	}
	/* IE10+ */
	&:-ms-input-placeholder {
		color: $light-gray;
	}
	&:focus {
		//border-color: $black;
	}
}

.search__submit {
	display: block;
	width: 10rem;
	height: 3.2rem;
	position: absolute;
	top: 0;
	right: 0;
	background: $ghost-gray;
	color: #fff;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	appearance: none;
	border: 0;
	outline: 0;
	text-align: center;
	font-size: 1.8rem;
	transition: all .2s;
	&:hover,
	&:active {
		background: $black;
	}
	> i {
		//d color: #fff;
		transition: all .2s;
	}
}

.search_result {
	position: absolute;
	bottom: -1rem;
	left: 0;
	right: 0;
	.ui-menu-item {
		box-shadow: $btn-shadow;
		border-radius: 1rem;
}
	.search_list {
		display: block;
		width: 100%;
		font-size: 1.2rem;
		background: transparent;
		color: #000;
		//overflow: hidden;
		border: none;
		// debug mode
		//display: block !important;
		> li {
			list-style-image: none;
			&:focus {
				outline: none;
			}
		}
	}
	.search_item {
		//display: flex;
		//flex-direction: row;
		//justify-content: flex-start;
		//align-items: center;
		text-align: left;
		font-size: 0; // remove space between inline-block elements
		width: 100%;
		max-width: 100%;
		padding: 0;
		transition: color .2s;
		outline: none;
		background-color: #fff;
		margin: 0 auto;
		margin-bottom: .4rem;
		border: 1px solid $white;
		border-radius: 1rem;
		overflow: hidden;
		&.ui-state-active,
		&:focus,
		&:hover,
		&:active {
			background-color: #fff;
			color: $light-green;
			margin: 0 auto;
			margin-bottom: .4rem;
		}
	}
}

.search_img {
	display: inline-block;
	vertical-align: middle;
	//flex-basis: 85px;
	max-width: 100%;
	width: 8.5rem;
	height: 8.5rem;

	//flex-grow: 0;
	//flex-shrink: 0;
}
.search_info {
	display: inline-block;
	vertical-align: middle;
	padding: 1rem 2.5rem;
	text-align: left;
	font-size: 1.6rem;
	line-height: 1.2;
}
.search_name {
	color: $medium-gray;

}
.search_category {
	color: $light-gray;
}
.search_price {
	@extend .price;
	display: block;
	font-size: 2rem;
	text-align: left;
	> small {
		font-size: 50%;
	}
}
