.shop {
	display: block;
	width: 100%;
	max-width: 30rem;
	position: relative;
	box-shadow: $btn-shadow;
	border-radius: 1rem;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: $grid-gutter-width;
	background-color: $white;
	&:hover {
		.shop__btn {
			opacity: 1;
			pointer-events: auto;
		}
	}
}
.shop__img {
	position: relative;
	> img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.shop__btn {
	display: inline-block;
	text-align: center;
	line-height: 1;
	font-size: 1.4rem;
	font-weight: 400;
	padding: .9em;
	width: 23rem;
	max-width: 100%;
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	background-color: $white;
	color: $black;
	box-shadow: $btn-shadow;
	border-radius: 1rem;
	pointer-events: none;
	transition-property: opacity, color, background, box-shadow;
	transition-duration: .2s;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:hover,
	&:active {
		background-color: $black;
		color: $white;
		box-shadow: none;
	}
}

.shop__info {
	padding: 7% 10%;
}

.shop__name {
	font-size: 1.4rem;
	line-height: 1.4;
	text-transform: uppercase;
	color: $light-gray;
	margin-bottom: 1em;
	font-weight: 700;
	strong {
		color: $dark-gray;
	}
}

.shop__text {
	display: block;
	position: relative;
	line-height: 1.4;
	font-size: 1.4rem;
	margin-bottom: 1em;
	color: $dark-gray;
	padding-left: 1.5em;
	> i {
		position: absolute;
		top: .2em;
		left: 0;
		color: $light-gray;
	}
	> span {
		display: block;
		color: $light-gray;
	}

}
.shop__size,
.shop__size-title {
	font-size: 1.25rem;
	line-height: 1.4;
	text-transform: uppercase;
	margin-bottom: .5em;
	font-weight: 700;
	color: $dark-gray;
	text-align: center;
	> span {
		display: inline-block;
		vertical-align: middle;
		padding: 0 .5rem;
		font-size: 1.8rem;
	}
}