.size-info {
	max-width: 96rem;
	margin: 0 auto;
	font-size: 1.6rem;
	color: $light-gray;
	line-height: 1.4;
	p {
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
	}
	img {
		@extend .size-info__img;
	}
}
.size-info__img {
	float: right;
	display: block;
	width: auto;
	max-width: 100%;
}

@media only screen and (max-width: $screen-xs-max) {
	.size-info__img {
		float: none;
		margin: 0 auto;
		margin-bottom: 1em;
	}
}