.table-size {
	width: 100%;
	max-width: 96rem;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 3rem;
	font-size: 1.6rem;
	border: 2px solid $white;
	border-collapse: collapse;
	th {
		background-color: $black;
		color: $white;
		padding: .5625em;
		border: 2px solid $white;
	}
	td {
		background-color: #e8e8e8;
		color: $black;
		padding: .5625em;
		border: 2px solid $white;
	}
}

.table-size__title {
	text-align: left;
	border-right-width: 5px;
}