.tristate {
	position: relative;
	display: inline-block;
	width: 10rem;
	border-radius: 1rem;
	height: 3rem;
	padding: .3rem;
	box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.15);
	> i {
		display: block;
		width: 3.2rem;
		height: 2.3rem;
		position: absolute;
		top: .4rem;
		left: 3.4rem;
		border-radius: .5rem;
		transition: all .3s ease-out;
		z-index: 1;
		background-color: $light-gray;

	}
	> label {
		display: block;
		position: relative;
		width: 33%;
		float: left;
		height: 2.6rem;
		line-height: 2.3rem;
		margin: 0;
		padding: 0;
		text-align: center;
		z-index: 2;
		color: $medium-gray;
	}
	& > input[type="radio"] {
		display: none;
		&:checked {
			& + i {
				background-color: $light-green;
				left: 6.4rem;
				//right: .3rem;
				+ label + label + label {
					color: $white;
				}
			}
			& + input[type="radio"] + i {
				background-color: $black;
				left: .3rem;
				+ label {
					color: $white;
				}
			}
		}
	}

}