/* banner.scss */
.banner {
	margin-bottom: 0;
	img {
		display: block;
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
	}
}
.section--rotate-banner {
	margin-bottom: 6rem;
	.banner {
		box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
	}
}

.banner__header {
	padding: 1.5rem 0;
	text-align: center;
	color: $black;
	display: none;
}
.banner__title {
	line-height: 1.4;
	font-size: 2.4rem;
}
.banner__sub-title {
	font-size: 1.2rem;
	color: $medium-gray;
	font-weight: 300;
}
@media only screen and (max-width: $screen-xs-max) {
	.section--rotate-banner {
		.banner {
			box-shadow: none;
		}
	}
	.banner__header {
		display: block;
	}
}
/* banner.scss end */