/* breadcrumbs.scss */
.breadcrumbs {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 1rem;
	> li {
		display: inline-block;
		font-size: 1.4rem;
		color: $ghost-gray;
		position: relative;
		padding: 0 1.5rem;
		> a {
			font-size: 1.4rem;
			color: $ghost-gray;
			text-decoration: none;
			position: relative;
			transition: all .2s;
			&:hover,
			&:active {
				color: $light-green;
			}
		}
		&:after {
			content: "/";
			display: inline-block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%) translateX(50%);
			right: 0;
			font-size: 1.4rem;
			color: $ghost-gray;
		}
		&:last-child:after {
			display: none;
		}
		&:first-child > a {
			padding-left: 2rem;
			&:before {
				content: "\f015";
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
			}
		}
	}
}
/* breadcrumbs.scss end */