/* buttons.scss  */
.submit-btn {
	display: inline-block;
	padding: 1.4rem 2rem;
	max-width: 26rem;
	width: 100%;
	text-align: center;
	text-transform: none;
	font-size: 1.63rem;
	font-weight: 500;
	line-height: 1;
	color: #fff;
	border-radius: 1rem;
	border: 0;
	outline: 0;
	background: $light-green;
	appearance: none;
	transition: all .2s;
	&:hover,
	&:active {
		background: darken($light-green, 10%);
	}
} 

.black-btn {
	@extend .submit-btn;
	font-size: 1.4rem;
	padding: .8em 2em;
	max-width: 100%;
	width: auto;
	background: $black;
	color: $white;
	&:hover,
	&:active {
		background-color: $light-green;
	}
}
.submit-btn--account {
	@extend .submit-btn;
	text-transform: none;
	font-size: 1.4rem;
	padding: 1.2rem 2rem;
	width: auto;
	min-width: 14.5rem;
}

.border-btn {
	display: inline-block;
	padding: 1.4rem 2rem;
	max-width: 26rem;
	width: 100%;
	text-align: center;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1;
	color: $light-gray;
	border: 1px solid $ghost-gray;
	border-radius: 1rem;
	outline: 0;
	background: transparent;
	appearance: none;
	transition: all .2s;
	&:hover,
	&:active {
		color: $light-green;
		border-color: $light-green;
	}
}

.shadow-btn {
	display: inline-block;
	padding: 1.4rem 2rem;
	max-width: 100%;
	text-align: center;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1;
	color: $light-gray;
	border: none;
	border-radius: 1rem;
	outline: 0;
	background: transparent;
	appearance: none;
	transition: all .2s;
	box-shadow: $btn-shadow;
	&:hover,
	&:active {
		color: $white;
		background-color: $ghost-gray;
		box-shadow: none;
	}
}
.next-btn {
	@extend .border-btn;
	padding: 1rem;
	padding-right: 2.5rem;
	position: relative;
	width: 100%;
	max-width: 14rem;
	
	&:after {
		content: "\f105";
		display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 1rem;
	}
}
.prev-btn {
	@extend .border-btn;
	padding: 1rem;
	padding-left: 2.5rem;
	position: relative;
	width: 100%;
	max-width: 14rem;
	
	&:after {
		content: "\f104";
		display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 1rem;
	}
}
/* buttons.scss end */