.button-up-wrapper {
	display: inline-block;
	> a {
		display: inline-block;
		padding: 1.5rem;
		padding-left: 4rem;
		position: relative;
		color: $light-gray;
		font-size: 1.8rem;
	}
	.button-up__inner {
		display: inline-block;
		position: absolute;
		left: -.5rem;
		top: .6rem;
		width: 4rem;
		height: 4rem;
	}
}