/* cart-table.scss */

// dev mode 
/* .m-cart .top-menu__sub-block {
	opacity: 1 !important;
	pointer-events: auto !important;
	visibility: visible;
	-webkit-transform: translateY(rem);
	transform: translateY(rem);
} */

.t-cart {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-bottom: 4rem;
}

.t-cart--menu {
	@extend .t-cart;
	max-height: 50vh;
	overflow: auto;
	/* fix bug with custom select and scrollbar */
	.mCSB_container {
		padding-bottom: 5rem;
	}
}

.t-cart__row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: stretch;
	flex-shrink: 0;
}

.t-cart__col-img,
.t-cart__col-name,
.t-cart__col-color,
.t-cart__col-size,
.t-cart__col-quantity,
.t-cart__col-price,
.t-cart__col-del,
.t-cart__col-couple {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	//width: 10%;
	flex-grow: 1;
	flex-shrink: 0;
	text-align: center;
	padding: 2rem 1rem;
}

.t-cart__col-form {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-direction: row;
	flex-grow: 1;
	flex-shrink: 0;
	text-align: center;
	padding: 2rem 1rem;
}

.t-cart__col-img,
.t-cart__col-name,
.t-cart__col-quantity {
	flex-grow: 2;
	flex-shrink: 1;
	flex-basis: 16rem;
	max-width: 25rem;
}

.t-cart__col-quantity {
	max-width: 15rem;
}

.t-cart__col-color {
	flex-basis: 4rem;
}

.t-cart__col-couple {
	flex-grow: 2;
	flex-shrink: 1;
	flex-basis: 12rem;
	max-width: 20rem;
}

.t-cart__col-price {
	flex-grow: 1;
	flex-basis: 14rem;
}

.t-cart__col-del {
	flex-grow: 1;
	flex-basis: 2rem;
	padding: 0 1rem;
	> a {
		display: inline-block;
		position: relative;
		top: -1.5rem;
		font-size: 2rem;
		color: $light-gray;
		transition: all .2s;
		&:hover,
		&:active {
			color: red;
		}
	}
}

.t-cart__col-name {
	align-items: flex-start;
	line-height: 1.2;
	text-align: left;
}

.t-cart__desc {
	font-size: 1.4rem;
	line-height: 1.2;
	padding: .5rem 0;
	color: $light-gray;
}

.t-cart__img {
	display: block;
	width: 18rem;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	margin: 0 auto;
}

.t-cart__td-name {
	text-align: left;
}

.t-cart__name {
	display: block;
	width: 100%;
	font-size: 1.6rem;
	color: $medium-gray;
	margin-bottom: .5rem;
	a {
		@extend .t-cart__name;
	}
}

.t-cart__id {
	font-size: 1.4rem;
	color: $ghost-gray;
}

.t-cart__size {}

.t-cart__color {
	display: block;
	height: 3.5rem;
	width: 3.5rem;
	background: #fff;
	margin: 0 auto;
	border: 0;
	border-radius: 1rem;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}

.t-cart__color--1 {
	background: $light-green;
}

.t-cart__col-couple {
	img {
		display: block;
		width: 15rem;
		max-width: 100%;
		height: auto;
		max-height: 100%;
		margin: 0 auto;
	}
}

.t-cart__price {
	display: inline-block;
	min-height: 3.5rem;
	border: 0;
	border-radius: 1rem;
	//box-shadow: $btn-shadow;
	font-size: 2.3rem;
	padding: .4rem 2rem;
	text-align: center;
	line-height: 1.2;
	> small {
		display: inline;
		vertical-align: baseline;
		font-size: 45%;
		color: $light-gray;
		text-transform: uppercase;
	}
}

@media only screen and (max-width: $screen-sm-max) {
	.t-cart__col-couple {
		display: none;
	}
}

@media only screen and (max-width: $screen-xs-max) {
	.t-cart__row {
		display: block;
		position: relative;
		//flex-direction: column;
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 1px solid $ghost-gray;
		text-align: center;
	}
	.t-cart__col-img,
	.t-cart__col-name,
	.t-cart__col-color,
	.t-cart__col-size,
	.t-cart__col-quantity,
	.t-cart__col-price {
		display: block;
		width: 100%;
		max-width: 100%;
		text-align: center;
		padding: .7rem 0;
		//flex-basis: auto;
		//flex-grow: 1;
	}
	.t-cart__col-color {
		display: none;
	}
	.t-cart__col-size,
	.t-cart__col-quantity {
		display: inline-block;
		width: auto;
		padding: .5rem 3rem;
	}
	.t-cart__col-price {
		display: inline-block;
	}
	.t-cart__col-del {
		display: inline-block;
		width: auto;
		height: auto;
		position: absolute;
		top: 2rem;
		right: 2rem;
		> a {
			font-size: 3.5rem;
		}
	}
	.t-cart__price {
		//box-shadow: none;
		font-size: 3rem;
		padding: .4rem 1rem;
	}
}


/* cart-table.scss end */