/* cart-total.scss */
.cart-total {	
	
}

.cart-total--right {
	text-align: right;
}


.cart-total__sum {
	//text-align: left;
}

.cart-total__sum--menu {
	//text-align: right;
}
.cart-total__checkout {
	text-align: right;
}

.cart-total__price {
	display: inline-block;
	font-size: 1.8rem;
	vertical-align: baseline;
}

@media only screen and (max-width: $screen-xs-max) {
	.cart-total,
	.cart-total--right,
	.cart-total__checkout {	
		text-align: center;
	}
	.cart-total__price {
		margin-bottom: 2rem;
	}
}

/* cart-total.scss end */