/* cat-banner.scss */
.cat-banner {
	width: 100%;
	height: 45rem;
	max-width: 70rem;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.cat-banner__item {
	position: absolute;
	width: 20%;
	height: 100%;
	padding: 1%;
	z-index: 1;
	transition: 
		//all .3s ease-out 0s,
		background-position .1s ease-out .2s;
	background: transparent;
	cursor: pointer;
	top: 0;
}
.cat-banner__item:nth-child(1) {
	left: 0%;
	.cat-banner__img-frame {
		background-position: 0 0;
		//background-image: url(../img/i/cat-banner-1.jpg);
	}
}
.cat-banner__item:nth-child(2) {
	left: 20%;
	.cat-banner__img-frame {
		background-position: 22% 0;
		//background-image: url(../img/i/cat-banner-2.jpg);
	}
}
.cat-banner__item:nth-child(3) {
	left: 40%;
	.cat-banner__img-frame {
		background-position: 44% 0;
		//background-image: url(../img/i/cat-banner-3.jpg);
	}
}
.cat-banner__item:nth-child(4) {
	left: 60%;
	.cat-banner__img-frame {
		background-position: 66% 0;
		//background-image: url(../img/i/cat-banner-4.jpg);
	}
}
.cat-banner__item:nth-child(5) {
	left: 80%;
	.cat-banner__img-frame {
		background-position: 88% 0;
		//background-image: url(../img/i/cat-banner-5.jpg);
	}
}
.cat-banner__item:hover {
	width: 100%;
	z-index: 2;
	left: 0%;
	.cat-banner__img-frame {
		background-position: 50% 0%;
	}
}
.cat-banner__img-frame {
	width: 100%;
	height: 40rem;
	background: red;
	margin-bottom: 2rem;
	overflow: hidden;
	position: relative;
	background-image: url(../img/i/cat-banner-3.jpg);
	background-size: auto 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
	> img {
		display: block;
		position: absolute;
		width: auto;
		top: 0;
		left: 0;
		z-index: 1;
	}
}
.cat-banner__text {
	display: inline-block;
	color: #000;
	font-size: 1.8rem;
}
/* cat-banner.scss end */