/* category-list.scss */
.c-list {
	margin: 0 -1.5rem;
}

.c-list__col {
	float: left;
	width: 20%;
	padding: 0 1.5rem;
	&:nth-child(5n+1) {
		clear: left;
	}
}

.c-list__item {
	text-align: center;
	border-radius: 1rem;
	box-shadow: none;
	overflow: hidden;
	background: #fff;
	max-width: 24rem;
	margin: 0 auto;
	margin-bottom: 3rem;
	transition: all .2s;
	&:hover {
		box-shadow: $btn-shadow;
		.c-list__fast-view,
		.c-list__sizes {
			opacity: 1;
		}
		.c-list__img {
			opacity: 0;
		}
	}
}

.c-list__img-holder {
	display: block;
	width: 100%;
	position: relative;
	margin-bottom: 1rem;
	background-color: #fff;
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
}

.c-list__img {
	display: block;
	width: 100%;
	height: auto;
	min-height: 5.5rem;
	max-width: 100%;
	opacity: 1;
	//transition: opacity .3s;
}

.c-list__link {
	display: block;
	margin: 0;
	padding: 0;
}

.c-list__fast-view {
	display: inline-block;
	width: 90%;
	max-width: 19rem;
	position: absolute;
	left: 50%;
	bottom: 1rem;
	transform: translateX(-50%);
	padding: .8rem 1rem;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	border-radius: 1rem;
	text-align: center;
	opacity: 0;
	transition: all .2s;
	&:hover {
		background: rgba(0, 0, 0, 0.6);
	}
	&:active {
		background: $black;
	}
	&:focus {
		outline: 0;
	}
}

.c-list__colors {
	display: block;
	text-align: center;
}

.c-list__color {
	display: inline-block;
	width: 3.5rem;
	height: auto;
	margin: 0 .5rem;
	margin-bottom: 1rem;
	transition: all .2s;
	&:hover {
		//transform: scale(1.08);
	}
	> img {
		display: block;
		width: 100%;
		height: auto;
	}
}
.c-list__info {
	display: block;
	padding: 0 .5rem;
}
.c-list__name {
	font-size: 1.6rem;
	color: $ghost-gray;
	line-height: 1.2;
	margin-bottom: .5rem;
	transition: color .2s;
}

.c-list__sizes {
	display: block;
	padding-top: .6rem;
	opacity: 0;
	transition: opacity .2s;
}

.c-list__size {
	display: inline-block;
	margin: 0 .5rem;
	margin-bottom: 1rem;
	color: $dark-gray;
	font-size: 1.4rem;
}

.c-list__next {
	text-align: center;
	border-radius: 1rem;
	box-shadow: none;
	overflow: hidden;
	background: #fff;
	margin-bottom: 3rem;
	transition: all .2s;
	box-shadow: $btn-shadow;
}

.c-list__next-link {
	display: block;
	color: $light-gray;
	min-height: 35rem;
	transition: all .2s;
	&:hover,
	&:active {
		color: $light-green;
		.c-list__next-icon > i {
			//box-shadow: $btn-shadow-hover;
		}
	}
}

.c-list__next-icon {
	display: inline-block;
	width: 100%;
	position: relative;
	margin-bottom: 5.4rem;
	&:after {
		content: '';
		padding-top: 100%;
		/* 4:4 ratio */
		display: block;
	}
	> i {
		display: block;
		position: absolute;
		font-size: 6.5rem;
		width: 11.5rem;
		height: 11.5rem;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		text-align: center;
		line-height: 11.5rem;
		border-radius: 1rem;
		transition: all .2s;
		box-shadow: $btn-shadow;
	}
}

.c-list__price--old {
	font-size: 1.6rem;
	> span {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 60%;
			display: block;
			width: 100%;
			height: 1px;
			background: #000;
		}
	} 
	> small {
		padding-left: .2rem;
		font-size: 78%;
	}
}

@media only screen and (max-width: $screen-md-max) {
	.c-list__col {
		width: 25%;
		&:nth-child(5n+1) {
			clear: none;
		}
		&:nth-child(4n+1) {
			clear: left;
		}
	}
}

@media only screen and (max-width: $screen-sm-max) {
	//.c-list__col {
	//	width: 25%;
	//	&:nth-child(5n+1) {
	//		clear: none;
	//	}
	//	&:nth-child(4n+1) {
	//		clear: left;
	//	}
	//}
	
	
	// mobile prod cart in category page
	.c-list__item {
		&:hover {
			box-shadow: none;
		}
		.c-list__fast-view {
			display: none;
		}
		.c-list__colors,
		.c-list__sizes {
			display: none;
		}
		.c-list__img-holder {
			background: #fff !important;
		}
		.c-list__img {
			opacity: 1 !important;
		}
	}
	.c-list__next {
		display: none;
	}
}

@media only screen and (max-width: $screen-xs-max) {
	.c-list__col {
		width: 33.3333%;
		&:nth-child(4n+1) {
			clear: none;
		}
		&:nth-child(3n+1) {
			clear: left;
		}
	}
	
}

@media only screen and (max-width: 37.5em) {
	.c-list__col {
		width: 50%;
		&:nth-child(3n+1) {
			clear: none;
		}
		&:nth-child(2n+1) {
			clear: left;
		}
	}
	.c-list__price {
		font-size: 2.4rem;
	}
}

@media only screen and (max-width: 22.5em) {
	//.c-list__col {
	//	width: 100%;
	//	clear: left;
	//	float: none;
	//}
}


/* category-list.scss end */