.account__content-discount-text {
	text-align: center;
	> p {
		color: $light-gray;
		font-size: 1.6rem;
		margin-bottom: 2rem;
	}
	> div {
		color: #000;
		font-size: 1.8rem;
		margin-bottom: 2rem;
	}
}

.account__content-discount {
	max-width: 66rem;
	margin: 3rem auto 10rem auto;
	display: flex;
	flex-wrap: no-wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.account__content-discount-box {
	position: relative;
	padding: 5rem 3rem;
	box-shadow: $btn-shadow;
	width: 100%;
	max-width: 16.5rem;
	text-align: center;
	> div {
		font-size: 7rem;
		line-height: 1;
		float: left;
		width: 50%;
	}
	> img {
		height: 6rem;
		float: left;
		width: 50%;
	}
	> p {
		clear: left;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%,50%);
		width: 100%;
		max-width: 12rem;
		text-align: center;
		padding: .6rem 1.5rem;
		background: #000;
		color: #fff;
		font-size: 1.8rem;
		> span {	
			font-size: 1.2rem;
			color: $ghost-gray;
		}
	}
}

.discount-text {
	 img {
		display: block;
		width: 100%;
		max-width: 44rem;
		height: auto;
		flex-shrink: 0;
	}
	 p {
		font-size: 1.6rem;
		color: $light-gray;
	}
} 

.discount-text-datails {
	max-width: 75rem;
	text-align: center;
	margin: 4rem auto;
	> p {
		font-size: 1.6rem;
		color: $light-gray;
	}
}

@media only screen and (max-width: $screen-sm-max) {
	.order-list {
		text-align: center;
	}
}

@media only screen and (max-width: 47.94em) {
	.discount-text {
		img {
			margin: 0 auto;
			margin-bottom: 2rem;
		}
		p {
			max-width: 60rem;
			margin: 0 auto;
		}
	}
}


@media only screen and (max-width: 37.5em) {
	.account__content-discount {
		flex-direction: column;
		margin-bottom: 7rem;
	}

	.account__content-discount-box {
		margin-bottom: 5rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
}