/* fast-view.scss */

.fv {
	width: 100%;
	padding: 0;
	margin: 0 auto;
}

.fv__content {
	width: 100%;
	border-radius: 1rem;
	overflow: hidden;
	margin-bottom: 1rem;
	background: #fff;
	position: relative;
	box-shadow: 0 0 30px 0 rgba(0,0,0,.4);
}

.fv__slider {
	float: left;
	width: 58%;
	margin: 0;
}

.fv__info {
	float: left;
	width: 42%;
	margin: 0;
	padding: 0 3rem;
	padding-top: 3rem;
	padding-bottom: 14rem;
	text-align: center;
}

.fv__header {
	margin-bottom: 2.5rem;
}

.fv__title {
	font-size: 1.8rem;
	color: $dark-gray;
	margin-bottom: 0;
	line-height: 1.1;
}

.fv__id {
	font-size: 1.2rem;
	color: $light-gray;
	line-height: 1.2;
}

.fv__desc {
	width: 42%;
	position: absolute;
	bottom: 6rem;
	padding: 0 3rem;
	right: 0;
	text-align: left;
	color: $light-gray;
}

.fv__desc-title {
	font-size: 1.7rem;
	margin-bottom: 0;
	font-weight: 300;
}

.fv__desc-text {
	font-size: 1.4rem;
	margin-bottom: 0;
	font-weight: 300;
}

.fv__more {
	text-align: right;
	position: absolute;
	bottom: 2rem;
	right: 3rem;
}

.fv__btns {
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.fv__buy {
	width: auto;
	max-width: 100%;
	padding: 1.2rem 1rem;
	text-transform: none;
	font-size: 1.8rem;
	margin-bottom: 1rem;
	flex-shrink: 0;
	flex-grow: 1;
	flex-basis: 19.5rem;
	min-width: 19.5rem;
}
.fv__fast-order {
	width: auto;
	margin-bottom: 1rem;
	padding: .5rem 2rem;
	font-size: 3rem;
	flex-shrink: 0;
	flex-grow: 1;
	flex-basis: 9.5rem;
	min-width: 9.5rem;
	margin-right: .8rem;
}
.fv__more-btn {
	display: inline-block;
	background: #fff;
	border: none;
	color: $light-gray;
	border-radius: 1rem;
	font-size: 1.2rem;
	padding: .8rem 3.5rem;
	text-align: center;
	font-weight: 400;
	transition: all .2s;
	box-shadow: $btn-shadow;
	&:hover,
	&:active {
		color: $white;
		background-color: $ghost-gray;
		box-shadow: none;
	}
}

.fv__thumbs {
	width: 100%;
}

.fv-thumbs__slider {
	margin: 0 -.5rem;
}

.fv-thumbs__slide {
	outline: 0;
	display: block;
	overflow: hidden;
	margin: 0 .5rem;
	cursor: pointer;
	position: relative;
	/* &:after {
		content: "";
		display: block;
		border-radius: 1rem;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.5);
		transition: all .2s;
	} */
	> img {
		display: block;
		width: 100%;
		height: auto;
		border-radius: 1rem;
		filter: grayscale(50%);
		transition: all .2s;
	}
	&.slick-current {
		> img {
			filter: grayscale(0%);
		}
		&:after {
			opacity: 0;
		}
	}
}

@media only screen and (max-width: $screen-sm-max) {
	.pop-up--fast-view {
		max-width: 46rem;
		display: none;
	}
	.fv__slider {
		float: none;
		width: 100%;
		max-width: 30rem;
		margin: 0 auto;
		margin-bottom: 2rem;
	}
	.fv__info {
		float: none;
		width: 100%;
		max-width: 40rem;
		margin: 0 auto;
		padding: 1rem 2rem;
		text-align: center;
	}
	.fv__thumbs {
		display: none;
	}
	.product__slider--fv .product__slide {
		border-radius: 1rem;
	}
}

/* fast-view.scss end */