/* filter.scss */

.filter {
	display: block;
	padding-right: 25rem;
}

.filter__item-list {
	display: block;
	margin: 0 auto;
}

.filter__item {
	display: inline-block;
	width: auto;
	margin: 0 1.5rem 1rem 0;
	padding: .4rem 1rem;
	padding-right: 3rem;
	position: relative;
	text-align: center;
	box-shadow: $btn-shadow;
	background: #fff;
	border-radius: 1rem;
	cursor: pointer;
	z-index: 1;
	color: $light-gray;
	transition: color .2s, background .2s, box-shadow .2s, width .2s;
	&:hover,
	&:active {
		box-shadow: $btn-shadow-hover;
		color: $medium-gray;
	}
}
.filter__item--remove-all {
	display: inline-block;
	width: auto;
	margin: 0 1.5rem 1rem 0;
	position: relative;
	text-align: center;
	font-size: 1.4rem;
	padding: .4rem;
	box-shadow: none;
	z-index: 1;
	color: $light-gray;
	cursor: pointer;
	transition: color .2s;
	&:hover,
	&:active {
		box-shadow: none;
		color: darken($light-gray, 20%);
	}
}
.filter__lable {
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	transition: all .2s;
	&:after {
		/*
		content: "";
		display: block;
		width: 0;
		height: 0;
		border: 4px solid transparent;
		border-bottom: 0;
		border-top: 7px solid $t-sec-color;
		*/
		content: "\f107";
		display: inline-block;
		font: normal normal normal 1.6rem/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		position: absolute;
		top: 50%;
		transform-origin: 50% 50%;
		transform: translateY(-50%);
		right: 1rem;
		transition: all .2s;
	}
}

.filter__item--is-droped {
	box-shadow: $btn-shadow-hover;
	.filter__lable {
		&:after {
			/*
			border-top: 7px solid $active-color;
			*/
			transform: translateY(-50%) rotateZ(180deg);
		}
	}
	.filter__dropdown {
		opacity: 1;
		pointer-events: auto;
		transform: translateX(-50%) translateY(0);
	}
}

.filter__dropdown {
	display: block;
	width: auto;
	min-width: 22rem;
	position: absolute;
	top: 5rem;
	left: 50%;
	//border-radius: 1rem;
	//box-shadow: $btn-shadow;
	//background: #fff;
	//padding: 2rem 3rem;
	z-index: 2;
	opacity: 0;
	pointer-events: none;
	transform: translateX(-50%) translateY(-2rem);
	transition: all .2s;
	text-align: right;
	&:before {
		content: "";
		display: block;
		height: 1rem;
		width: 1rem;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
		box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.15);
		background: #fff;
		z-index: 3;
	}
}
.filter__dropdown-inner {
	border-radius: 1rem;
	box-shadow: $btn-shadow;
	background: #fff;
	padding: 2rem 3rem;
	margin-bottom: 1rem;
	//&:last-childs {
	//	padding: 1rem 3rem;
	//}
}

.filter__dropdown--sort {
	//@extend .filter__dropdown;
	width: 30rem;
}

.filter__dropdown--price {
	//@extend .filter__dropdown;
	width: 30rem;
}

.filter__dropdown--price {
	//@extend .filter__dropdown;
	width: 30rem;
}

.filter__dropdown--2-col {
	//@extend .filter__dropdown;
	width: 38rem;
	.filter__list {
		column-count: 2;
	}
}

.filter__list {
	display: block;
	width: 100%;
	text-align: left;
	> li {
		display: block;
		padding-bottom: .5rem;
		line-height: 1;
	 -webkit-column-break-inside: avoid; 
		page-break-inside: avoid; 
		break-inside: avoid; 
	}
}

.filter_title {
	display: none;
}

.filter__submit {
	display: inline-block;
	height: 3.6rem;
	width: 100%;
	min-width: 3.6rem;
	line-height: 3.8rem;
	padding: 0 2rem;
	font-size: 1.4rem;
	color: $light-gray;
	border: 0;
	border-radius: 1rem;
	outline: 0;
	transition: all .2s;
	//background: transparent;
	appearance: none;
	border: 0;
	font-weight: 400;
	box-shadow: $btn-shadow;
	margin-bottom: 1rem;
	background-color: $white;
	&:hover {
		background: $ghost-gray;
		color: #fff;
		box-shadow: none;
	}
	&:active {
		background: #000;
		color: #fff;
		box-shadow: none;
	}
}

.is-highlight .filter__submit {
	background: $light-green;
	color: $white;
}
.filter__remove {
	display: none;
	align-items: center;
	justify-content: center;
	align-content: center;
	width: 3rem;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	border-left: 1px solid #fff;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	background: $ghost-gray;
	color: #fff;
	z-index: 4;
	opacity: 0;
	pointer-events: none;
	transition: all .2s;
	> i {
		transition: all .2s;
		will-change: transform;
	}
	&:hover {
		> i {
			color: #f1f1f1;
		}
	}
}

.filter__item--is-active {
	padding: .4rem .7rem;
	padding-right: 3.7rem;
	background: $ghost-gray;
	color: #fff;
	box-shadow: none;
	&:hover,
	&:active {
		box-shadow: none;
		color: #fff;
	}
	.filter__remove {
		display: flex;
		pointer-events: auto;
		opacity: 1;
	}
	.filter__lable {
		> i:before {
			content: ": ";
			display: inline;
		}
	}
	.filter__submit {
		display: inline-block;
	}
}


@media only screen and (max-width: $screen-sm-max) {
	.filter {
		padding: 0 2rem;
		text-align: center;
	}
	.filter_title {
		display: block;
		position: relative;
		font-size: 2rem;
		font-weight: 500;
		color: $light-gray;
		text-transform: none;
		width: 100%;
		max-width: 40rem;
		padding: 1rem 2rem;
		margin: 0 auto;
		margin-bottom: 2rem;
		text-align: center;
		box-shadow: $btn-shadow;
		border-radius: 1rem;
		cursor: pointer;
		z-index: 1;
		transition: all .2s;
		&:hover,
		&:active {
			color: $medium-gray;
		}
		&:after {
			content: "\f107";
			display: inline-block;
			font: normal normal normal 2rem/1 FontAwesome;
			font-size: 2rem;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			position: absolute;
			top: 50%;
			transform-origin: 50% 50%;
			transform: translateY(-50%);
			right: 1.2rem;
			transition: all .2s;
		}
	}
	.filter__item--is-droped {
		//box-shadow: $btn-shadow-hover;
		color: $medium-gray;
		&:after {
			transform: translateY(-50%) rotateZ(180deg);
		}
		.filter__dropdown {
			display: block;
			opacity: 1;
			pointer-events: auto;
			height: auto;
			transform: none;
			padding-top: 2rem;
		}
	}
	.filter__item-list {
		display: none;
	}
	.filter__item {
		display: block;
		width: 100%;
		max-width: 40rem;
		padding: .6rem 2rem;
		//box-shadow: none;
		margin: 0 auto;
		margin-bottom: 2rem;
		//
	}
	.filter__lable {
		position: relative;
		display: block;
		width: 100%;
		padding: .5rem 0;
	}
	.filter__dropdown {
		display: block;
		width: 100%;
		max-width: 100%;
		height: 0;
		padding: 0;
		position: static;
		transform: none;
		top: 0;
		left: 0;
		box-shadow: none;
		&:before {
			display: none;
		}
	}
	.filter__dropdown-inner {
		box-shadow: none;
		padding: 0;
	}
	.filter__list {
		padding-bottom: .5rem;
	}
	.filter__remove {
		top: 0;
		left: 0;
		right: auto;
		font-size: 3rem;
		color: $ghost-gray;
		background: transparent;
		width: auto;
		padding: .5rem 0;
		&:hover,
		&:active {
			background: transparent;
			color: red;
		}
	}
	.filter__lable {
		> i {
			display: block;
			padding: .3rem 0;
			color: $ghost-gray;
			font-size: 90%;
			&:before {
				display: none !important;
			}
		}
		&:after {
			font-size: 2rem;
		}
	}
	.filter__item--is-active {
		padding: .6rem 1rem;
		background: #fff;
		color: $medium-gray;
		box-shadow: $btn-shadow-hover;
		&:hover,
		&:active {
			color: $medium-gray;
			box-shadow: $btn-shadow-hover;
		}
		.filter__lable {
			> i:before {
				display: none;
			}
		}
		.filter__remove {
			pointer-events: auto;
			opacity: 1;
		}
		.filter__submit {
			display: inline-block;
		}
	}
} // $sm

/* filter.scss end */