/* filter-slider.scss */
.filter-slider {
	display: block;
	width: 100%;
}
.filter-slider__row {
	font-size: 1.4rem;
	color: $light-gray;
	margin-bottom: 1rem;
}
.filter-slider__min,
.filter-slider__max {
	display: block;
	width: 50%;
	float: left;
	padding: 0;
	margin: 0;
	
}
.filter-slider__max {
	text-align: right;
}
.filter-slider__input {
	display: inline-block;
	vertical-align: middle;
	padding: 0 .2rem;
	width: 5rem;
	text-align: center;
	font-size: 1.8rem;
	color: $dark-gray;
	line-height: 1.2;
	border: 0;
	background: transparent;
	outline: 0;
	appearance: none;
}


.filter-slider__slider-wrapper {
	padding: 2rem 1.5rem;
	position: relative;
	padding-right: 7rem;
	
	
	.ui-slider-horizontal .ui-slider-handle {
		top: -1.5rem;
		margin: 0;
		margin-left: -1.5rem;
	}
	.ui-widget-content .ui-state-default {
		width: 3.6rem;
		height: 3.6rem;
		border-radius: 1rem;
		border: 0;
		outline: 0;
		background: #fff;
		box-shadow: $btn-shadow;
		cursor: pointer;
		&.ui-state-hover,
		&.ui-state-active {
			background: $light-green;
			outline: 0;	
		}
	}
	.ui-widget-content {
		border: 0;
    background: #eeeeee;
    color: $dark-gray;
	}
	.ui-widget-header {
		background: $light-green;
	}
	.ui-slider-horizontal {
		height: .6rem;
	}
}
.filter-slider__submit-btn {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	height: 3.6rem;
	width: 3.6rem;
	line-height: 3.8rem;
	font-size: 1.4rem;
	color: $light-gray;
	padding: 0;
	border: 0;
	border-radius: 1rem;
	outline: 0;
	transition: all .2s;
	text-transform: uppercase;
	background: transparent;
	appearance: none;
	border: 0;
	font-weight: 400;
	box-shadow: $btn-shadow;
	&:hover {
		background: $ghost-gray;
		color: #fff;
    box-shadow: none;
	}
	&:active {
		background: #000;
		color: #fff;
    box-shadow: none;
	}
}

/* filter-slider.scss end */