/* form-style.scss */

.form {
	textarea,
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="number"] {
		@extend .acc-form__input;
	}
	textarea {
		resize: vertical;
		min-height: 13rem;
	}
	.tsh-select {
		width: 100%;
	}
}

.form__input-wrapp {
	display: block;
	width: 100%;
	position: relative;
	margin-bottom: 4rem;
	/*&:after {
		content: "\f069";
		//content: "*";
		display: inline-block;
		font: normal normal normal 1rem/1 FontAwesome;
		//font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #ff0000;
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(-50%, -50%);
	}*/
}

.add_comment {
	display: inline-block;
	vertical-align: middle;
	& + img {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: .5rem;
	}
}

.form__title {
	text-align: center;
	font-size: 1.8rem;
	color: $dark-gray;
	margin-bottom: 3rem;
}

.form__label {
	font-size: 1.6rem;
	margin-bottom: 1rem;
	text-align: left;
	color: $medium-gray;
}

.form__desc {
	color: $ghost-gray;
	font-weight: 500;
	line-height: 1.4;
	margin-bottom: 1.5rem;
	> a {
		color: $light-green;
		text-decoration: none;
		font-style: italic;
		&:hover,
		&:active {
			text-decoration: underline;
		}
	}
	> i {
		display: inline-block;
		vertical-align: middle;
		font-size: 1.9rem;
		line-height: 1.4rem;
	}
}

.tsh-quantity-inpt {
	display: inline-block;
	position: relative;
	max-width: 9rem;
	padding: 0 2.2rem;
	> i {
		display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		font-size: 1.8rem;
		color: $light-gray;
		transition: color .2s;
		&:hover,
		&:active {
			color: $light-green;
		}
		&.minus {
			left: -.2rem;
		}
		&.plus {
			right: -.2rem;
		}
	}
	> input {
		display: inline-block;
		width: 100%;
		height: 3.5rem;
		padding: 0 .2rem;
		font-size: 1.4rem;
		color: $dark-gray;
		text-align: center;
		outline: 0;
		border: 0;
		border-radius: 1rem;
		box-shadow: $btn-shadow;
		appearance: none;
		&:hover,
		&:focus {
			box-shadow: $btn-shadow-hover;
		}
	}
}

.tsh-select {
	display: inline-block;
	width: auto;
	max-width: 100%;
	min-width: 8rem;
	.jq-selectbox__select-text {
		color: $light-gray;
	}
	.jq-selectbox__trigger {
		width: 2.6rem;
		border-left: 0;
		&:after {
			content: "\f107";
			display: inline-block;
			font: normal normal normal 2rem/1 FontAwesome;
			font-size: 2rem;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			position: absolute;
			top: 50%;
			transform-origin: 50% 50%;
			transform: translateY(-50%);
			right: 1rem;
			transition: all .2s;
		}
	}
	.jq-selectbox__trigger-arrow {
		display: none;
		/*
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
		width: 0;
		height: 0;
		 border-top: 8px solid $light-gray;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent; 
		transition: all .2s;
		*/
	}

	.jq-selectbox__select {
		height: 3.5rem;
		border: 0;
		padding-right: 3.5rem;
		border-radius: 1rem;
		box-shadow: $btn-shadow;
		background: #fff;
		outline: 0;
		transition: all .2s;
		&:hover,
		&:focus {
			outline: 0;
			box-shadow: $btn-shadow-hover;
		}
	}
	.jq-selectbox__dropdown {
		border: 0;
		border-radius: 1rem;
		box-shadow: $btn-shadow;
		background: #fff;
		outline: 0;
		overflow: hidden;
		transition: all .2s;
		z-index: 1000;
		max-width: 100%;
	}
	&.jq-selectbox ul {
		border-radius: 1rem;
		max-height: 17.4rem !important;
		li {
			&.selected {
				color: #fff;
				background-color: $light-green;
			}
			&:hover {
				color: #fff;
				background-color: $light-green;
			}
		}
	}
	&:hover {
		.jq-selectbox__trigger-arrow {
			border-top-color: $light-green;
		}
	}
	&.focused,
	&:focus {
		.jq-selectbox__select {
			border: 0;
		}
	}
	&.opened {
		position: relative;
		z-index: 10000 !important;
		.jq-selectbox__trigger {
			&:after {
				//content: "\f106";
				transform: translateY(-50%) rotateZ(180deg);
			}
		}
	}
}

.jq-selectbox.changed {
	.jq-selectbox__select-text {
		color: $dark-gray;
	}
}

/* form-rating */

.form-rating {
	display: block;
	padding: 0;
	position: relative;
	.form-rating__label {
		display: block;
		margin-bottom: .5rem;
		font-size: 1.6rem;
		color: $medium-gray;
		font-weight: 400;
	}
	.rating-symbol {
		display: inline-block;
		vertical-align: middle;
		font-size: 1.8rem;
		margin: 0 .1rem;
		cursor: pointer;
	}
	.rating-symbol-background {
		color: $ghost-gray;
	}
	.rating-symbol-foreground {
		color: #ff0033;
	}
}

/* form-rating end */

/* form promo */
.form__promo {
	margin-top: 2.5rem;
	color: $medium-gray;
	> p {
		font-size: 1.6rem;
		margin-bottom: 1rem;
	}
}

.form__promo-message {
	@extend .errorMessage;
	bottom: auto;
	top: 0;
	transform: translate(0, -110%);
	display: none;
	&:before {
		top: auto;
		bottom: .1rem;
		transform: translate(0, 100%);
		border-width: .5rem .5rem 0 .5rem;
		border-color: $white transparent transparent transparent;
	}
}

.form__promo-form {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 30px;
	position: relative;
	> input {
		min-width: 21rem;
		flex-basis: 21rem;
		margin-right: .5rem;
	}
	> a {
		font-size: 1.4rem;
		line-height: .95;
		padding: 1rem;
		background-color: $black;
		min-width: 14rem;
		flex-basis: 14rem;
		border-radius: 1rem;
		text-align: center;
		color: $white;
		transition-property: background-color;
		transition-duration: .2s;
		&:hover,
		&:focus {
			background-color: $light-green;
		}
	}
}

.form__promo-info {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	z-index: 9;
	width: 2rem;
	height: 2rem;
	padding: .3rem 0;
	background-color: #cacaca;
	border-radius: 50%;
	text-align: center;
	> svg {
		width: 1rem;
		height: 1.4rem;
	}
	// &:hover {
	// 	+ .form__promo-message {
	// 		display: block;
	// 	}
	// }
}

/* form promo end*/

.size-btn {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: auto;
	margin: 0 .5rem 1rem .5rem;
	//&:hover .size-btn_tooltip {
	//	opacity: 1;
	//	z-index: 2;
	//}
	> input[type="radio"] {
		display: none;
	}
	> span {
		display: inline-block;
		width: 3.6rem;
		height: 3.6rem;
		line-height: 3.6rem;
		vertical-align: middle;
		position: relative;
		text-align: center;
		font-size: 1.6rem;
		font-weight: 400;
		color: $dark-gray;
		box-shadow: $btn-shadow;
		border-radius: 1rem;
		transition: all .2s;
		&:hover {
			background-color: $light-gray;
			color: $white;
			box-shadow: none;
		}
	}
	> input[type="radio"]:checked + span {
		background-color: #000;
		color: #fff;
		box-shadow: none;
	}
}

.size-btn_tooltip {
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(.8rem);
	background-color: $white;
	text-align: center;
	padding: 1rem 1rem;
	border-radius: 1rem;
	box-shadow: $btn-shadow;
	white-space: nowrap;
	opacity: 0;
	z-index: 2;
	pointer-events: none;
	transition-property: opacity;
	transition-duration: .2s;
	transition-timing-function: ease-out;
	&:before {
		content: "";
		display: block;
		height: 1rem;
		width: 1rem;
		position: absolute;
		top: 0;
		left: 50%;
		-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
		box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.15);
		background: #fff;
		z-index: 3;
	}
}

.touch {
	.size-btn {
		margin-bottom: 3rem;
	}
	.size-btn_tooltip {
		padding: .8rem .8rem;
		font-size: 1.2rem;
		opacity: 0;
		transition-property: opacity, visibility;
	}
	.size-btn > input[type="radio"]:checked + span + .size-btn_tooltip {
		opacity: 1;
		visibility: visible;
	}
}

.tsh-checkbox {
	display: block;
	width: 100%;
	padding: .5rem 0;
	> input[type="checkbox"],
	> input[type="radio"] {
		display: none;
	}
	> span {
		display: inline-block;
		vertical-align: middle;
		padding-left: 3rem;
		position: relative;
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 1.2;
		color: $medium-gray;
		transition: color .2s;
		&:hover {
			color: $light-green;
		}
		&:before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 1.4rem;
			height: 1.4rem;
			border: 1px solid #d7d7d7;
			border-radius: .3rem;
			background-color: transparent;
			transition: all .2s;
		}
		&:after {
			content: "\e801";
			color: transparent;
			display: inline-block;
			vertical-align: middle;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			font-size: 1.7rem;
			font-family: fontello;
			font-style: normal;
			font-weight: 400;
			speak: none;
			text-decoration: inherit;
			font-variant: normal;
			text-transform: none;
			line-height: .5;
			text-align: center;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			transition: all .2s;
		}
	}
	> input[type="checkbox"]:checked + span:after,
	> input[type="radio"]:checked + span:after {
		color: #000;
	}
}

.tsh-checkbox {
	&.color-1 {
		> input[type="checkbox"]:checked + span:after {
			color: #000;
		}
		> span:before {
			background: #fff;
			border-color: #d7d7d7;
		}
	}
	&.color-2 {
		> input[type="checkbox"]:checked + span:after {
			color: #fff;
		}
		> span:before {
			background: #000;
			border-color: #000;
		}
	}
	&.color-3 {
		> input[type="checkbox"]:checked + span:after {
			color: #000;
		}
		> span:before {
			background: #66ccff;
			border-color: #66ccff;
		}
	}
	&.color-4 {
		> input[type="checkbox"]:checked + span:after {
			color: #fff;
		}
		> span:before {
			background: linear-gradient(to right, rgba(255, 0, 0, 1) 0%, rgba(255, 43, 0, 1) 16%, rgba(255, 191, 0, 1) 17%, rgba(223, 252, 5, 1) 32%, rgba(93, 213, 23, 1) 33%, rgba(223, 252, 5, 1) 33%, rgba(93, 213, 23, 1) 33%, rgba(0, 180, 66, 1) 50%, rgba(0, 216, 166, 1) 51%, rgba(0, 212, 254, 1) 67%, rgba(0, 64, 174, 1) 68%, rgba(22, 0, 144, 1) 84%, rgba(182, 0, 179, 1) 84%, rgba(255, 0, 166, 1) 100%);
			border-color: transparent;
		}
	}
	&.color-5 {
		> input[type="checkbox"]:checked + span:after {
			color: #000;
		}
		> span:before {
			background: linear-gradient(to top, #7b7c7c 0%, #e2e2e2 100%);
			border-color: #fff;
		}
	}
	&.color-6 {
		> input[type="checkbox"]:checked + span:after {
			color: #fff;
		}
		> span:before {
			background: #339900;
			border-color: #339900;
		}
	}
	&.color-7 {
		> input[type="checkbox"]:checked + span:after {
			color: #000;
		}
		> span:before {
			background: #ffff33;
			border-color: #ffff33;
		}
	}
	&.color-8 {
		> input[type="checkbox"]:checked + span:after {
			color: #000;
		}
		> span:before {
			background: #ff0000;
			border-color: #ff0000;
		}
	}
}

// validation styles
input.invalid {
	box-shadow: inset 0 1px 5px 1px rgba(167, 1, 1, 0.5);
}

// validation styles end
/* form-style.scss end */