/* img-slider.scss */
$img-slider-color: #000;
$img-slider-color-hover: #000;


.img-slider {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0 5rem;
	padding-bottom: 1rem;
	text-align: center;
	.slider__btn {
		display: block;
		width: 5rem;
		height: auto;
		position: absolute;
		top: 50%;
		background-color: transparent;
		border: 0;
		outline: 0;
		z-index: 100;
		text-align: center;
		padding: 1rem .5rem;
		> i {
			color: $img-slider-color;
			font-size: 3rem;
			transition: all .2s;
		}
		&:hover,
		&:hover {
			i {
				color: $img-slider-color-hover;
			}
		}
		&.slick-disabled {
			visibility: hidden;
		}
	}
	.slider__btn--prev {
		transform: translateY(-50%);
		left: 0;
	}
	.slider__btn--next {
		transform: translateY(-50%);
		right: 0;
	}
}

.img-slider__slide {
	display: block;
	width: 100%;
	height: auto;
	outline: 0;
	> a {
		display: block;
		margin: 0 auto;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
}


/* img-slider.scss end */