/* info-table.scss */

.info-table {
	max-width: 60rem;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 2rem;
	background-color: transparent;
	text-align: center;
	font-size: 1.4rem;
	th,
	td {
		text-align: center;
		vertical-align: middle;
		color: $dark-gray;
		border: 0;
		padding: .5rem;
	}
	> tbody > tr:nth-child(2n) {
		background-color: #f0f0f0
	}
	th,
	>tbody>tr>td:first-child {
		background-color: #f0f0f0;
		font-weight: bold;
	}
	th:nth-child(1),
	>tbody>tr:nth-child(2n)>td:nth-child(1) {
		background-color: #e1e1e1
	}
	> tbody > tr:hover > td,
	> tbody > tr:hover > th {
		background-color: $ghost-gray !important;
		color: $dark-gray !important;
	}
}




@media screen and (max-width: $screen-xs) and (orientation: portrait) {
	.table-rotate {
		min-height: 20rem;
		overflow-x: hidden;
		background: url(http://uares.bonprix.pl/mstatic/gfx/service/rotate.png) center center no-repeat transparent;
		&:after {
			content: "Поверните, чтобы отобразить таблицу";
			font-size: 1.4rem;
			font-weight: bold;
			bottom: 6.5rem;
			position: absolute;
			width: 100%;
			text-align: center
		}
	}
	.table-rotate table {
		display: none;
		font-size: 1.2rem;
	}
}

@media screen and (max-width: $screen-xs) and (orientation: landscape) {
	.table-rotate {
		min-height: 20rem;
		overflow-x: auto;
		min-width: 100%;
		background: transparent;
		&:after {
			display: none;
		}
	}
	.table-rotate table {
		display: table;
		font-size: 1.2rem;
	}
}


/* info-table.scss end */