.login {}
.login__inner {
	padding: 7rem 0 5.5rem 0;
}

.has--shadow {
	box-shadow: 0 2px 6px 0 rgba(#000, 0.18);	
	border-radius: .5rem;
	@extend .container-fluid;
	overflow: hidden;
}

.login__content {
	padding-left: 5rem;
	padding-right: 5rem;
	&--list {
		border-left: 1px solid rgba($ghost-gray, .3);
		.login__header {
			margin-bottom: 2.5rem;
		}
	}
	.acc-form__fieldset {
		margin-bottom: 1.15rem;
	}
	.acc-form__label {
		max-width: 100%;
	}
	.acc-form__footer {
		justify-content: flex-end;
	}
	.submit-btn {
		max-width: 22rem;
		background: #000;
		color: #fff;
		&:hover {
			background: $light-green;
		}
	}
}

.login__header {
	margin-bottom: 4rem;
	> div {
		font-size: 3.3rem;
		color: #000;
		margin-bottom: 1rem;
	}
	> p {
		font-size: 1.6rem;
		color: $dark-gray;
		font-weight: 300;
	}
}

.login__list {
	color: $dark-gray;
	> div {
		padding-left: 2rem;
		font-size: 1.6rem;
		text-transform: uppercase;
		margin-bottom: 3rem;
	}
	> ul {
		padding-left: 2rem;
		margin-bottom: 3.2rem;
		li {
			padding-left: 4rem;
			margin-bottom: 1.7rem;
			font-size: 1.3rem;
			position: relative;
			text-transform: uppercase;
			&:before {
				content: "\e801";
				display: inline-block;
				position: absolute;
				left: 1rem;
				top: 50%;
				transform: translate(0, -50%);
				font-family: fontello;
				font-size: 1.7rem;
				color: $light-green;
				font-weight: bold;
			}
		}
	}
}

.login__remember {
	.tsh-checkbox {
		padding: 0;
	}
	.filter__list {
		> li {
			margin-bottom: 0;
		}
	}

}

.login__remember {
	font-size: 1.4rem;
	line-height: 1.4rem;
	.tsh-checkbox > span {
		@extend .login__remember;
	}
}

.login__pass {
	text-align: right;
	font-size: 1.4rem;
	line-height: 1.4rem;
	> a {
		font-size: 1.4rem;
		color: $medium-gray;
		transition: color .2s;
		&:hover {
			color: $light-green;
		}
	}
}

@media only screen and (max-width: $screen-sm-max) {
	.login {
		padding: 4rem 0 2rem 0;
	}
	.has--shadow {
		box-shadow: none;
	}
	.login__inner {
		padding: 3rem .5rem;
		margin-bottom: 2.5rem;
	}
	.login__content--list {
		border-left: 0;
		max-width: 40rem;
		margin: 0 auto;
		padding: 0;
	}
	.login__header {
		margin-bottom: 2rem;
		text-align: center;
	}
	.login {
		.acc-form__fieldset {
			max-width: 40rem;
		}
		.acc-form__footer {
			display: block;
			margin-bottom: 4rem;
			text-align: center;
		}
	}

	.login__remember {
		.filter__list {
			margin-top: .5rem;
		}
	}
}

@media only screen and (max-width: $screen-xs) {
	.login__content {
		padding: 0;
	}
}