.acc-form---subscriptions {
	.acc-form__footer {
		padding: 0.35em 0.625em 0.75em;
	}

	.tsh-checkbox > p {
		color: $ghost-gray;
	}

	.tsh-checkbox > input[type="checkbox"]:checked + p {
		color: $medium-gray;
	}

}

@media only screen and (max-width: $screen-xs-max) {
	.acc-form.acc-form---subscriptions {
		max-width: 40rem;
	}
}