$color: #000;
$color--active: #fff;
.toggle-menu {
	display: none;
	width: 3rem;
	height: 3rem;
	position: fixed;
	z-index: 100;
	border: none;
	left: 2rem;
	top: 2rem;
	//transform: translateY(-50%);
	background-color: transparent;
	transform: translate(0, 0);
	outline: none;
	appearance: none;
	z-index: 1003;
	vertical-align: middle;
	transition: all .4s ease-out;
}

.swipe-menu {
	.toggle-menu {
		opacity: 0;
		position: absolute;
		left: 2rem;
		top: 2rem;
	}
}
body.active {
	.toggle-menu {
		opacity: 0;
		//transform: translateX(23rem);
	}
	.swipe-menu {
		.toggle-menu {
			opacity: 1;
		}
	}
}

.toggle-menu span {
	display: block;
}

.sandwich {
	width: 3rem;
	height: 3rem;
	position: absolute;
	top: 0;
	//bottom: 0;
	left: 0;
	//right: 0;
	margin: auto;
	> span {
		display: inline-block;
		position: absolute;
		left: 0;
		width: 2.8rem;
		height: .3rem;
		border: none;
		border-radius: .5rem;
		transition: all 0.5s;
		will-change: transform;
		background: $color;
		&.sw-top {
			top: .2rem;
		}
		&.sw-middle {
			top: 1.1rem;
		}
		&.sw-bottom {
			top: 2rem;
		}
	}
	&.active {
		> span {
			background: $color--active;
		}

		.sw-top {
			transform: rotate(-45deg);
		}
		.sw-middle {
			width: 3.5rem;
			transform: translateX(.5rem);
		}
		.sw-bottom {
			transform: rotate(45deg);
		}
	}
}

@media only screen and (max-width: $screen-sm-max) {
	.toggle-menu {
		display: inline-block;
	}
}