/* mobile-search.scss */

.m-search-wrapp {
	display: flex;
	display: none;
	//pointer-events: none;
	//opacity: 0;
	justify-content: center;
	align-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: 30rem;
	overflow-x: hidden;
	overflow-y: auto;
	background: rgba(0, 0, 0, 0.8);
	z-index: 10000;
	transition: all .2s;
}

.m-search {
	display: block;
	position: relative;
	width: 100%;
	//max-width: 50rem;
	height: auto;
	padding: 2rem 0;
	//padding-top: 6rem;
	background: transparent;
	outline: 0;
	//transform: translateY(-5rem);
	//opacity: 0;
	transition: all .3s;
}

/* .m-search__close {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	top: 1rem;
	right: 1rem;
	color: $ghost-gray;
	padding: 0;
	text-align: center;
	background: transparent;
	border: 0;
	outline: 0;
	box-shadow: none;
	appearance: none;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .2s;
	&:hover,
	&:active {
		color: red;
	}
	> i {
		display: inline-block;
		vertical-align: middle;
		font-size: 3rem;
	}
} */

.m-search__form {
	display: block;
	width: 100%;
	position: relative;
}

.m-search__input {
	display: block;
	width: 100%;
	height: auto;
	padding: 1rem 0;
	padding-right: 4rem;
	font-size: 1.8rem;
	color: #fff;
	outline: 0;
	background: transparent;
	border: 0;
	border-bottom: 2px solid rgba(255, 255, 255, 0.8);
	appearance: none;
	transition: all .2s;
	&::-webkit-input-placeholder {
		color: $light-gray;
	}
	/* Firefox 4-18 */
	&:-moz-placeholder {
		color: $light-gray;
	}
	/* Firefox 19+ */
	&::-moz-placeholder {
		color: $light-gray;
	}
	/* IE10+ */
	&:-ms-input-placeholder {
		color: $light-gray;
	}
	&:focus {
		//border-color: $active-color;
	}
}

.m-search__submit {
	display: block;
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	padding: 0;
	background: transparent;
	color: rgba(255, 255, 255, 0.9);
	appearance: none;
	border: 0;
	outline: 0;
	text-align: center;
	font-size: 2rem;
	transition: all .2s;
	&:hover,
	&:active {
		color: $light-green;
	}
}

/* .search-shown {
	.m-search-wrapp {
		pointer-events: auto;
		opacity: 1;
	}
	.m-search {
		transform: translateY(0);
		opacity: 1;
	}
} */


/* mobile-search.scss end */