.t-cart__col-order-quantity {
	display: inline-block;
  padding: .8rem 1.4rem;
  font-size: 1.4rem;
  text-align: center;
  color: $dark-gray;
  text-align: center;
  outline: 0;
  border: 0;
  border-radius: 1rem;
  box-shadow: $btn-shadow;
  transition: color .2s;
}

.t-cart__col-order-size {
	@extend .t-cart__col-order-quantity;
}

.order-list {
	margin-bottom: 2rem;
	> li {
		display: inline-block;
		margin-right: 1.5rem;
		margin-bottom: 1rem;
	}
	> li > a {
		color: $ghost-gray;
		@extend .t-cart__col-order-quantity;
		padding: .9rem 2.2rem;
		&.is-current {
				color: $medium-gray;
			}
		&:hover,
		&:active {
			color: $medium-gray;
		}
	}
}

.t-cart__order-number {
	font-size: 1.4rem;
	color: $ghost-gray;
	> span {
		font-size: 1.6rem;
		color: $medium-gray;
	}
}

.t-cart__order-status {
	font-size: 1.5rem;
	color: $ghost-gray;
  flex-basis: 16rem;
  text-align: center;
}

.t-cart__row--info {
	margin-top: 3rem;
	margin-bottom: -1rem;
}

.t-cart__desc {
	> span {
		font-size: 1.6rem;
		color: $medium-gray;
	} 
}



@media only screen and (max-width: $screen-xs-max) {
	.order-list {
		> li {
			margin-bottom: 1rem;
		}
	}

	.t-cart__row--info {
		border-bottom: none;
		margin: 0;
	}

	.t-cart__order-number {
		margin-bottom: 1rem;
	}

}