.page-not-found {
	background: #fff url(../img/i/404-bg.jpg) no-repeat;
	background-size: cover;
	background-position: 70% center;	
	padding: 5rem 3rem 3.5rem 3rem;
}

.not-found__header {
	text-align: center;
	color: #fff;
	margin-bottom: 3rem;
	> div {
		font-size: 6rem;
		font-weight: 900;
	}
	> p {
		font-size: 2.5rem;
	}
}

.not-found__search {
	width: 100%;
	max-width: 72rem;
	margin: 0 auto 3rem auto;
	text-align: center;
	> div {
		font-size: 2.5rem;
		color: #fff;
		font-weight: 300;
		margin-bottom: 1.5rem;
	}
}

.back-to-main {
	text-align: center;
	font-size: 1.6rem;
	> a {
		display: inline-block;
		position: relative;
		padding-left: 3rem;
		color: #fff;
		transition: color .2s;
		&:hover {
			color: $light-green;
		}
		&:after {
			content: '\e803';
			font-family: "fontello";
			position: absolute;
			left: .5rem;
			top: 50%;
			line-height: 1;
			transform: translate(0, -50%);
			font-size: 2rem;
		}
	}
}


@media only screen and (max-width: $screen-sm-max) {

}

@media only screen and (max-width: $screen-xs-max) {
	.not-found__header {
		margin-bottom: 2rem;
		> div {
			font-size: 4rem;
		} 
		> p {
			font-size: 2rem;
		}
	}
	.not-found__search {
		display: none;
	}
}

@media only screen and (max-width: $screen-xs) {

}