/* page-title.scss */
.page-title {
	margin-bottom: 2rem;
}
.page-title__title {
	font-size: 4.1rem;
	color: $light-gray;
}
.page-title__text {
	font-size: 1.4rem;
	color: $light-gray;
	line-height: 1.4;
	margin-bottom: 1rem;
}

@media only screen and (max-width: $screen-xs-max) {
	.page-title {
		text-align: center;
	}
	.page-title__title {
		font-size: 3rem;
	}
	.page-title__text {
		display: none;
	}
}
/* page-title.scss end  */