/* pagination.scss */
.pagination {
	display: block;
	width: 100%;
	margin-bottom: 2rem;
}

.pagination__prev,
.pagination__next,
.pagination__list {
	display: inline-block;
	vertical-align: middle;
}

.pagination--new {

	.pagination__list {
		> li {
			position: relative;
			> a {
				height: 3.6rem;
				line-height: 3.6rem;
				width: auto;
				text-align: center;
				padding: 0 1.6rem;
				font-size: 1.4rem;
				&.active {
					padding: 0 2.7rem 0 1.6rem;
					position: relative;
					&:before {
						content: "\f107";
						font-family: "FontAwesome";
						position: absolute;
						top: 50%;
						right: 1.3rem;
						transform: translate(0, -50%);
					}
					&.is-open {
						&:before {
							content: "\f106";
							font-family: "FontAwesome";
						}
					}
				}
				&.pagination__prev,
				&.pagination__next {
					font-size: 1.6rem;
					padding: 0;
					width: 3.6rem;
				}
			}
		}
		.is-open + .pagination__sublist {
			transform: translate(0, 0);
			opacity: 1;
			pointer-events: auto;
		}
	}
	.pagination__sublist {
		position: absolute;
		transform: translate(0, 1rem);
		top: 4.6rem;
		left: 0;
		z-index: 2;
		opacity: 0;
		pointer-events: none;
		width: 100%;
		transition: transform .3s, opacity .3s;
		> li {
			display: block;
			width: 100%;
			&:last-child a {
				border-bottom-left-radius: 1rem;
				border-bottom-right-radius: 1rem;
			}
			&:first-child a {
				border-top-left-radius: 1rem;
				border-top-right-radius: 1rem;
			}
			> a {
				display: block;
				height: 3.6rem;
				line-height: 3.6rem;
				width: 100%;
				text-align: center;
				padding: 0 1.6rem 0 1.6rem;
				font-size: 1.4rem;
				box-shadow: $btn-shadow;
				background: #fff;
				color: $medium-gray;
				transition: box-shadow .2s, background .2s;
				&:hover,
				&:focus {
					background: $ghost-gray;
					box-shadow: none;
				} 
			}
		}
	}
}

.pagination-top {
	position: absolute;
	top: 0;
	width: auto;
	display: inline-block;
	right: 1.5rem;
}

.pagination-bottom {
	position: absolute;
	right: 1.5rem;
	top: 0;
	width: auto;
	display: inline-block;
}
.pagination__list {
	> li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 2px 8px 2px;
		color: $light-gray;
		> a {
			display: block;
			height: 3.6rem;
			width: 3.6rem;
			line-height: 3.6rem;
			background: #fff;
			color: $medium-gray;
			text-align: center;
			font-size: 1.4rem;
			border-radius: 1rem;
			box-shadow: $btn-shadow;
			transition: all .2s;
			&:hover {
				background: $ghost-gray;
				box-shadow: none;
			}
			&:active,
			&.active {
				background: #000;
				color: #fff;
				box-shadow: none;
			}
			&.pagination__prev,
			&.pagination__next {
				font-size: 2.2rem;
				color: $light-gray;
			}
			&.pagination__prev {
				padding-right: .2rem;
			}
			&.pagination__next {
				padding-left: .2rem;
			}
		}
		> span {
			color: $medium-gray;
		}
	}
}

@media only screen and (max-width: $screen-sm-max) {
	.pagination-top {
		display: none;
	}
}

@media only screen and (max-width: 40em) {
	.pagination-bottom {
		position: static;
		display: block;
		width: 100%;
	}
}

/* pagination.scss end */