/* pop-up.scss */
.h-pop-up-wrapper {
	display: none;
}

.pop-up-is-showed {
	@extend .prevent-ios-scroll;
	overflow: hidden !important;
	.header,
	.top-menu,
	.wrapper {
		transition: filter .15s;
		filter: blur(3px);
	}
}

/* .pop-up--fade-anim {
	.pop-up {
		opacity: 1;
		transform: translateY(0);
	}
} */
/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;
	transition: all 0.2s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: .3;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap {
	overflow-y: auto;
	overflow-x: hidden;
}

// .mfp-container {
// 	height: auto;
// 	min-height: 100%;
// }

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	//transition: all 0.3s ease-out;
	transform: translateY(5rem);
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
	transition: all 0.3s ease-out;
	transform: translateY(0);
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: .1;
	transition: all 0s ease-out;
	transform: translateY(5rem);
}

.pop-up {
	width: 100%;
	max-width: 87rem;
	margin: 0 auto;
	position: relative;
	//opacity: 0;
	//transform: translateY(-2rem);
	transition: all .2s;
	.mfp-close {
		font-size: 5rem;
		font-weight: 300;
		font-family: "Lato", "Arial", "sans-serif";
		top: -4.4rem;
		right: -4.4rem;
		color: #f5f5f5;
	}
}

.pop-up--review {
	max-width: 56rem;
}

.pop-up--in-store {
	width: 95%;
	.mfp-close {
		top: 0;
		right: 0;
		color: $medium-gray;
	}
}

.pop-up__content {
	width: 100%;
	border-radius: 1rem;
	background: #fff;
	padding: 4rem 3.5rem;
}

.pop-up__title {
	font-size: 1.8rem;
	color: $medium-gray;
	line-height: 1.2;
}

.pop-up__text {
	font-size: 1.6rem;
	color: $light-gray;
	line-height: 1.2;
	margin-bottom: 5rem;
}

.pop-up--fast-view {
	max-width: 90rem;
}

.pop-up--alert {
	max-width: 56rem;
	width: 90%;
	text-align: center;
}

.pop-up__size-link {
	display: inline-block;
	color: $light-gray;
	font-size: 1.6rem;
	margin-bottom: 2rem;
	font-style: italic;
	transition: all .2s;
	&:hover,
	&:active {
		color: $light-green;
	}
}

.alert {
	text-align: center;
	max-width: 32rem;
	margin: 0 auto;
}

.alert__logo {
	display: block;
	width: 9.5rem;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 2.5rem;
}

.alert__title {
	font-size: 1.8rem;
	text-transform: uppercase;
	color: #000;
	font-weight: 500;
	margin-bottom: 1rem;
}

.alert__text {
	font-size: 1.5rem;
	color: $medium-gray;
	font-weight: 400;
}

/* popup rating */
$box-colour: (  //rating stars color
	1: #ff9999,
	2: #ff6666,
	3: #ff3333,
	4: #ff0000,
	5: #cc0000
);


.pop-up--rating {
	max-width: 52rem;
	line-height: 1.4;
	padding-top: 8rem;
	.pop-up__content {
		padding-top: 11.5rem;
		padding-left: 2.5rem;
		padding-right: 2.5rem;
		padding-bottom: 2.5rem;
		position: relative;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	.form__title {
		max-width: 35rem;
		margin: 0 auto 1.5rem auto;
		font-size: 2rem;
		text-transform: uppercase;
		color: #363636;
	}
	.mfp-close {
		top: -4rem;
		right: -4rem;
		font-size: 4rem;
	}
	.form__text {
		font-size: 1.5rem;
		color: $dark-gray;
		max-width: 40rem;
		margin: 0 auto 2rem auto;
		text-align: center;
	}
	.form__data {
		label {
			display: block;
			width: 100%;
			max-width: 100%;
			position: relative;
		}
		textarea {
			position: relative;
			z-index: 3;
			margin-bottom: 1rem;
			min-height: 11rem;
			padding: 1rem;
			background-color: rgba($white, .7);
		}
		input[type="text"],
		input[type="email"] {
			position: relative;
			z-index: 3;
			margin-bottom: 2rem;
			padding: 1rem;
			width: 100%;
			max-width: 100%;
			background-color: rgba($white, .7);
		}
		input[type="submit"] {
			max-width: 20rem;
			position: relative;
			z-index: 3;
		}
	}
	.form-rating {
		text-align: center;
		margin-bottom: 2rem;
		.rating-symbol {
			font-size: 3.8rem;
		}
		@each $key, $colour in $box-colour {
			.rating-symbol:nth-child(#{$key}) {
				.rating-symbol-foreground {
					color: $colour; 
				}
			}
		}
	}
}

.pop-up_rating-logo {
	position: absolute;
	top: -8rem;
	left: 50%;
	transform: translate(-50%, 0);
	width: 16.5rem;
	height: 16.5rem;
	border-radius: 50%;
	box-shadow: $btn-shadow;
	background-color: $white;
	text-align: center;
	> img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: auto;
		max-width: 100%;
		height: auto;
		display: block;
	}
}

.pop-up_rating-shoes {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(21.5%, 7.5%);
	z-index: 2;
	> img {
		width: auto;
		max-width: 100%;
		height: auto;
		display: block;
	}
}
/* popup rating end */

.pop-up--in-store {
	max-width: 100rem;
}
.pop-up--question {
	max-width: 68rem;

	.form-rating {
		text-align: center;
		margin-bottom: 2rem;
		.rating-symbol {
			font-size: 3.8rem;
		}
		@each $key, $colour in $box-colour {
			.rating-symbol:nth-child(#{$key}) {
				.rating-symbol-foreground {
					color: $colour;
				}
			}
		}
	}
}
@media only screen and (max-width: $screen-sm-max) {
	.pop-up {
		.mfp-close {
			width: 3rem;
			height: 3rem;
			font-size: 2.8rem;
			top: 0;
			right: 0;
			color: $dark-gray;
		}
	}
	.pop-up--question {
		margin-bottom: 6rem;
		.pop-up__content {
			padding: 2rem;
		}
	}
}

// jivosite fix
#jivo-state-widget,
#jivo-iframe-container-bottom,
#jivo-iframe-container {
	z-index: 99 !important;
}

/* pop-up.scss end */