/* price.scss */
.price {
	display: inline-block;
	font-size: 2.7rem;
	text-align: center;
	line-height: 1.2;
	font-family: CenturyGothic;
	word-spacing: 0;
	color: $black;
	> small {
		display: inline;
		vertical-align: baseline;
		font-size: 45%;
		color: $light-gray;
		text-transform: uppercase;
		padding-left: .2rem;
	}
}
.price--cart-table {
	font-size: 2.3rem;
}
.price--cart-total {
	min-height: 4.4rem;
	line-height: 1.5;
	font-size: 3rem;
	padding-left: 1rem;
}
.price--product {
	@extend .price;
	//font-size: 3.6rem;
}
.price--fv {
	font-size: 3.2rem;
	margin-bottom: 0;
}
/* price.scss end */