/* prod-gallery.scss */
.prod-gallery {
	display: block;
}

.prod-gallery__img {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 2.5rem;
}

.prod-gallery__name {
	font-size: 1.4rem;
	margin-bottom: 0;
	transition: all .2s;
}

.prod-gallery__slide {
	display: block;
	margin: 0 1rem;
	padding: 0 .5rem;
	color: $light-gray;
	text-align: center;
	line-height: 1.2;
	outline: 0 !important;
	transition: all .2s;
	&:hover,
	&:active {
		.prod-gallery__name {
			color: $light-green;
		}
	}
}
.prod-gallery__inner {
	display: block;
	margin: 0 auto;
	max-width: 25rem;
}
.prod-gallery {
	// grid mode
	&.is-grid {
		text-align: center;
		.slick-list {
			padding: 0 !important;
		}
		.slick-track {
			transform: none !important;
			margin: 0 auto;
		}
		.prod-gallery__slide {
			display: inline-block !important;
			float: none !important;
			opacity: 1;
			.prod-gallery__name,
			.price {
				opacity: 1;
			}
		}
	}
	// gallery mode
	.prod-gallery__slide {
		opacity: .5;
		transition-property: opacity;
		transition-duration: .15s;
		transition-timing-function: ease-out;
		.prod-gallery__name,
		.price {
			opacity: 0;
			transition-property: opacity;
			transition-duration: .15s;
		}
		//&.slick-current,
		&.slick-active {
			opacity: 1;
			.prod-gallery__name,
			.price {
				opacity: 1;
			}
		}
	}
}
@media only screen and (max-width: $screen-xs) {
	.section--prod-gallery {
		/*.container-fluid,
		[class*="col-"] {
			padding-left: 0;
			padding-right: 0;
		}
		.row {
			margin-left: 0;
			margin-right: 0;
		}
		.s-title {
			padding-left: 15px;
			padding-right: 15px;
		}*/
	}
	.prod-gallery {
		.prod-gallery__slide {
			opacity: .5;
			transition-property: opacity;
			transition-duration: .2s;
			transition-timing-function: ease-out;
			.prod-gallery__name,
			.price {
				opacity: 0;
				transition-property: opacity;
				transition-duration: .3s;
			}
			&.slick-current,
			&.slick-active {
				opacity: 1;
				.prod-gallery__name,
				.price {
					opacity: 1;
				}
			}
		}
	}
}

/* prod-gallery.scss end */