.registration {


	.acc-form__fieldset {
		padding: 0;
	}
	.submit-btn--account {
		width: 100%;
	}
	[class^="col-"] {
		padding-left: 25px;
		padding-right: 25px;
	}
}
.registration__inner {
	padding: 7rem 0 9rem 0;
}


@media only screen and (max-width: 47.94em) {
	.filter--margin {
		margin-bottom: 2rem;
	}
	.registration__inner {
		padding: 3rem 0 3rem 0;
	}
}

@media only screen and (max-width: $screen-xs) {
	.registration--col {
		margin-left: 0;
	}
}
