.remind {

}

.remind_links {
	padding: 25px 0 4rem 0;
	a {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
}

.login__content .submit-btn.remind_btn {
	background: $light-green;
	&:hover {
		background: $black;
	}
}