/* review.scss */

.reviews {
	text-align: center;
	margin-bottom: 5rem;
}

.reviews--fixed-form {
	min-height: 16rem;
	padding-right: 315px;
	position: relative;
}

.reviews__fixed-form-wrapp {
	width: 30rem;
	height: auto;
	padding: 0 15px;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(0, 0);
	will-change: transform;
	&.fixed {
		//background: red;
	}
	&.fixed-bottom {
		//background: green;
	}
}

.reviews__item {
	display: block;
	margin-bottom: 4rem;
}

.reviews-header {
	display: block;
	margin-bottom: .5rem;
}

.reviews__name,
.reviews__time,
.reviews__rating {
	display: inline-block;
	vertical-align: middle;
	margin: 1rem .5rem;
	line-height: 1.2;
}

.reviews__name {
	font-size: 1.4rem;
	color: $dark-gray;
}

.reviews__time {
	font-size: 1.4rem;
	color: $ghost-gray;
}

.reviews__rating {
	> i {
		display: inline-block;
		vertical-align: middle;
		font-size: 1.8rem;
		margin: 0;
		letter-spacing: -.2rem;
		color: $ghost-gray;
	}
}

@for $i from 0 through 5 {
	.reviews__rating--#{$i} {
		i:nth-child(-n+#{$i}) {
			color: #ff0000;
		}
	}
}

.reviews__text {
	font-size: 1.6rem;
	font-style: italic;
	font-weight: 400;
	color: $medium-gray;
}

.reviews__desc-text {
	font-size: 1.4rem;
	color: $medium-gray;
	margin-bottom: 1rem;
	text-align: center;
}

@media only screen and (max-width: $screen-sm-max) {
	.reviews {
		text-align: center;
		margin-bottom: 5rem;
	}
	.reviews--fixed-form {
		padding: 0;
		position: relative;
	}
	.reviews--no-reviews,
	.reviews__fixed-form-wrapp {
		width: 100%;
		max-width: 40rem;
		margin: 0 auto;
		text-align: center;
		position: static;
	}
}

@media only screen and (max-width: 32em) {
	.reviews__item {
		text-align: left;
		.submit-btn {
			display: block;
			max-width: 34.5rem;
			margin: 0 auto;
		}
	}
	.reviews__name,
	.reviews__time,
	.reviews__rating {
		margin: 0 .5rem;
		margin-bottom: .5rem;
	}
	.reviews__content {
		padding-top: .5rem;
	}
}
/* review.scss end */