/* .section-title.scss */
.s-title {
	display: block;
	text-align: center;
	margin-bottom: 4rem;
	line-height: 1.2;
}

.s-title__title {
	font-size: 2.7rem;
	font-weight: 400;
	color: $dark-gray;
	margin: 0 auto;
	padding: 0;
}

.s-title__text {
	font-size: 1.8rem;
	font-weight: 300;
	color: $medium-gray;
	margin: 0 auto;
	padding: 0;
}

@media only screen and (max-width: $screen-xs-max) {
	.s-title {
		font-size: 2.4rem;
		margin-bottom: 2rem;
		line-height: 1.4;
	}
	.s-title__title {
		font-size: 2.4rem;
		color: $black;
	}
	.s-title__text {
		font-size: 1.2rem;
		color: $medium-gray;
	}
}

@media only screen and (max-width: $screen-xs) {

}

/* .section-title.scss end */