/* seo-text.scss */
.seo,
.seo-text {
	text-align: left;
	margin-bottom: 6rem;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 1.8rem;
		color: $dark-gray;
		font-weight: 500;
		padding-top: 2rem;
		padding-bottom: 3rem;
	}
	p {
		font-size: 1.6rem;
		color: $light-gray;
		font-weight: 300;
		margin-bottom: 3rem;
		text-indent: 0;
	}
	//> p:last-child {
	//	margin-bottom: 0;
	//}
}
/* seo-text.scss end */