.prevent-ios-scroll {
	height: 100% !important;
	overflow-y: hidden !important;
	body {
		height: 100% !important;
		overflow-y: hidden !important;
	}
}

.swipe-menu {
	display: block;
	height: 100%;
	width: 30rem;
	max-width: 100%;
	padding: 2rem;
	padding-top: 5rem;
	font-size: 1.6rem;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	will-change: transform;
	transform: translate3d(0, 0, 0) translateX(-30rem);
	transition: all .4s ease-out;
	background: $dark-gray;
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	z-index: 1001;
	overflow-x: hidden;
	overflow-y: auto;
	opacity: .1;
	&.active {
		transform: translateX(0);
	}
}

@media only screen and (max-width: $screen-sm-max) {
	//.section--top-banner,
	//.top-menu,
	.section--sub-h-banner,
	.header,
	.wrapper {
		//transform: translateX(0);
		//transition: transform .4s ease-out;
		transition: all .3s ease-out;
		will-change: filter;
	}

	body.active {
		overflow: hidden;
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, 0);
			z-index: 1000;
		}
		.header {
			//visibility: hidden;
		}
		.toggle-menu {
			visibility: visible;
		}

		.swipe-menu {
			transform: translateX(0);
			//box-shadow: 0 -2px 5px 2px rgba(0, 0, 0, 0.4);
			opacity: 1;
		}
		.section--sub-h-banner,
		.header,
		.wrapper {
			//transform: translateX(20rem);
			filter: blur(3px);
		}
	}

	/* inner content */
	.swipe-menu_list {
		display: block;
		margin-bottom: 2rem;
		li {
			display: block;
			a {
				display: inline-block;
				font-size: 1.6rem;
				color: $white;
				padding: 1rem 0;
			}
		}
	}

	/* dl-menu style */
	.dl-menuwrapper {
		margin-bottom: 3rem;
		li > a {

		}
		.dl-menu {
			opacity: 1;
			pointer-events: auto;
			transform: translateY(0);
			position: relative;
		}
	}

	.dl-menuwrapper {
		ul {
			background-color: transparent;
			li {
				a {
					font-size: 1.6rem;
					border-bottom: 1px solid rgba(102, 102, 102, 0.4);
					padding: 1.5rem 0;
					&:after {
						color: #fff;
						right: .5rem;
						font-size: 2rem;
					}
					&:hover,
					&:active,
					&:hover:after,
					&:active:after {
						color: $light-green;
						background: transparent;
					}
				}
				&:last-child {
					> a {
						border: 0;
					}
				}
				.dl-back {
					&:after {
						color: #fff;
						left: .5rem;
						font-family: FontAwesome;
						content: "\f105";
						font-size: 2rem;
					}
					&:hover,
					&:active {
						&:after {
							color: $light-green;
						}
					}
				}
			}
		}
	}

	.dl-menuwrapper li.dl-back > a,
	.no-touch .dl-menuwrapper li a:hover {
		background: transparent;
	}
	.dl-menuwrapper .dl-current > a {
		padding-right: 5rem;
		color: $light-green;
		&:after {
			right: .5rem;
			position: absolute;
			top: 0;
			color: $light-green;
			line-height: 5rem;
			font-family: FontAwesome;
			speak: none;
			-webkit-font-smoothing: antialiased;
			content: "\f105";
		}
	}
	.dl-menuwrapper li.dl-back:after,
	.dl-menuwrapper li > a:not(:only-child):after {
		font-family: FontAwesome;
		content: "\f105";
		font-size: 2rem;
	}
	/* dl-menu style end */
	/* inner content end */
}