/* text-banner.scss */
.t-banner {
	display: block;
	width: 100%;
	max-width: 49rem;
	height: auto;
	margin: 0 auto;
	margin-bottom: 3rem;
	position: relative;
	color: #fff;
	transition: color .2s;
	cursor: pointer;

}

.t-banner__img {
	display: block;
	width: 100%;
	height: auto;
}

.t-banner__content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: transparent;
	transition: all .2s;
}

.t-banner__title {
	font-size: 3rem;
	text-shadow: 0 0 8px #000;
	margin-bottom: 1rem;
	line-height: 1.2;
}

.t-banner__text {
	font-size: 1.8rem;
	text-shadow: 0 0 8px #000;
	margin-bottom: 0;
	line-height: 1.2;
}

.t-banner:hover {
	.t-banner__content {
		background: rgba(0, 0, 0, 0.4);
	}
}

@media only screen and (max-width: $screen-xs-max) {
	.t-banner {
		&:hover {
			.t-banner__content {
				background: transparent;
			}
		}
	}
	.t-banner__img {
		border-radius: 1rem;
	}
	.t-banner__content {
		display: block;
		position: relative;
		transform: none;
		color: $medium-gray;
		font-weight: 300;
		padding: 1rem 0;
		text-align: center;
	}
	.t-banner__title {
		font-size: 1.3rem;
		text-shadow: none;
		margin-bottom: 0;
		line-height: 1.2;
	}
	.t-banner__text {
		font-size: 1.3rem;
		text-shadow: none;
		margin-bottom: 0;
		line-height: 1.2;
	}
}

/* text-banner.scss end */