/* top-menu.scss */

$top-menu-height: 3.4rem;

.prevent-scroll {
	overflow: hidden !important;
}

.top-menu {
	position: absolute;
	left: 0;
	top: 19rem;
	width: 100%;
	height: $top-menu-height;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
	background: #000;
	z-index: 102;
	transition: opacity .2s;
	opacity: 0;
}
.top-menu__inner {
	width: 100%;
	max-width: $content-max-width;
	margin: 0 auto;
	padding: 0 $grid-gutter-width/2;
}
.top-menu--no-padding {
	padding: 0;
}

.no-js .top-menu {
	opacity: 1;
}
.top-menu__list {
	display: block;
	width: 100%;
	position: relative;
	@include clearfix;
	> li {
		display: inline-block;
		float: left;
		vertical-align: middle;
		line-height: $top-menu-height;
		height: $top-menu-height;
		&.top-menu__cart {
			float: right;
			background: #fff;
			.m-cart__icon {
				position: relative;
				padding: 0 1.2rem;
				padding-left: 5rem;
				height: $top-menu-height;
				line-height: 3.3rem;
			}
		}
		> a {
			display: inline-block;
			padding: 0 3rem;
			font-size: 1.5rem;
			line-height: $top-menu-height;
			height: $top-menu-height;
			color: $ghost-gray;
			text-transform: uppercase;
			transition: all .2s;
		}
		.top-menu__icon {
			font-size: 120%;
			color: red;
			display: inline-block;
			vertical-align: middle;
			margin-right: .5rem;
		}
		//&:hover,
		//&:active,
		&.is-active {
			z-index: 101;
			> a {
				position: relative;
				background: #fff;
				color: #000;
				box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.15), -1px 0 3px 0 rgba(0, 0, 0, 0.15);
			}
			.top-menu__sub-block {
				opacity: 1;
				pointer-events: auto;
				visibility: visible;
				transform: translateY(0);
			}
		}
		&.is-current {
			> a {
				background: #fff;
				color: #000;
			}
		}
	}
}

.top-menu__sub-block {
	display: block;
	position: absolute;
	top: $top-menu-height;
	left: 0;
	right: 0;
	height: auto;
	padding: 4rem 5rem;
	padding-top: 2rem;
	box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.15);
	background: #fff;
	transition: all .3s ease-out;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	transform: translateY(2rem);
	z-index: 2;
	max-height: 90vh;
	overflow: auto;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.top-menu__title {
	font-size: 4.1rem;
	color: $ghost-gray;
}

.top-menu__text {
	font-size: 1.4rem;
	color: $ghost-gray;
	line-height: 1.4;
	margin-bottom: 0;
}

.top-menu__sub-content {
	display: block;
	width: 100%;
	padding-top: 2rem;
	//overflow: hidden; /* clearfix */
}

.top-menu__sub-menu {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 100%;
	//
	padding-right: 5%;
	position: relative;
	float: left;
	border-right: 1px solid $ghost-gray;
}


.top-menu__sub-content--one-col {
	.top-menu__sub-menu {
		width: 25%;
		max-width: 25%;
	}
	.top-menu__sub-list {
		//column-count: 1;
		//width: 25%;
	}
	.top-menu__img-grid {
		width: 75%;
		> li {
			width: 20%;
		}
	}
}
.top-menu__sub-content--two-col {
	.top-menu__sub-menu {
		width: 40%;
		max-width: 40%;
	}
	.top-menu__sub-list {
		//column-count: 2;
		//width: 40%;
		//column-gap: 1rem;
		//-webkit-column-span: 6;
    //column-span: 6;
	}
	.top-menu__img-grid {
		width: 60%;
		max-width: 60%;
		> li {
			width: 25%;
		}
	}
}
.top-menu__sub-content--three-col {
	.top-menu__sub-menu {
		width: 55%;
	}
	.top-menu__sub-list {
		//column-count: 3;
		//width: 55%;
	}
	.top-menu__img-grid {
		width: 45%;
		> li {
			width: 33.33%;
		}
	}
}

.top-menu__sub-list {
	display: block;
	padding-right: 2rem;
	&:last-child {
		padding-right: 0;
	}
	> li {
		display: list-item;
		line-height: 1;
		//-webkit-column-break-inside: avoid;
		// page-break-inside: avoid;
		// break-inside: avoid;
		> a {
			display: block;
			color: $medium-gray;
			font-size: 1.6rem;
			padding-bottom: 1rem;
		}
	}
	/* &:after {
		content: "";
		display: block;
		position: absolute;
		right: 6rem;
		top: 0;
		bottom: 0;
		width: 1px;
		background: $ghost-gray;
	} */
}

.top-menu__counter {
	color: $ghost-gray;
}

.top-menu__img-grid {
	float: left;
	padding-left: 5%;
	> li {
		display: block;
		width: 20%;
		float: left;
		padding: 0 1%;
		> a img {
			display: block;
			width: 100%;
			height: auto;
			max-width: 100%;
		}
	}
}


.m-cart_label {
	position: absolute;
	top: .2rem;
	left: 1.2rem;
	display: inline-block;
	padding-right: 1rem;
	vertical-align: middle;
	> i {
		font-size: 2.4rem;
		color: #000;
		vertical-align: middle;
	}
}

.m-cart__ntfn {
	display: block;
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 50%;
	background: #ff0000;
	text-align: center;
	line-height: 1.7rem;
	font-size: .9rem;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
}

.m-cart__sum {
	font-size: 2.4rem;
	color: $black;
	vertical-align: middle;
}

.m-cart_curr {
	font-size: 1.2rem;
	color: $light-gray;
	vertical-align: baseline;
}


@media only screen and (max-width: $screen-sm-max) {
	
	.top-menu {
		display: none;
	}
	
}
/* top-menu.scss end */