/* account-page.scss */
.account {}
.account__header {
	padding: 3rem 0;
}
.account__page-title {
	font-size: 4.1rem;
	line-height: 1;
	color: $dark-gray;
	font-weight: 500;
}
.account__page-sub-title {
	font-size: 1.4rem;
	color: $ghost-gray;
	line-height: 1.4;
	margin-bottom: 1rem;
	font-weight: 500;
}
.account__sidebar {
	padding-right: 1rem;
}
.account__nav {}
.account__nav-list {
	display: block;
	margin: 0 auto;
	width: 100%;
	> li {
		display: block;
		margin-bottom: .3rem;
		&.is-current {
			a {
				color: $medium-gray;
				box-shadow: $btn-shadow;
			}
		}
		> a {
			display: inline-block;
			width: 100%;
			color: $ghost-gray;
			font-size: 1.8rem;	
			padding: .8rem 2.5rem;
			//background: #fff;
			border-radius: 1rem;
			transition: color .2s,
				box-shadow .2s;
			&:hover,
			&:active {
				color: $medium-gray;
				box-shadow: $btn-shadow;
			}
		}
	}
}
.account__content {
	padding-left: 5rem;
	position: relative;
	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 0;
		top: 0;
		bottom: 0;
		left: -$grid-gutter-width;
		border-left: 1px solid rgba($ghost-gray, .3);
	}
}
.account__discount {
	p {
		color: $light-gray;
		font-size: 1.6rem;
	}
	h1 {
		color: #000;
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}
	h2 {
		color: #000;
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}
	h3 {
		color: $light-gray;
		font-size: 1.6rem;
		margin-bottom: 1rem;
	}
}


.account__form {}
/* acc-form  */
.acc-form {
	display: block;
	width: 100%;
	max-width: 77rem;
	margin: 0 auto;
}
.acc-form__fieldset {
	display: block;
	margin: 0 auto;
	margin-bottom: 2rem;
	border: 0;
}
.acc-form__title {
	display: block;
	width: 100%;
	font-size: 1.8rem;
	color: $medium-gray;
	margin: 0 auto;
	//margin-bottom: 0;
	text-align: left;
}

.acc-form__label {
	position: relative;
	display: block;
	width: 100%;
	max-width: 36rem;
	margin-bottom: 1.5rem;
	.tsh-select {
		width: 100%;
	}
}
.acc-form__label-text {
	display: block;
	margin: 0 auto;
	margin-bottom: .5rem;
	text-align: right;
	color: $ghost-gray;
	font-size: 1.4rem;
	padding: 0;
	line-height: 1;
}
.acc-form__input {
	display: block;
	width: 100%;
	padding: .8rem 1.5rem;
	font-size: 1.4rem;
	border-radius: 1rem;
	border: 0;
	outline: 0;
	appearance: none;
	box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.15);
	color: $light-gray;
	transition: all .2s;
	&:focus {
		box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.3);
	}
	&.invalid {
		box-shadow: inset 0 1px 5px 1px rgba(167, 1, 1, 0.5);
	}
	&::-webkit-input-placeholder {
		color: $ghost-gray;
	}
	&:-moz-placeholder {
		color: $ghost-gray;
	}
	&::-moz-placeholder {
		color: $ghost-gray;
	}
	&:-ms-input-placeholder {
		color: $ghost-gray;
	}
}

.add_comment {
	margin-right: .5rem;
}

.acc-form__input-captcha {
	@extend .acc-form__input;
	display: inline-block;
	width: auto;
}

textarea.acc-form__input {
	resize: vertical;
	min-height: 13rem;
}
.acc-form__footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.acc-form__desc {
	color: $medium-gray;
	font-style: italic;
	font-weight: 500;
	line-height: 1.4;
	margin-bottom: 15px;
	padding: 0 1.5rem;
	> i {
		display: inline-block;
    vertical-align: middle;
    font-size: 1.9rem;
    line-height: 1;
	}
}
/* acc-form end */


//contacts typography
.account__title {
	display: block;
	color: $dark-gray;
	font-weight: 700;
	font-size: 2.5rem;
	margin-bottom: 1em;
}
.account__article {
	font-size: 1.4rem;
	color: $light-gray;
	line-height: 1.4;
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6 {
		display: block;
		margin-bottom: 0;
		font-size: 1.8rem;
		color: $dark-gray;
		font-weight: 700;
	}
	h2,
	.h2 {
		font-size: 2.5rem;
		margin-bottom: 1em;
	}
	p {
		color: $light-gray;
		margin-bottom: 1.2em;
	}
	a,
	.a {
		color: $light-green;
		&:hover,
		&:active {
			text-decoration: underline;
		}
	}
	ul {
		display: block;

		li {
			display: block;
			padding-left: 1em;
			margin-bottom: 1em;
			position: relative;
			&:after {
				content: "";
				display: block;
				width: .6rem;
				height: .6rem;
				position: absolute;
				top: .6em;
				left: 0;
				background-color: $light-gray;
				border-radius: 50%;
			}
		}
	}
	.account__phone {
		display: block;
		position: relative;
		line-height: 1.4;
		padding-left: 1.2em;
		font-size: 2.6rem;
		font-weight: 700;
		color: $dark-gray;
		margin-bottom: 0;
		> i {
			position: absolute;
			top: .3em;
			left: 0;
		}
	}
}
//contacts typography end
//contacts page
.account__contact {
	padding-right: 2rem;
}

.account__phones {
	margin-bottom: 2rem;
}
.account__contact-form {
	max-width: 60rem;
	.acc-form__label {
		max-width: 100%;
	}
}
//contacts page end


@media only screen and (max-width: $screen-sm-max) {
	.account__page-title,
	.account__page-sub-title {
		text-align: center;
	}
	.account__sidebar {
		padding-right: 0;
		padding-bottom: 4rem;
	}
	.account__nav-list {
		text-align: center;
	}
	.account__content {
		padding: 0;
		&:before {
			display: none;
		}
	}
	.account__contact {
		padding-right: 0;
	}
}
@media only screen and (max-width: $screen-xs-max) {

	.acc-form__title {
		text-align: center;
	}
	.acc-form__label {
		margin: 0 auto;
		margin-bottom: 2rem;
	}
	.acc-form {
		margin: 0 auto;
	}
	.acc-form__footer {
		flex-direction: column;
	}
	.acc-form__desc {
		margin-bottom: 2rem;
	}
}
/* account-page.scss end */