/* cart-page.scss */
.cart {
	display: block;
}
.cart__title {
	font-size: 4.1rem;
	color: $ghost-gray;
}
.cart__text {
	font-size: 1.4rem;
	color: $ghost-gray;
	line-height: 1.4;
	margin-bottom: 1rem;
}

.cart__empty {
	display: block;
	text-align: center;
	padding: 10rem 0;
	padding: 10vh 0;
}
.cart__empty-title {
	font-size: 4.1rem;
	margin-bottom: 1rem;
	color: $dark-gray;
}
.cart__empty-text {
	font-size: 1.4rem;
	margin-bottom: 2rem;
	color: $light-gray;
}

@media only screen and (max-width: $screen-xs-max) {
	.cart__title,
	.cart__text {
		text-align: center;
	}
}
/* cart-page.scss end */