/* category-page.scss */
.found {
	> h1 {
		display: inline-block;
		line-height: 1.2;
		font-size: 1.8rem;
		color: $dark-gray;
		vertical-align: baseline;
	}
}

.found {
	span {
		font-size: 1.6rem;
		color: $ghost-gray;
		margin-bottom: 2rem;
	}
}
@media only screen and (max-width: $screen-sm-max) {
	.found {
		text-align: center;
	}
}
/* category-page.scss end */