/* footer */
.footer {
	background: #000;
	padding: 2.5rem 0;
	
}

.f-sub-form {
	position: relative;
	margin-bottom: 3rem;
	max-width: 55rem;
}
.f-sub-form__input {
	display: block;
	width: 100%;
	height: 3.2rem;
	font-size: 1.6rem;
	padding: 0 1.5rem;
	padding-right: 18.5rem;
	border: 0;
	background: #494949;
	border-radius: 1rem;
	color: #fff;
	appearance: none;
	outline: 0;
	transition: all .2s;
	/* Webkit */
	&::-webkit-input-placeholder { 
		color: $light-gray;
	}
	/* Firefox 4-18 */
	&:-moz-placeholder { 
		color: $light-gray;
	}
	/* Firefox 19+ */
	&::-moz-placeholder { 
		color: $light-gray;
	}
	/* IE10+ */
	&:-ms-input-placeholder { 
		color: $light-gray;
	}
	&:focus {
		border-color: $light-green;
	}
}
.f-sub-form__submit {
	display: block;
	width: 17rem;
	height: 3.2rem;
	position: absolute;
	top: 0;
	right: 0;
	background: #fff;
	color: #fff;
	border-radius: 1rem;
	color: $medium-gray;
	appearance: none;
	border: 0;
	outline: 0;
	text-align: center;
	font-size: 1.6rem;
	transition: all .2s;
	&:hover,
	&:active {
		background: $light-green;
		color: #fff;
	}
}

.f__title {
	display: block;
	font-size: 1.4rem;
	color: #fff;
	margin-bottom: 2.5rem;
	text-transform: uppercase;
}

.f__social {
	margin-bottom: 3rem;
}

.f__social-list {
	display: block;
	padding: 0;
	margin: 0 auto;
	li {
		display: inline-block;
		margin: 0 3rem 2rem 0;
		vertical-align: middle;
		> a {
			display: block;
			color: #fff;
			text-align: center;
			font-size: 3rem;
			transition: all .2s;
			> i {
				transition: all .2s;
			}
			&:hover,
			&:active {
				> i {
					color: $light-green;
				}
				> .fa-facebook {
					color: #3b5998;
				}
				> .fa-vk {
					color: #45668e;
				}
				> .fa-instagram {
					color: #c13584;
				}
			}
		}
	}
}

.f-menu {
	text-align: left;
	border-bottom: 1px solid #474747;
}
.f-menu__title {
	@extend .f__title;
	margin-bottom: 3.5rem;
	
}
.f-menu__list {
	display: block;
	padding: 0;
	margin-bottom: 3rem;
	> li {
		display: block;
		margin-bottom: 1rem;
		> a {
			font-size: 1.2rem;
			line-height: 1.2;
			color: $light-gray;
			transition: all .2s;
			&:hover,
			&:active {
				color: $light-green;
			}
		}
		&.f-menu__icon {
			display: block; 
			margin-bottom: 3rem;
			> img {
				display: inline-block;
				vertical-align: middle;
				width: auto;
				height: auto;
				max-height: 3rem;
				margin-right: 1rem;
			}
			> span {
				display: inline-block;
				vertical-align: middle;
				font-size: 1.2rem;
				color: #737373;
				line-height: 1.5;
			}
		}
	}
}




.f__bottom {
	padding-top: 2.5rem;
}
.f__copy {
	display: block;
	padding-left: 5rem;
	position: relative;
	font-size: 1rem;
	color: $light-gray;
	text-align: left;
}
.f__logo {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	> img {
		display: block;
		width: auto;
		height: auto;
		max-width: 100%;
	}
}


@media only screen and (max-width: $screen-md-max) {}

@media only screen and (max-width: $screen-sm-max) {
	.f-menu > div:nth-child(5) {
		clear: left; 
		/* clear flow for 3 col and 2 row, 
		like 3n+1 + one hidden div */
	}
	.f-sub-form {
		max-width: 45rem;
	}
	.f-sub-form__input {
		padding-right: 14.5rem;
	}
	.f-sub-form__submit {
		width: 13rem;
	}
}

@media only screen and (max-width: $screen-xs-max) {
	.footer {
		text-align: center;
	}
	.f-menu {
		text-align: center;
	}
	.f-sub-form {
		margin: 0 auto;
		margin-bottom: 3rem;
	}
	
}

@media only screen and (max-width: $screen-xs) {}

@media only screen and (max-width: $screen-xs) {}

/* footer end */
