/* header */
.header {
	padding-top: 1.5rem;
	padding-bottom: 2.5rem;
	margin-bottom: 4rem;
	z-index: 110;
	position: relative;
}

.logo {
	display: inline-block;
	width: 12.2rem;
	max-width: 100%;
	> img {
		display: block;
		width: auto;
		height: auto;
		max-width: 100%;
		
	}
}

.h-center-col {
	text-align: right;
	width: 100%;
	max-width: 72rem;
	margin: 0 auto;
}

.h-info {
	display: block;
	width: 100%;
	
}
.h-info__time {
	font-size: 1.6rem;
	color: $light-gray;
	margin-bottom: .2rem;
}
.h-info__phones {
	font-size: 1.8rem;
	color: $black;
	margin-bottom: .3rem;
}
.h-info__phone {
	display: inline-block;
	margin-left: 5%;
	padding-left: 2.5rem;
	position: relative;
	> i {
		position: absolute;
		top: 0;
		left: 0;
	}
}
.phone-icon-1,
.phone-icon-2,
.phone-icon-3 {
	display: inline-block;
	font-size: inherit;
	width: 1em;
	height: 1em;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	&.phone-icon-1 {
		background-image: url(../img/icon/phone-3.png);
	}
	&.phone-icon-2 {
		background-image: url(../img/icon/phone-1.png);
	}
	&.phone-icon-3 {
		background-image: url(../img/icon/phone-2.png);
	}
}
.h-search {
	position: relative;
}

.reg-links {
	text-align: right;
	width: 100%;
	color: $black;
	> p {
		display: block;
		font-size: 1.6rem;
		margin-bottom: .2rem;
	}
	.reg-link {
		font-size: 1.6rem;
		color: $light-gray;
		display: inline-block;
		position: relative;
		vertical-align: middle;
		transition: all .2s;
		&:hover,
		&:active {
			color: $light-green;
		}
		> i {
			font-size: 1.4rem;
			display: inline-block;
			vertical-align: middle;
			margin-right: .6rem;
		}
	}
}
.reg-links--mobile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
	color: $light-gray;
	text-align: left;
	margin-bottom: 2rem;
	> p {
		display: inline-block;
	}
	.reg-link {
		color: #fff;
	}
}
/* header__mobile */
.header__mobile {
	position: relative;
}
.search-icon {
	display: none;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	right: 6rem;
	transform: translateY(-50%);
	background: transparent;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
	color: #000;
	appearance: none;
	transition: all .2s;
	> i {
		font-size: 2.2rem;
	}
	&:hover,
	&:active {
		color: $light-green;
	}
}

.cart-icon {
	display: none;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	color: #000;
	transition: all .2s;
	&:hover,
	&:active {
		color: $light-green;
	}
	> i {
		font-size: 3rem;
	}
}

.cart-icon__ntfn {
	display: block;
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 50%;
	background: #ff0000;
	text-align: center;
	line-height: 1.7rem;
	font-size: .9rem;
	color: #fff;
	position: absolute;
	top: -.4rem;
	right: -.8rem;
}
/* header__mobile end */


@media only screen and (max-width: $screen-sm-max) {
	.section--top-banner {
		display: none;
	}
	.header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: rgba(255, 255, 255, 0.8);
		margin-bottom: 0;
		z-index: 100;
		text-align: center;
		padding: 1rem;
	}
	body {
		padding-top: 7.5rem;
	}
	.search-icon,
	.cart-icon {
		display: inline-block;
	}
	.logo {
		max-width: 7rem;
	}
}
/* header end */