/* product-page.scss */

.product {
	padding-top: .5rem;
}

.prod-nav {
	display: block;
	width: 100%;
	padding-bottom: 1.4rem;
}

.prod-nav__btn {
	display: inline-block;
	padding: 1.4rem 2rem;
	max-width: 26rem;
	width: 100%;
	text-align: center;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1;
	color: $light-gray;
	border: 0;
	border-radius: 1rem;
	outline: 0;
	background: transparent;
	appearance: none;
	transition: all .2s;
	box-shadow: $btn-shadow;
	&:hover {
		background: #000;
		color: #fff;
		box-shadow: none;
	}
	&:active {
		background: #000;
		color: #fff;
		box-shadow: none;
	}
}

.prod-nav__prev {
	@extend .prod-nav__btn;
	padding: 1rem;
	padding-left: 2.5rem;
	position: relative;
	width: 100%;
	max-width: 14rem;

	&:after {
		content: "\f104";
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 1rem;
	}
}

.prod-nav__next {
	@extend .prod-nav__btn;
	padding: 1rem;
	padding-right: 2.5rem;
	position: relative;
	width: 100%;
	max-width: 14rem;

	&:after {
		content: "\f105";
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 1rem;
	}
}

.product__mobile-title,
.product__title {
	margin: 0 auto;
	margin-bottom: 1.5rem;
	max-width: 30rem;
	line-height: 1;
}

.product__mobile-title {
	display: none;
}

.product__title-name {
	font-size: 2.4rem;
	color: $medium-gray;
	margin-bottom: .5rem;
}

.product__title h1 {
	@extend .product__title-name;
}

.product__title-id {
	font-size: 1.6rem;
	color: $light-gray;
	display: block;
}

.product_thumbs {
	padding-right: 2rem;
}

.product_thumb {
	display: block;
	width: 100%;
	border-radius: 1rem;
	position: relative;
	overflow: hidden;
	margin-bottom: 1rem;
	transition: all .2s;
	opacity: .6;
	//&:after {
	//	content: "";
	//	display: block;
	//	border-radius: 1rem;
	//	position: absolute;
	//	top: 0;
	//	right: 0;
	//	bottom: 0;
	//	left: 0;
	//	background: rgba(0, 0, 0, 0.3);
	//	transition: all .2s;
	//}
	&:hover,
	&:active {
		opacity: 1;
		//box-shadow: $btn-shadow;
	}
	&.active {
		opacity: 1;
		//&:after {
		//	opacity: 0;
		//}
		//> img {
		//	filter: grayscale(0%);
		//}
	}
	> img {
		display: block;
		width: 100%;
		height: auto;
		//filter: grayscale(30%);
	}
}

.product__slider {
	display: block;
	width: 100%;
	max-width: 60rem;
	height: auto;
	padding: 0;
	margin: 0 auto;
	margin-bottom: 4rem;
	.slider__btn {
		display: none !important;
		width: 4rem;
		height: 4rem;
		line-height: 4rem;
		position: absolute;
		top: 50%;
		background-color: transparent;
		border: 0;
		outline: 0;
		z-index: 100;
		text-align: center;
		padding: 0;
		background: rgba(255, 255, 255, 0.8);
		border-radius: 50%;
		transition: all .2s;
		> i {
			color: $light-gray;
			font-size: 4rem;
			position: relative;
			transition: all .2s;
		}
		&:hover,
		&:hover {
			background: rgba(255, 255, 255, 0.5);
			box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
			i {
				color: $light-green;
				opacity: .9;
			}
		}
		&.slick-disabled {
			visibility: hidden;
		}
	}
	.slider__btn--prev {
		transform: translateY(-50%);
		left: 1%;
		> i {
			left: -.2rem;
		}
	}
	.slider__btn--next {
		transform: translateY(-50%);
		right: 1%;
		> i {
			right: -.2rem;
		}
	}
	// dots
	.slick-dots {
		display: none !important;
		text-align: center;
		position: absolute;
		bottom: -2rem;
		left: 50%;
		transform: translateX(-50%);
		> li {
			display: inline-block;
			vertical-align: middle;
			padding: .5rem .2rem;
			button {
				display: block;
				padding: 0;
				font-size: 0;
				text-indent: -99999px;
				background-color: $light-gray;
				border: .2rem solid $white;
				border-radius: 2px;
				outline: none;
				width: 1rem;
				height: 1rem;
				appearance: none;
				transition-property: background, border;
				transition-duration: .2s;
				&:hover,
				&:active {
					background-color: $light-green;
					border-color: $light-green;
				}
			}
			&.slick-active {
				button {
					background-color: $light-green;
					border-color: $light-green;
				}
			}
		}
	}
}

.product__slider--fv {
	padding: 0;
	margin: 0;
	max-width: 100%;
	.product__slide {
		border-radius: 0;
		border-top-left-radius: 1rem;
		border-bottom-left-radius: 1rem;
	}
}

.product__slide {
	display: block;
	width: 100%;
	outline: 0;
	overflow: hidden;
	border-radius: 1rem;
	> img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.product-info {
	padding-left: 2rem;
	text-align: center;
}

.product-info__price {
	font-size: 3.6rem;
	margin-bottom: 0;
	display: inline-block;
	text-align: center;
}

.product-info__price--fv {
	display: inline-block;
	text-align: center;
	font-size: 3.2rem;
	margin-bottom: 0;
}

.product-info__stock {
	display: block;
	margin-bottom: 2rem;
	text-align: center;
	font-size: 1.4rem;
	font-style: italic;
	font-weight: 400;
	color: $light-gray;
	vertical-align: middle;
	> i {
		display: inline-block;
		vertical-align: middle;
		font-size: 2rem;
		color: $light-green;
	}
}

.product-info__stock--fv {
	margin-bottom: 2.5rem;
	line-height: 1;
}

.product-info__colors {
	display: block;
	text-align: center;
	margin-bottom: .5rem;
}

.product-info__color {
	display: inline-block;
	width: 5rem;
	height: auto;
	margin: 0 .5rem;
	margin-bottom: .5rem;
	transition: all .3s;
	&:hover {
		//transform: scale(1.1);
	}
	> img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.product-info__size {
	display: block;
	margin-bottom: 0;
}

.product-info__btns {
	margin-bottom: 1rem;
	> a {
		margin-bottom: 1rem;
	}
}

.product-info__links {
	max-width: 26rem;
	margin: 0 auto;
}

.product-info__link {
	display: inline-block;
	width: auto;
	font-size: 1.4rem;
	font-style: italic;
	margin-bottom: 1rem;
	vertical-align: middle;
	color: $light-gray;
	transition: all .2s;
	&:hover,
	&:active {
		color: $light-green;
	}
	> i {
		display: inline-block;
		vertical-align: middle;
		font-size: 2.5rem;
		color: inherit;
		color: $light-green;
		padding: 0 .2em;
	}
}

.product-info--fv {
	padding-left: 0;
	.product-info__colors {
		margin-bottom: .5rem;
	}
	.product-info__color {
		width: 5rem;
		margin-bottom: .5rem;
	}
	.product-info__btns {
		margin-bottom: 0;
	}
}

.product-info__fast-order {
	width: 100%;
	max-width: 26rem;
	&:hover,
	&:active {
		background-color: $black;
	}
}

.product__info-title {
	font-size: 1.6rem;
	color: $ghost-gray;
	margin-bottom: 2.5rem;
}

.product__desc {
	font-size: 1.6rem;
	color: $medium-gray;
	margin-bottom: 2.5rem;
	padding-right: 10%;
}

.product__info-list {
	display: block;
	font-size: 1.6rem;
	color: $medium-gray;
	margin-bottom: 2.5rem;
	width: 100%;
	column-count: 2;
	> li {
		display: block;
		width: 100%;
		padding-right: 2%;
		margin-bottom: 0.5625em;
		.name {
			display: inline-block;
			padding-right: 2%;
			color: $light-gray;
		}
		.value {
			display: inline-block;
			font-weight: 700;
			color: $black;
		}
	}
}

.product__info-links {
	display: block;
	text-align: center;
	margin-bottom: 2rem;
}

.product__info-link {
	display: inline-block;
	vertical-align: middle;
	margin: 0 2.5rem;
	margin-bottom: 1rem;
	font-size: 1.8rem;
	color: $light-gray;
	transition: all .2s;
	&:hover,
	&:active {
		color: $dark-gray;
	}
}

@media only screen and (max-width: $screen-sm-max) {
	.product__slider {
		padding: 0;
		margin-bottom: 2rem;
		.slider__btn {
			display: block !important;
		}
		.slick-dots {
			display: block !important;
		}
	}
	.product__slider--fv .product__slide {
		border-radius: 1rem;
	}
	.product__info-title {
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 1rem;
	}
	.product__desc {
		text-align: center;
		padding-right: 0;
	}
	.product__info-list {
		column-count: 1;
		max-width: 50rem;
		margin: 0 auto;
		margin-bottom: 2rem;
	}
}

@media only screen and (max-width: $screen-xs-max) {
	.product__title {
		display: none;
	}
	.product__mobile-title {
		display: block;
		text-align: center;
		max-width: 40rem;
		h1 {
			font-size: 2.2rem;
			font-weight: 400;
			color: $light-gray;
		}
	}
	.product__slider {
		.slider__btn {
			display: none !important;
		}
	}
	.product-info {
		padding-left: 0;
	}
	.product-info__btns > a {
		max-width: 34.5rem;
	}
	.product-info__stock,
	//.product-info__link,
	//.product-info__links,
	.product__info-links {
		display: none;
	}
	.product__title-id {
		font-size: 1.4rem;
		padding-top: .5em;
	}
	.product-info__price {
		> small {
			font-size: 40%;
		}
	}

}

@media only screen and (max-width: $screen-xs-min) {
	.product__info-list {
		column-count: 1;
		> li {
			.value {
				display: block;
				padding-right: 0;
			}
		}
	}
}

/* product-page.scss end */