<div id="in-shops" class="pop-up pop-up--in-store">

	<div class="pop-up__content">
		<div class="row">
			<div class="col-xs-12">
				<div class="pop-up__title">Наличие размеров в магазинах сети</div>
			</div>
			<!-- col -->
		</div>
		<div class="in-store tabs js-tabs">

			<div class="row">
				<div class="col-xs-12">
					<nav class="in-store_nav">
						<ul class="tabs_nav">
							<li><a href="#kharkiv">Харьков</a></li>
							<li><a href="#kiev">Киев</a></li>
							<li><a href="#odessa">Одесса</a></li>
							<li><a href="#cherkassy">Черкассы</a></li>
							<li><a href="#cherson">Херсон</a></li>
							<li><a href="#krivoyRog">Кривой Рог</a></li>
						</ul>
					</nav>
				</div>
				<!-- col -->
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="in-store_content" id="kharkiv">
						@@include("include/network-grid--stock.html")
					</div>
					<div class="in-store_content" id="kiev">
						@@include("include/network-grid--stock.html")
					</div>
					<div class="in-store_content" id="odessa">
						@@include("include/network-grid--stock.html")
					</div>
					<div class="in-store_content" id="cherkassy">
						@@include("include/network-grid--stock.html")
					</div>
					<div class="in-store_content" id="cherson">
						@@include("include/network-grid--stock.html")
					</div>
					<div class="in-store_content" id="krivoyRog">
						@@include("include/network-grid--stock.html")
					</div>
				</div>
				<!-- col -->
			</div>

		</div>

	</div>
	<!-- pop-up__content -->

</div>
<!-- pop-up -->