<div id="fast-view" class="pop-up pop-up--fast-view">
	<div class="fv">
		<div class="fv__content">
			<div class="fv__slider">
				<div class="product__slider product__slider--fv js-fv-slider">
					<div class="product__slide">
						<img src="img/i/prod-img-1.jpg" alt="prod-img-1">
					</div>
					<!-- product_slide -->
					<div class="product__slide">
						<img src="img/i/prod-img-2.jpg" alt="prod-img-1">
					</div>
					<!-- product_slide -->
					<div class="product__slide">
						<img src="img/i/prod-img-2.jpg" alt="prod-img-1">
					</div>
					<!-- product_slide -->
					<div class="product__slide">
						<img src="img/i/prod-img-4.jpg" alt="prod-img-4">
					</div>
					<!-- product_slide -->
				</div>
				<!-- product_slider -->
			</div>
			<!-- col -->
			<div class="fv__info">
				<div class="fv__header">
					<div class="fv__title">Коричневые ботинки на среднем каблуке</div>
					<p class="fv__id">Арт: N5-205M4</p>
				</div>
				<!-- fv__header -->
				
				<div class="product-info product-info--fv">
					<p class="product-info__price--fv price">9876<small>uah</small></p>
					<p class="product-info__stock product-info__stock--fv"><i class="icon-check"></i>Есть в наличии</p>
					<div class="product-info__colors">
						<a href="#" class="product-info__color">
							<img src="img/i/prod-img-1.jpg" alt="">
						</a>
						<a href="#" class="product-info__color">
							<img src="img/i/prod-img-3.jpg" alt="">
						</a>
					</div>
					<!-- product__colors -->
					<div class="product-info__size js-prod-size">
						<label class="size-btn">
							<input type="radio" name="product-size">
							<span>36</span>
						</label>
						<label class="size-btn">
							<input type="radio" name="product-size">
							<span>37</span>
						</label>
						<label class="size-btn">
							<input type="radio" name="product-size">
							<span>38</span>
						</label>
						<label class="size-btn">
							<input type="radio" name="product-size">
							<span>39</span>
						</label>
						<label class="size-btn">
							<input type="radio" name="product-size">
							<span>40</span>
						</label>
					</div>
					<!-- product__size -->
					<div class="fv__btns">
						<a href="#callback" class="shadow-btn fv__fast-order js-fv-callback-pop-up js-ga-callback-click"><i class="fa fa-phone" aria-hidden="true"></i></a>
						<a href="#" class="submit-btn fv__buy js-to-cart js-ga-to-cart-btn">Добавить в корзину</a>
					</div>
					<div class="fv__desc">
						<div class="fv__desc-title">Описание</div>
						<p class="fv__desc-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<!-- fv__desc -->
					<div class="fv__more">
						<a href="#" class="fv__more-btn">Подробнее</a>
					</div>
					<!-- fv__more -->
				</div>
				<!-- product_info -->
			</div>
			<!-- fv__info -->
		</div>
		<!-- fv__content -->
		<div class="fv__thumbs">
			<div class="fv-thumbs__slider js-fv-thumbs">
				<div class="fv-thumbs__slide">
					<img src="img/i/prod-img-1.jpg" alt="prod-img-1">
				</div>
				<!-- fv-thumbs_slide -->
				<div class="fv-thumbs__slide">
					<img src="img/i/prod-img-2.jpg" alt="prod-img-1">
				</div>
				<!-- fv-thumbs_slide -->
				<div class="fv-thumbs__slide">
					<img src="img/i/prod-img-2.jpg" alt="prod-img-1">
				</div>
				<!-- fv-thumbs_slide -->
				<div class="fv-thumbs__slide">
					<img src="img/i/prod-img-4.jpg" alt="prod-img-4">
				</div>
				<!-- fv-thumbs_slide -->
			</div>
			<!-- fv-thumbs_slider -->
		</div>
		<!-- fv__thumbs -->
	</div>
	<!-- fv -->
</div>
<!-- pop-up -->