
.container-fluid {
	width: 100%;
	max-width: $content-max-width;
	margin: 0 auto;
}

.row--no-padd {
	padding: 0;
	margin: 0;
	> [class*="col-"] {
    padding: 0 !important;
		margin: 0;
  }
}
.row--small-padd {
	padding: 0;
	margin: 0 -.5rem;
	> [class*="col-"] {
    padding-left: .5rem !important;
    padding-right: 0 !important;
		margin: 0;
  }
}

.container-fluid--full-width {
	max-width: 100%;
}

/* sections */
.section {
	margin-bottom: 6rem;
}

.section--sub-h-banner {
	margin-bottom: 2rem;
}
.section--hero-banner {
	margin-bottom: 2.5rem;
}
.section--banner-menu {
	margin-bottom: 3rem;
}
.section--rotate-banner {
	margin-bottom: 5rem;
}
.section--page-title {
	//text-align: center;
	//padding: 1rem 0;
	padding-top: 1rem;
	margin-bottom: 0;
	background: rgba(255, 255, 255, 0.75);
}

/* sections end*/

.l-banner-menu {
	max-width: 100rem;
	margin: 0 auto;
}





@media only screen and (max-width: $screen-sm-max) {
	.section--sub-h-banner {
		display: none;
	}
	.section--page-title {
		text-align: center;
		.container-fluid {
			padding: 0;
		}
	}
}
@media only screen and (max-width: $screen-xs-max) {
	// hidden this block on mobile
	.section--rotate-banner,
	.section--cat-banner,
	.section--sub-h-banner {
		display: none;
	}

	//.l-rotate-banner {
	//	padding: 0 7.5rem;
	//	> .row {
	//		transform: translateY(-4rem);
	//	}
	//	> .row:first-child {
	//		transform: none;
	//	}
	//}
}

@media only screen and (min-width: $screen-xs-max) {
	//.col--custom-rotate:nth-child(2n + 1) {
	//	clear: left;
	//}
	.section--hero-banner {

	}
}
@media only screen and (max-width: $screen-xs-max) {
	.section--hero-banner {

		padding: 0 1.5rem;
	}
	.banner--hero {
		border-radius: 1rem;
		overflow: hidden;
	}
}