<aside class="account__sidebar">
	<nav class="account__nav">
		<ul class="account__nav-list">
			<li class="is-current"><a href="#">Персональные даные</a></li>
			<li><a href="#">Доставка по умолчанию</a></li>
			<li><a href="#">Управление заказами </a></li>
			<li><a href="#">Подписки</a></li>
			<li><a href="#">Скидки и бонусы</a></li>
		</ul>
	</nav>
</aside>