<section class="section section--banner-menu">
	<div class="container-fluid">
		<div class="l-banner-menu">
			<header class="row banner__header">
				<div class="col-xs-12">
					<p class="banner__title">MUST HAVE</p>
					<p class="banner__sub-title">Подборка дизайнеров для вас</p>
				</div>
			</header>
			<div class="row ">
				<div class="col-xs-6">
					<a class="t-banner">
						<img src="img/i/menu-banner.jpg" alt="menu banner" class="t-banner__img">
						<div class="t-banner__content">
							<div class="t-banner__title">Menu banner title</div>
							<p class="t-banner__text">Menu banner text</p>
						</div><!-- text-banner__content -->
					</a><!-- text-banner -->
				</div><!-- col -->
				<div class="col-xs-6">
					<a class="t-banner">
						<img src="img/i/menu-banner.jpg" alt="menu banner" class="t-banner__img">
						<div class="t-banner__content">
							<div class="t-banner__title">Menu banner title</div>
							<p class="t-banner__text">Menu banner text</p>
						</div><!-- text-banner__content -->
					</a><!-- text-banner -->
				</div><!-- col -->
				<div class="col-xs-6">
					<a class="t-banner">
						<img src="img/i/menu-banner.jpg" alt="menu banner" class="t-banner__img">
						<div class="t-banner__content">
							<div class="t-banner__title">Menu banner title</div>
							<p class="t-banner__text">Menu banner text</p>
						</div><!-- text-banner__content -->
					</a><!-- text-banner -->
				</div><!-- col -->
				<div class="col-xs-6">
					<a class="t-banner">
						<img src="img/i/menu-banner.jpg" alt="menu banner" class="t-banner__img">
						<div class="t-banner__content">
							<div class="t-banner__title">Menu banner title</div>
							<p class="t-banner__text">Menu banner text</p>
						</div><!-- text-banner__content -->
					</a><!-- text-banner -->
				</div><!-- col -->
			</div><!-- row -->
		</div><!--l-banner-menu-->
	</div><!-- container-fluid -->
</section><!-- banner-menu -->