<section class="section section--cat-banner">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<header class="s-title">
					<div class="s-title__title">Самое модное</div>
					<p class="s-title__text">Этого сезона </p>
				</header>
			</div>
		</div>
		<!-- row -->
		<div class="row">
			<div class="col-xs-12">
				<div class="cat-banner">
					<div class="cat-banner__item">
						<div class="cat-banner__img-frame">

						</div>
						<p class="cat-banner__text">cat menu</p>
					</div>
					<!-- cat-banner__item -->
					<div class="cat-banner__item">
						<div class="cat-banner__img-frame">

						</div>
						<p class="cat-banner__text">cat menu</p>
					</div>
					<!-- cat-banner__item -->
					<div class="cat-banner__item">
						<div class="cat-banner__img-frame">

						</div>
						<p class="cat-banner__text">cat menu</p>
					</div>
					<!-- cat-banner__item -->
					<div class="cat-banner__item">
						<div class="cat-banner__img-frame">

						</div>
						<p class="cat-banner__text">cat menu</p>
					</div>
					<!-- cat-banner__item -->
					<div class="cat-banner__item">
						<div class="cat-banner__img-frame">

						</div>
						<p class="cat-banner__text">cat menu</p>
					</div>
					<!-- cat-banner__item -->
				</div>
				<!-- cat-banner -->
			</div>
		</div>
		<!-- row -->
	</div>
	<!-- container-fluid -->
</section>
<!-- section -->