<div class="filter js-filter">
	<div class="filter_title">Фильтры</div>
	<form action="#" class="js-filter-form">
		<ul class="filter__item-list">
			<li class="filter__item">
				<span class="filter__lable">Сортировать<i></i>
					<span class="filter__remove js-filter-remove"><i class="icon-close"></i></span>
				</span>
				<div class="filter__dropdown">
					<div class="filter__dropdown-inner">
						<ul class="filter__list">
							<li>
								<label class="tsh-checkbox">
									<input type="radio" name="sort" value="1">
									<span>По цене: от дешевых к дорогим</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox">
									<input type="radio" name="sort" value="2">
									<span>По цене: от дорогих к дешевым</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox">
									<input type="radio" name="sort" value="3">
									<span>По названию: А > Я</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox">
									<input type="radio" name="sort" value="4">
									<span>По названию: Я > А</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox">
									<input type="radio" name="sort" value="5">
									<span>По популярности</span>
								</label>
							</li>
						</ul>
					</div>
					<button type="submit" class="filter__submit js-filter-submit">Применить</button>
				</div>
				<!-- filter__dropdown -->
			</li>
			<li class="filter__item">
				<span class="filter__lable">Цена<i></i>
					<span class="filter__remove js-filter-remove"><i class="icon-close"></i></span>
				</span>
				<div class="filter__dropdown filter__dropdown--price">
					<div class="filter__dropdown-inner">
						<div class="filter-slider js-range">
							<div class="filter-slider__row clearfix">
								<p class="filter-slider__min">
									от
									<input type="text" id="amount-min" class="filter-slider__input js-only-num" data-default="250"
												 value="250" name="min">грн
								</p>
								<p class="filter-slider__max">
									до
									<input type="text" id="amount-max" class="filter-slider__input js-only-num" data-default="5000"
												 value="4000" name="max">грн
								</p>
							</div>
							<!-- filter-slider__row -->
							<div class="filter-slider__row">
								<div class="filter-slider__slider-wrapper">
									<div id="slider-range" class="js-slider-range"></div>
									<button type="submit" class="filter-slider__submit-btn js-filter-submit">ok</button>
								</div>
								<!-- filter-slider__slider-wrapper -->
							</div>
							<!-- filter-slider__row -->
						</div>
						<!-- filter-slider -->
					</div>
				</div>
				<!-- filter__dropdown -->
			</li>
			<li class="filter__item">
				<span class="filter__lable">Тип каблука<i></i>
					<span class="filter__remove js-filter-remove"><i class="icon-close"></i></span>
				</span>
				<div class="filter__dropdown">
					<div class="filter__dropdown-inner">
						<ul class="filter__list">
							<li>
								<label class="tsh-checkbox">
									<input type="checkbox" name="heel" value="1">
									<span>Высокий каблук</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox">
									<input type="checkbox" name="heel" value="2" checked>
									<span>Средний Каблук</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox">
									<input type="checkbox" name="heel" value="3">
									<span>Низкий каблук</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox">
									<input type="checkbox" name="heel" value="4">
									<span>Платформа</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox">
									<input type="checkbox" name="heel" value="5">
									<span>Плоская подошва</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox">
									<input type="checkbox" name="heel" value="6">
									<span>Скрытая танкетка</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox">
									<input type="checkbox" name="heel" value="7">
									<span>Танкетка</span>
								</label>
							</li>
						</ul>
					</div>

					<button type="submit" class="filter__submit js-filter-submit">Применить</button>

				</div>
				<!-- filter__dropdown -->
			</li>
			<li class="filter__item">
				<span class="filter__lable">Цвет<i></i>
					<span class="filter__remove js-filter-remove"><i class="icon-close"></i></span>
				</span>
				<div class="filter__dropdown filter__dropdown--2-col">
					<div class="filter__dropdown-inner">
						<ul class="filter__list">
							<li>
								<label class="tsh-checkbox color-1">
									<input type="checkbox" name="color" value="1">
									<span>Белый</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox color-2">
									<input type="checkbox" name="color" value="2" checked>
									<span>Черный</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox color-3">
									<input type="checkbox" name="color" value="3" checked>
									<span>Бирюзовый</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox color-4">
									<input type="checkbox" name="color" value="4">
									<span>Мультиколор</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox color-5">
									<input type="checkbox" name="color" value="5">
									<span>Серебряный</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox color-1">
									<input type="checkbox" name="color" value="6">
									<span>Прозрачный</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox color-6">
									<input type="checkbox" name="color" value="7">
									<span>Зеленый</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox color-7">
									<input type="checkbox" name="color" value="8">
									<span>Желтый</span>
								</label>
							</li>

							<li>
								<label class="tsh-checkbox color-1">
									<input type="checkbox" name="color" value="9">
									<span>Белый</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox color-2">
									<input type="checkbox" name="color" value="10">
									<span>Черный</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox color-3">
									<input type="checkbox" name="color" value="11">
									<span>Бирюзовый</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox color-4">
									<input type="checkbox" name="color" value="12">
									<span>Мультиколор</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox color-5">
									<input type="checkbox" name="color" value="13">
									<span>Серебряный</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox color-1">
									<input type="checkbox" name="color" value="14">
									<span>Прозрачный</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox color-6">
									<input type="checkbox" name="color" value="15">
									<span>Зеленый</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox color-7">
									<input type="checkbox" name="color" value="16">
									<span>Желтый</span>
								</label>
							</li>
						</ul>
					</div>
					<button type="submit" class="filter__submit js-filter-submit">Применить</button>
				</div>
				<!-- filter__dropdown -->
			</li>
			<li class="filter__item">
				<span class="filter__lable">Материал<i></i>
				<span class="filter__remove js-filter-remove"><i class="icon-close"></i></span></span>
				<div class="filter__dropdown">
					<div class="filter__dropdown-inner">
						<ul class="filter__list">
							<li>
								<label class="tsh-checkbox">
									<input type="checkbox" name="material" value="1">
									<span>Кожа</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox">
									<input type="checkbox" name="material" value="2">
									<span>Не кожа</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox">
									<input type="checkbox" name="material" value="3">
									<span>Каучук</span>
								</label>
							</li>
						</ul>
					</div>
					<button type="submit" class="filter__submit js-filter-submit">Применить</button>
				</div>
				<!-- filter__dropdown -->
			</li>
			<li class="filter__item">
				<span class="filter__lable">Сезон<i></i>
					<span class="filter__remove js-filter-remove"><i class="icon-close"></i></span>
				</span>
				<div class="filter__dropdown">
					<div class="filter__dropdown-inner">
						<ul class="filter__list">
							<li>
								<label class="tsh-checkbox">
									<input type="checkbox" name="season" value="1">
									<span>1й сезон</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox">
									<input type="checkbox" name="season" value="2">
									<span>2й сезон</span>
								</label>
							</li>
							<li>
								<label class="tsh-checkbox">
									<input type="checkbox" name="season" value="3">
									<span>3й сезон</span>
								</label>
							</li>
						</ul>
					</div>
					<button type="submit" class="filter__submit js-filter-submit">Применить</button>
				</div>
				<!-- filter__dropdown -->
			</li>
			<li class="filter__item--remove-all js-clear-all-filter">Очистить фильтры</li>
		</ul>
		<!-- filter__list -->
	</form>
</div>
<!-- filter -->