	
	<footer class="footer">
		<div class="container-fluid">
			<div class="row f__top">
				<div class="col-sm-6">
					<div class="f__title">ПОДПИШИСЬ на НОВОСТИ</div>
					<form action="#" class="f-sub-form js-subscribe-form js-validate">
						<input type="email" required placeholder="введите ваш E-mail" class="f-sub-form__input">
						<button type="submit" class="f-sub-form__submit">Подписаться</button>
					</form>
				</div><!-- col -->
				<div class="col-md-2 col-sm-4 hidden-sm"></div><!-- col -->
				<div class="col-sm-5 col-md-4 col-sm-offset-1 col-md-offset-0">
					<div class="f__social">
						<div class="f__title">ОСТАВАЙТЕСЬ ВСЕГДА НА СВЯЗИ</div>
						<ul class="f__social-list">
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						</ul>
					</div><!-- f__social -->
					
				</div><!-- col -->
			</div>
			<!-- row -->
			<div class="row f-menu">
				<div class="col-md-2 col-sm-4">
					<div class="f-menu__title">КЛИЕНТСКИЕ СЕРВИСЫ</div>
					<ul class="f-menu__list">
						<li><a href="#">Измерить длину стопы</a></li>
						<li><a href="#">Контакты</a></li>
						<li><a href="#">Дисконт</a></li>
						<li><a href="#">Наши преимущества</a></li>
						<li><a href="#">Условия доставки и оплаты</a></li>
						<li><a href="#">Условия обмена и возврата</a></li>
						<li><a href="#">Конфиденциальность</a></li>
						<li><a href="#">Договор публичной оферты</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#" onclick="alertPopUp('#rating', true); return false;">Оцените сайт</a></li>
						<li><a href="#">Анкета удовлетворенности клиента</a></li>
					</ul>
				</div><!-- col -->
				<div class="col-md-2 col-sm-4">
					<div class="f-menu__title">TOP SHOES</div>
					<ul class="f-menu__list">
						<li><a href="#">WOW отримай будь-яку пару взуття</a></li>
						<li><a href="#">#БУДЬЯГІДКОЮTOPSHOES</a></li>
						<li><a href="#">О нас</a></li>
						<li><a href="#">Блог</a></li>
						<li><a href="#">Магазины сети</a></li>
					</ul>
				</div><!-- col -->
				<div class="col-md-2 col-sm-4">
					<div class="f-menu__title">КАТЕГОРИИ</div>
					<ul class="f-menu__list">
						<li><a href="#">Обувь</a></li>
						<li><a href="#">Аксессуары</a></li>
						<li><a href="#">Тренды</a></li>
						<li><a href="#">Новинки</a></li>
						<li><a href="#">Распродажа</a></li>
						<li><a href="#">Сумки</a></li>
					</ul>
				</div><!-- col -->
				<div class="col-md-2 col-sm-4 hidden-sm"></div><!-- col -->
				<div class="col-md-2 col-sm-4">
					<div class="f-menu__title">НАШИ КОНТАКТЫ</div>
					<ul class="f-menu__list">
						<li><a href="tel:0730238244">(073) 023-82-44</a></li>
						<li><a href="tel:0678262448">(067) 826-24-48</a></li>
						<li><a href="tel:0994081627">(099) 408-16-27</a></li>
						<li><a href="mailto:support@topshoes.ua">support@topshoes.ua</a></li>
					</ul>
				</div><!-- col -->
				<div class="col-md-2 col-sm-4">
					<div class="f-menu__title">ОПЛАТА И ДОСТАВКА</div>
					<ul class="f-menu__list f-menu__list--icons">
						<li class="f-menu__icon">
							<img src="img/icon/visa.png" alt="visa">
							<img src="img/icon/mscd.png" alt="mastercard"></li>
						<li class="f-menu__icon">
							<img class="footer-icon__img" src="img/icon/delivery.png" alt="delivery">
							<span class="">Оплата при <br> получении</span></li>
				</ul>
				</div><!-- col -->
			</div>
			<!-- row -->
			<div class="row f__bottom">
				<div class="col-sm-12">
					<p class="f__copy">
					<a href="#" class="f__logo" title="Topshoes.com.ua"><img src="img/logo--footer.png" alt="Topshoes.com.ua"></a>
					Официальный интернет магазин женской обуви. Компания «Top Shoes» <br> © Top Shoes 2014-2016
					</p>
				</div><!-- col -->
				
			</div>
			<!-- row -->
		</div>
		<!-- container-fluid -->
	</footer>
	<!-- footer -->