<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>TopShoes.com.ua</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name=”robots” content=”index,follow”>
	<meta name=”description” content=””>
	<meta name=”keywords” content=””>
	<!--Remove tap highlight on Windows Phone-->
	<meta name="msapplication-tap-highlight" content="no" />

	<link rel="icon" type="image/png" href="img/favicon.png">
	<link rel="apple-touch-icon" href="img/favicon.png">

	<!-- fonts -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- libs -->
	<link rel="stylesheet" href="libs/magnific-popup/magnific-popup.css">
	<link rel="stylesheet" href="libs/slick/slick.css">

	<link rel="stylesheet" href="libs/ResponsiveMultiLevelMenu/css/component.css">
	<link rel="stylesheet" href="libs/formStyler/jquery.formstyler.css">
	<link rel="stylesheet" href="libs/bootstrap-rating/bootstrap-rating.css">
	<!--<link rel="stylesheet" href="libs/jquery-ui-1.11.4.custom/jquery-ui.min.css">-->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="libs/custom-scrollbar/jquery.mCustomScrollbar.css">
	<!-- main styles -->
	<link rel="stylesheet" href="css/main.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="libs/modernizr-2.8.3.min.js"></script>
	
</head>
