<!-- HEADER -->
<!-- [if lt IE 8]>
<div class="warning-banner"><h1>Ваш браузер устарел</h1>
	<p>Сайт не может корректно работать с браузерами, не поддерживающими общепринятые Web-стандарты.</p>
	<p><a href="http://browsehappy.com/">Обновите Ваш браузер</a> до актуальной версии и вы получите доступ к последним
		технологиям.</p></div>
<![endif] -->

@@include("toggle-menu.html")

<header class="header js-f-m-header" id="header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-2 header__mobile">
				<a href="home-page.html" class="logo" title="Topshoes.com.ua">
					<img src="img/logo.png" alt="TopShoes.com.ua">
				</a>

				<!-- <button href="#" class="search-icon js-mobile-search-btn"><i class="icon-search"></i></button> -->

				<a href="#" class="cart-icon">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i>
					<span class="cart-icon__ntfn">9</span>
				</a>
			</div>

			<div class="col-xs-12 col-md-8 hidden-sm hidden-xs">
				<div class="h-center-col">
					<div class="h-info">
						<p class="h-info__time">Режим работы с 9:00 до 21:00 Без выходных</p>
						<div class="h-info__phones">
							<p class="h-info__phone"><i class="phone-icon-1"></i>(063) 461-42-78</p>
							<p class="h-info__phone"><i class="phone-icon-2"></i>(068) 461-42-78</p>
							<p class="h-info__phone"><i class="phone-icon-3"></i>(050) 461-42-78</p>
						</div>
					</div>
					<!-- h-info -->
					<div class="h-search">
						@@include('search.html')
					</div>
					<!-- h-search -->
				</div>
				<!-- h-center-col -->
			</div>
			<div class="col-xs-6 col-md-2 hidden-sm hidden-xs">
				<div class="reg-links">
					<p>Hello, %username!</p>
					<p><a href="#" class="reg-link"><i class="icon-lock"></i>Войти</a></p>
					<p><a href="#" class="reg-link">Зарегистрироваться</a></p>
				</div>
				<!-- reg-links -->

			</div>
			<!-- col -->
		</div>
		<!-- row -->
	</div>
	<!-- container-fluid -->
</header>
<!-- header -->
<nav class="top-menu js-fix-menu">
	<div class="top-menu__inner">
		<ul class="top-menu__list">
			<li class="is-current">
				<a href="#">Обувь</a>
				<div class="top-menu__sub-block">
					<h3 class="top-menu__title">Женская обувь</h3>
					<p class="top-menu__text">Красивая модная обувь не только подчеркнёт индивидуальность её обладательницы, но и
						сделает её образ законченным, лаконичным. Самая стильная и доступная обувь только у нас.</p>
					<div class="top-menu__sub-content top-menu__sub-content--three-col clearfix">
						<div class="top-menu__sub-menu">
							<ul class="top-menu__sub-list">
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
							</ul>
							<ul class="top-menu__sub-list">
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
							</ul>
							<ul class="top-menu__sub-list">
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">Посмотреть все</a>
								</li>
							</ul>
						</div><!--top-menu__sub-menu-->

						<ul class="top-menu__img-grid">
							<li>
								<a href="#"><img src="img/i/prod-img-1.jpg" alt=""></a>
							</li>
							<li>
								<a href="#"><img src="img/i/prod-img-1.jpg" alt=""></a>
							</li>
							<li>
								<a href="#"><img src="img/i/prod-img-1.jpg" alt=""></a>
							</li>
						</ul>
					</div>
					<!-- top-menu__sub-content -->

				</div>
				<!-- top-menu__sub-block -->
			</li>
			<li>
				<a href="#">сумки</a>
				<div class="top-menu__sub-block">
					<h3 class="top-menu__title">Женские сумки</h3>
					<p class="top-menu__text">Красивая модная сумочка не только подчеркнёт индивидуальность её обладательницы, но
						и сделает её образ законченным, лаконичным.</p>
					<div class="top-menu__sub-content top-menu__sub-content--two-col clearfix">
						<div class="top-menu__sub-menu">
							<ul class="top-menu__sub-list">
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
							</ul>
							<ul class="top-menu__sub-list">
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">Посмотреть все</a>
								</li>
							</ul>
						</div><!--top-menu__sub-menu-->

						<ul class="top-menu__img-grid">
							<li>
								<a href="#"><img src="img/i/prod-img-1.jpg" alt=""></a>
							</li>
							<li>
								<a href="#"><img src="img/i/prod-img-1.jpg" alt=""></a>
							</li>
							<li>
								<a href="#"><img src="img/i/prod-img-1.jpg" alt=""></a>
							</li>
							<li>
								<a href="#"><img src="img/i/prod-img-1.jpg" alt=""></a>
							</li>
						</ul>
					</div>
					<!-- top-menu__sub-content -->

				</div>
				<!-- top-menu__sub-block -->
			</li>

			<li>
				<a href="#">Аксессуары </a>
				<div class="top-menu__sub-block">
					<h3 class="top-menu__title">Женские аксессуары </h3>
					<p class="top-menu__text">Красивая модная сумочка не только подчеркнёт индивидуальность её обладательницы, но
						и сделает её образ законченным, лаконичным.</p>
					<div class="top-menu__sub-content top-menu__sub-content--one-col clearfix">
						<div class="top-menu__sub-menu">
							<ul class="top-menu__sub-list">
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">sub menu item <span class="top-menu__counter">(999)</span></a>
								</li>
								<li>
									<a href="#">Посмотреть все</a>
								</li>
							</ul>
						</div><!--top-menu__sub-menu-->

						<ul class="top-menu__img-grid">
							<li>
								<a href="#"><img src="img/i/prod-img-1.jpg" alt=""></a>
							</li>
							<li>
								<a href="#"><img src="img/i/prod-img-1.jpg" alt=""></a>
							</li>
							<li>
								<a href="#"><img src="img/i/prod-img-1.jpg" alt=""></a>
							</li>
							<li>
								<a href="#"><img src="img/i/prod-img-1.jpg" alt=""></a>
							</li>
							<li>
								<a href="#"><img src="img/i/prod-img-1.jpg" alt=""></a>
							</li>
						</ul>
					</div>
					<!-- top-menu__sub-content -->

				</div>
				<!-- top-menu__sub-block -->
			</li>
			<li>
				<a href="#">Новинки</a>
			</li>
			<li>
				<a href="#"><i class="top-menu__icon">%</i>супер цена</a>
			</li>

			<li class="top-menu__cart m-cart">
				<a href="#" class="m-cart__icon">
							<span class="m-cart_label"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
								<span class="m-cart__ntfn">9</span></span>
					<span class="m-cart__sum">9999<span class="m-cart_curr">uah</span></span>
				</a>
				<div class="top-menu__sub-block">
					<h3 class="top-menu__title">Корзина</h3>
					<p class="top-menu__text">Доставка по Украине в течении 1-3 дней, курьерской службой или самовывоз из
						Харькова, Киева, Одессы</p>
					<div class="top-menu__sub-content clearfix">

						<div class="t-cart--menu js-custom-scrollbar">
							<div class="t-cart__row">
								<div class="t-cart__col-img">
									<img src="img/i/prod-img-1.jpg" alt="" class="t-cart__img">
								</div>
								<div class="t-cart__col-name">
									<p class="t-cart__name">Коричневые ботинки на среднем каблуке</p>
									<p class="t-cart__id">Q6-334SP-2-3</p>
								</div>
								<div class="t-cart__col-color">
									<i class="t-cart__color t-cart__color--1"></i>
									<p class="t-cart__desc">Цвет</p>
								</div>

								<form class="t-cart__col-form" action="#">
									<div class="t-cart__col-size">
										<select name="t-cart-size" class="t-cart__size js-select tsh-select">
											<option value="36">36</option>
											<option value="37">37</option>
											<option value="38">38</option>
											<option value="39">39</option>
											<option value="40">40</option>
										</select>
										<p class="t-cart__desc">Размер</p>
									</div>
									<div class="t-cart__col-quantity">
										<span class="js-quantity-inpt tsh-quantity-inpt"><input type="text" class="js-only-num" value="1" maxlength="3"></span>
										<p class="t-cart__desc">Кол-во</p>
									</div>
								</form>

								<div class="t-cart__col-price">
									<p class="t-cart__price">9876
										<small>uah</small>
									</p>
									<p class="t-cart__desc">Стоимость</p>
								</div>
								<div class="t-cart__col-del"><a href="#"><i class="demo-icon icon-close"></i></a></div>
								<!-- <div class="t-cart__col-couple">
									<a href="#"><img src="img/i/prod-img-1.jpg" alt=""></a>
									<p class="t-cart__desc">Идеальная пара</p>
								</div> -->
							</div>
							<!-- t-cart__row -->
							<div class="t-cart__row">
								<div class="t-cart__col-img">
									<img src="img/i/prod-img-1.jpg" alt="" class="t-cart__img">
								</div>
								<div class="t-cart__col-name">
									<p class="t-cart__name">Коричневые ботинки на среднем каблуке</p>
									<p class="t-cart__id">Q6-334SP-2-3</p>
								</div>
								<div class="t-cart__col-color">
									<i class="t-cart__color t-cart__color--1"></i>
									<p class="t-cart__desc">Цвет</p>
								</div>
								<div class="t-cart__col-size">
									<select name="t-cart-size" class="t-cart__size js-select tsh-select">
										<option value="36">36</option>
										<option value="37">37</option>
										<option value="38">38</option>
										<option value="39">39</option>
										<option value="40">40</option>
									</select>
									<p class="t-cart__desc">Размер</p>
								</div>
								<div class="t-cart__col-quantity">
									<span class="js-quantity-inpt tsh-quantity-inpt"><input type="text" class="js-only-num" value="1" maxlength="3"></span>
									<p class="t-cart__desc">Кол-во</p>
								</div>
								<div class="t-cart__col-price">
									<p class="t-cart__price">9876
										<small>uah</small>
									</p>
									<p class="t-cart__desc">Стоимость</p>
								</div>
								<div class="t-cart__col-del"><a href="#"><i class="demo-icon icon-close"></i></a></div>
								<!-- <div class="t-cart__col-couple">
									<a href="#"><img src="img/i/prod-img-1.jpg" alt=""></a>
									<p class="t-cart__desc">Идеальная пара</p>
								</div> -->
							</div>
							<!-- t-cart__row -->
						</div>
						<!-- t-cart -->
						<div class="cart-total cart-total--right row">
							<div class="cart-total__sum col-sm-8 col-xs-12">
								<p class="cart-total__price">Общая сумма:<span class="price price--cart-total">9999<small>uah</small></span>
								</p>
							</div>
							<!-- cart-total__sum -->
							<div class="cart-total__checkout col-sm-4 col-xs-12">
								<a href="#checkout" class="submit-btn js-pop-up">Оформить заказ</a>
							</div>
							<!-- cart-total__checkout -->
						</div>
						<!-- cart-total -->
					</div>
					<!-- top-menu__sub-content -->
				</div>
				<!-- top-menu__sub-block -->
			</li>

		</ul>
	</div>
	<!-- top-menu__inner -->
</nav>


<!-- HEADER end-->