<section class="section--hero-banner hero-banner">
	<header class="row banner__header">
		<div class="col-xs-12">
			<p class="banner__title">MUST HAVE</p>
			<p class="banner__sub-title">Подборка дизайнеров для вас</p>
		</div>
	</header>
	<div class="row">
		<div class="col-xs-12">
			<div class="banner banner--hero">
				<div class="row row--no-padd">
					<div class="col-sm-6 col-lg-3 visible-lg">
						<a href="#0">
							<img class="lazy" src="img/i/lazyload-spin.gif" data-original="img/i/banners/Hero_banner/1.jpg" alt="">
							<noscript>
								<img src="img/i/banners/Hero_banner/1.jpg" alt="">
							</noscript>
						</a>
					</div><!-- col -->
					<div class="col-sm-6 col-lg-3">
						<a href="#0">
							<img class="lazy" src="img/i/lazyload-spin.gif" data-original="img/i/banners/Hero_banner/2.jpg" alt="">
							<noscript>
								<img src="img/i/banners/Hero_banner/2.jpg" alt="">
							</noscript>
						</a>
					</div><!-- col -->
					<div class="col-sm-6 col-lg-3 hidden-xs">
						<a href="#0">
							<img class="lazy" src="img/i/lazyload-spin.gif" data-original="img/i/banners/Hero_banner/3.jpg" alt="">
							<noscript>
								<img src="img/i/banners/Hero_banner/3.jpg" alt="">
							</noscript>
						</a>
					</div><!-- col -->
					<div class="col-sm-6 col-lg-3 visible-lg">
						<a href="#0">
							<img class="lazy" src="img/i/lazyload-spin.gif" data-original="img/i/banners/Hero_banner/4.jpg" alt="">
							<noscript>
								<img src="img/i/banners/Hero_banner/4.jpg" alt="">
							</noscript>
						</a>
				</div><!-- col -->
			</div>
		</div>
		<!-- banner -->
	</div>
	<!-- col -->
	</div>
	<!-- row -->
</section>
<!-- hero-banner -->