<div class="location-wrapper">
	<script>
		var mapConfig = {
			markers: {
				// location: [latitude, longitude, zoom]
				kharkiv_1: {
					title: 'ПР.ТРАКТОРОБУДІВНИКІВ, 59/56 (ТРК УКРАИНА)',
					location: [49.9954639, 36.33903989999999,16],
					baloonContent: '<h3>ПР.ТРАКТОРОБУДІВНИКІВ, 59/56 (ТРК УКРАИНА)</h3><p>Понедельник - Воскресенье: <br> 10:00-22:00</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cupiditate esse iste magni modi optio perferendis quidem temporibus voluptas, voluptatem?</p>'
				},
				kharkiv_2: {
					title: 'УЛ. СУМСКАЯ 39',
					location: [50.00528509999999,36.23494260000007,16],
					baloonContent: '<h3>УЛ. СУМСКАЯ 39</h3><p>Понедельник - Воскресенье: <br> 10:00-22:00</p>'
				},
				kharkiv_3: {
					title: 'УЛ. ГЕРОЕВ ТРУДА 7 (ТРЦ КАРАВАН)',
					location: [50.0290094,36.3283586,16],
					baloonContent: '<h3>УЛ. ГЕРОЕВ ТРУДА 7 (ТРЦ КАРАВАН)</h3><p>Понедельник - Воскресенье: <br> 10:00-22:00</p>'
				},
				kiev_1: {
					title: 'ПРОСПЕКТ ГЕНЕРАЛА ВАТУТИНА, 2, ТЦ SKY MALL',
					location: [50.4930859,30.55916639999998,16],
					baloonContent: '<h3>ПРОСПЕКТ ГЕНЕРАЛА ВАТУТИНА, 2, ТЦ SKY MALL</h3><p>Понедельник - Воскресенье: <br> 10:00-22:00</p>'
				}
			},
			townsLocation: {
				kharkiv: [50.0064238, 36.2645317, 11],
				kiev: [50.0064238, 36.2645317, 12],
				odessa: [50.0064238, 36.2645317, 12],
				dnepr: [50.0064238, 36.2645317, 12],
				cherkassy: [50.0064238, 36.2645317, 12],
				cherson: [50.0064238, 36.2645317, 12],
				krivoyRog: [50.0064238, 36.2645317, 12]
			},
			mapCenter: [50.4930859,30.55916639999998],
			zoom: 13,
			markersImg: "img/icon/marker-green.png"
		}
	</script>
	<div id="location" class="location">
		<div class="location__content">
			<div class="location__nav js-location-nav">
				<button type="button" class="location__btn" data-town="kharkiv" onclick="centeringMap(mapConfig.townsLocation.kharkiv)">Харьков</button>
				<button type="button" class="location__btn" data-town="kiev" onclick="centeringMap(mapConfig.townsLocation.kiev)">Киев</button>
				<button type="button" class="location__btn" data-town="odessa" onclick="centeringMap(mapConfig.townsLocation.odessa)">Одесса</button>
				<button type="button" class="location__btn" data-town="dnepr" onclick="centeringMap(mapConfig.townsLocation.dnepr)">Днепр</button>
				<button type="button" class="location__btn" data-town="cherkassy" onclick="centeringMap(mapConfig.townsLocation.cherkassy)">Черкассы</button>
				<button type="button" class="location__btn" data-town="cherson" onclick="centeringMap(mapConfig.townsLocation.cherson)">Херсон</button>
				<button type="button" class="location__btn" data-town="krivoyRog" onclick="centeringMap(mapConfig.townsLocation.krivoyRog)">Кривой Рог</button>
			</div>
			<select class="location__select js-location-select js-select tsh-select">
				<option data-location="mapConfig.townsLocation.kharkiv" value="kharkiv">Харьков</option>
				<option data-location="mapConfig.townsLocation.kharkiv" value="kiev">Киев</option>
				<option data-location="mapConfig.townsLocation.kharkiv" value="odessa">Одесса</option>
				<option data-location="mapConfig.townsLocation.kharkiv" value="dnepr">Днепр</option>
				<option data-location="mapConfig.townsLocation.kharkiv" value="cherkassy">Черкассы</option>
				<option data-location="mapConfig.townsLocation.kharkiv" value="cherson">Херсон</option>
				<option data-location="mapConfig.townsLocation.kharkiv" value="krivoyRog">Кривой Рог</option>
			</select>
			<div class="location__map" id="g-map"></div>
		</div>
		<!-- pop-up__content -->
	</div>
	<!-- pop-up -->
</div>
<!-- h-pop-up-wrapper -->