<!-- m-search-->
<section class="m-search-wrapp">
	<div class="m-search js-mobile-search">
		<button href="#" class="m-search__close js-mobile-search-close"><i class="icon-close"></i></button>
		<form action="#" class="m-search__form">
			<input id="m-search" type="text" class="m-search__input" placeholder="Поиск - артикул / название">
			<button class="m-search__submit"><i class="icon-search"></i></button>
		</form>
	</div>
	<!-- m-search --> 
</section><!-- m-search-wrapp -->
<!-- m-search end-->