<div class="network-grid">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4">
			@@include("shop--stoke.html", {
				"img": "img/i/shop.jpg",
				"sizes": "<span>36</span><span>37</span><span>37</span><span>39</span><span>41</span><span>56</span>",
				"town": "kharkiv",
				"location": "mapConfig.markers.kharkiv_1.location"
			})
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			@@include("shop--stoke.html", {
			"img": "img/i/shop.jpg",
			"sizes": "<span>36</span><span>37</span><span>37</span><span>39</span><span>41</span><span>56</span>",
			"town": "kharkiv",
			"location": "mapConfig.markers.kharkiv_2.location"
			})
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			@@include("shop--stoke.html", {
			"img": "img/i/shop.jpg",
			"sizes": "<span>36</span><span>37</span><span>37</span><span>39</span><span>41</span><span>56</span>",
			"town": "kharkiv",
			"location": "mapConfig.markers.kharkiv_3.location"
			})
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			@@include("shop--stoke.html", {
			"img": "img/i/shop.jpg",
			"sizes": "<span>36</span><span>37</span><span>37</span><span>39</span><span>41</span><span>56</span>",
			"town": "kharkiv",
			"location": "mapConfig.markers.kharkiv_1.location"
			})
		</div>
	</div><!--row-->
</div>