<div class="network-grid">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4">
			@@include("shop.html", {
				"img": "img/i/shop.jpg",
				"time": "Понедельник - Воскресенье: <br> 10:00-22:00",
				"phone": "+38 (063) 76 - 075 - 56",
				"town": "kharkiv",
				"location": "mapConfig.markers.kharkiv_1.location"
			})
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			@@include("shop.html", {
			"img": "img/i/shop.jpg",
			"time": "Понедельник - Воскресенье: <br> 10:00-22:00",
			"phone": "+38 (063) 76 - 075 - 56",
			"town": "kharkiv",
			"location": "mapConfig.markers.kharkiv_2.location"
			})
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			@@include("shop.html", {
			"img": "img/i/shop.jpg",
			"time": "Понедельник - Воскресенье: <br> 10:00-22:00",
			"phone": "+38 (063) 76 - 075 - 56 <br> +38 (063) 76 - 075 - 56",
			"town": "kharkiv",
			"location": "mapConfig.markers.kharkiv_3.location"
			})
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			@@include("shop.html", {
			"img": "img/i/shop.jpg",
			"time": "Понедельник - Воскресенье: <br> 10:00-22:00",
			"phone": "+38 (063) 76 - 075 - 56 <br> +38 (063) 76 - 075 - 56",
			"town": "kiev",
			"location": "mapConfig.markers.kiev_1.location"
			})
		</div>
	</div><!--row-->
</div>