<nav class="not-found-nav">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="not-found-nav__title">ОБУВЬ</div>
					<ul class="not-found-nav__list not-found-nav__list--two-col">

						<li><a href="#">Сапоги</a></li>
						<li><a href="#">Ботинки</a></li>
						<li><a href="#">Угги</a></li>
						<li><a href="#">Ботильоны</a></li>
						<li><a href="#">Кроссовки</a></li>
						<li><a href="#">Слипоны</a></li>
						<li><a href="#">Кеды</a></li>
						<li><a href="#">Эспадрильи</a></li>

						<li><a href="#">Лоферы</a></li>
						<li><a href="#">Босоножки</a></li>
						<li><a href="#">Шлепанцы</a></li>
						<li><a href="#">Сандали</a></li>
						<li><a href="#">Балетки</a></li>
						<li><a href="#">Мокасины </a></li>
						<li><a href="#">Носки</a></li>
						<li><a href="#">Сабо</a></li>
					</ul>
				</div>
				<!-- col -->
				<div class="col-xs-6 col-sm-3">
					<div class="not-found-nav__title">СУМКИ</div>
					<ul class="not-found-nav__list">
						<li><a href="#">Сумки</a></li>
						<li><a href="#">Шопперы</a></li>
						<li><a href="#">Косметичка</a></li>
						<li><a href="#">Клатчи</a></li>
						<li><a href="#">Кошельки</a></li>
						<li><a href="#">Рюкзаки</a></li>
					</ul>
				</div>
				<!-- col -->
				<div class="col-xs-6 col-sm-3">
					<div class="not-found-nav__title">АКСЕССУАРЫ</div>
					<ul class="not-found-nav__list">
						<li><a href="#">Подвеска</a></li>
						<li><a href="#">Шарфы</a></li>
						<li><a href="#">Браслет</a></li>
						<li><a href="#">Серьги</a></li>
						<li><a href="#">Кольцо</a></li>
						<li><a href="#">Комплект</a></li>
					</ul>
				</div>
				<!-- col -->
			</div>
			<!-- row -->
		</div>
		<!-- col -->
		<div class="col-xs-12 col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-sm-4 not-found-nav__col">
					<div class="not-found-nav__title">ТРЕНДЫ</div>
					<ul class="not-found-nav__list">
						<li><a href="#">Для стильной</a></li>
						<li><a href="#">Для элегантной</a></li>
						<li><a href="#">Для уникальной</a></li>
						<li><a href="#">Для дерзкой </a></li>
					</ul>
				</div>
				<!-- col -->
				<div class="col-xs-6 col-sm-4 not-found-nav__col">
					<div class="not-found-nav__title">НОВИНКИ</div>
					<ul class="not-found-nav__list">
						<li><a href="#"></a></li>
					</ul>
				</div>
				<!-- col -->
				<div class="col-xs-6 col-sm-4 not-found-nav__col">
					<div class="not-found-nav__title">СУПЕР ЦЕНА</div>
					<ul class="not-found-nav__list">
						<li><a href="#"></a></li>
					</ul>
				</div>
				<!-- col -->
			</div>
			<!-- row -->
		</div>
		<!-- col -->

	</div>
	<!-- row -->
</nav><!--not-found-nav-->