<div class="pagination pagination--new js-pagination">
	<ul class="pagination__list">
		<li><a href="#" class="pagination__prev" rel="prev"><i class="icon-left"></i></a></li>

		<li><a href="#" class="active">4</a>
			<ul class="pagination__sublist">
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
			</ul>
		</li>
		<li>из&nbsp;<span>5</span></li>

		<li><a href="#" class="pagination__next" rel="next"><i class="icon-right"></i></a></li>
	</ul>
</div>