<div class="pagination">
	<ul class="pagination__list">
		<li><a href="#" class="pagination__prev" rel="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
		<li><a href="#" class="active">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#" class="pagination__next" rel="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
	</ul>
</div>