<div class="h-pop-up-wrapper">
	<div id="checkout" class="pop-up">
		<div class="pop-up__content">
			<form action="#" class="form js-checkout-form">
				<div class="row">
					<div class="col-xs-12">
						<div class="form__title">Укажите ваши данные</div>
					</div>
					<!-- col -->
					<div class="col-xs-12 col-sm-6">
						<label class="form__input-wrapp">
							<input type="text" name="checkout-name" placeholder="Имя" required>
						</label>
						<label class="form__input-wrapp">
							<input type="text" name="checkout-surname" placeholder="Фамилия" required>
						</label>
					</div>
					<!-- col -->
					<div class="col-xs-12 col-sm-6">
						<label class="form__input-wrapp">
							<input type="email" name="checkout-email" placeholder="E-mail" class="is-invalid" required>
						</label>
						<label class="form__input-wrapp">
							<input type="tel" class="js-phone-mask" name="checkout-phone" placeholder="Телефон"  required>
						</label>
					</div>
					<!-- col -->
				</div>
				<!-- row -->
				<div class="row">
					<div class="col-xs-12">
						<div class="form__title">Доставка</div>
					</div>
					<!-- col -->
					<div class="col-xs-12 col-sm-6">
						<label class="form__input-wrapp">
							<select class="js-select-seach tsh-select" name="checkout-town" required size="8">
								<option value="0" disabled selected>Выберите ваш город</option>
								<option value="1">Город 1</option>
								<option value="2">Город 2</option>
								<option value="3">Город 3</option>
								<option value="4">Город 4</option>
								<option value="5">Город 5</option>
								<option value="6">Город 6</option>
								<option value="7">Город 7</option>
							</select>
						</label>

						<label class="form__input-wrapp">
							<select class="js-select tsh-select" name="checkout-delivery-type" required size="5">
								<option value="0" disabled selected>Выберите способ доставки</option>
								<option value="1">Cпособ 1</option>
								<option value="2">Cпособ 2</option>
								<option value="3">Cпособ 3</option>
								<option value="4">Cпособ 4</option>
								<option value="4">Cпособ 5</option>
								<option value="4">Cпособ 6</option>
								<option value="4">Cпособ 7</option>
							</select>
						</label>
					</div>
					<!-- col -->
					<div class="col-xs-12 col-sm-6">
						<label class="form__input-wrapp">
							<input type="text" name="checkout-delivery-address" placeholder="Адрес \ Отделение Новой Почты" required>
						</label>
						<label class="form__input-wrapp">
							<select class="js-select tsh-select" name="checkout-payment" required size="5">
								<option value="0" disabled selected>Выберите способ оплаты</option>
								<option value="1">Cпособ 1</option>
								<option value="2">Cпособ 2</option>
								<option value="3">Cпособ 3</option>
								<option value="4">Cпособ 4</option>
							</select>
						</label>
					</div>
					<!-- col -->
				</div>
				<!-- row -->
				<div class="row">
					<div class="col-xs-12 col-sm-8">
						<p class="form__desc">
							Нажимая на кнопку Оформить заказ, я соглашаюсь с условиями <a href="#">Пользовательского соглашения</a>
						</p>
						<p class="form__desc">
							<i>*</i> - Обязательные поля для заполнения
						</p>
					</div>
					<!-- col -->
				</div>
				<!-- row -->
				<div class="row">	
					<div class="col-xs-12 col-sm-7">
						<div class="form__promo">
							<p>Промокод</p>
							<div class="form__promo-form">
								<div class="form__promo-info js-promo-msg">
									<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 111.577 111.577" style="enable-background:new 0 0 111.577 111.577;" xml:space="preserve">
										<g>
											<path fill="#ffffff" d="M78.962,99.536l-1.559,6.373c-4.677,1.846-8.413,3.251-11.195,4.217c-2.785,0.969-6.021,1.451-9.708,1.451
												c-5.662,0-10.066-1.387-13.207-4.142c-3.141-2.766-4.712-6.271-4.712-10.523c0-1.646,0.114-3.339,0.351-5.064
												c0.239-1.727,0.619-3.672,1.139-5.846l5.845-20.688c0.52-1.981,0.962-3.858,1.316-5.633c0.359-1.764,0.532-3.387,0.532-4.848
												c0-2.642-0.547-4.49-1.636-5.529c-1.089-1.036-3.167-1.562-6.252-1.562c-1.511,0-3.064,0.242-4.647,0.71
												c-1.59,0.47-2.949,0.924-4.09,1.346l1.563-6.378c3.829-1.559,7.489-2.894,10.99-4.002c3.501-1.111,6.809-1.667,9.938-1.667
												c5.623,0,9.962,1.359,13.009,4.077c3.047,2.72,4.57,6.246,4.57,10.591c0,0.899-0.1,2.483-0.315,4.747
												c-0.21,2.269-0.601,4.348-1.171,6.239l-5.82,20.605c-0.477,1.655-0.906,3.547-1.279,5.676c-0.385,2.115-0.569,3.731-0.569,4.815
												c0,2.736,0.61,4.604,1.833,5.597c1.232,0.993,3.354,1.487,6.368,1.487c1.415,0,3.025-0.251,4.814-0.744
												C76.854,100.348,78.155,99.915,78.962,99.536z M80.438,13.03c0,3.59-1.353,6.656-4.072,9.177c-2.712,2.53-5.98,3.796-9.803,3.796
												c-3.835,0-7.111-1.266-9.854-3.796c-2.738-2.522-4.11-5.587-4.11-9.177c0-3.583,1.372-6.654,4.11-9.207
												C59.447,1.274,62.729,0,66.563,0c3.822,0,7.091,1.277,9.803,3.823C79.087,6.376,80.438,9.448,80.438,13.03z"/>
										</g>
										<g>
										</g>
										<g>
										</g>
										<g>
										</g>
										<g>
										</g>
										<g>
										</g>
										<g>
										</g>
										<g>
										</g>
										<g>
										</g>
										<g>
										</g>
										<g>
										</g>
										<g>
										</g>
										<g>
										</g>
										<g>
										</g>
										<g>
										</g>
										<g>
										</g>
										</svg>
									</div>

									<div class="form__promo-message" onclick="this.style.display = 'none';">Введите промокод и нажмите кнопку "Активировать".Использование одновременно нескольких промокодов не предусмотрено. Скидка по промокоду будет пересчитана после того, как вы нажмете кнопку Активировать"</div>

								<input type="text">
								<a href="#">Активировать</a>

							</div>

						</div>
						<!-- form__promo -->
					</div>

					<div class="col-xs-12 col-sm-5">
						<div class="cart-total cart-total--right">
							<div class="cart-total__sum">
								<p class="cart-total__price">Общая сумма:<span class="price price--cart-total">9999<small>uah</small></span></p>
							</div>
							<!-- cart-total__sum -->
							<div class="cart-total__checkout">
								<button type="submit" class="submit-btn">Оформить заказ</button>
							</div>
							<!-- cart-total__checkout -->
						</div>
					</div>
					<!-- col -->
				</div>
			</form>
		</div>
		<!-- pop-up__content -->

	</div>
	<!-- pop-up -->

	<div id="callback" class="pop-up pop-up--alert">
		<div class="pop-up__content">
			<form action="#" class="form js-callback-form js-ga-callback-submit">
				<div class="row">
					<div class="col-xs-12">
						<div class="form__title">Заказать звонок</div>
					</div>
					<!-- col -->
					<div class="col-xs-12">
						<label class="form__input-wrapp">
							<input type="text" name="callback-name" placeholder="Имя" required>
						</label>
						<label class="form__input-wrapp">
							<input type="tel" class="js-phone-mask" name="callback-phone" placeholder="Телефон" required>
						</label>
					</div>
					<!-- col -->
				</div>
				<!-- row -->
				<div class="row">
					<div class="col-xs-12">
							<div class="text-center">
								<button type="submit" class="submit-btn">Заказать звонок</button>
							</div>
							<!--  -->
					</div>
					<!-- col -->
				</div>
				<!-- row -->
			</form>
		</div>
		<!-- pop-up__content -->

	</div>
	<!-- pop-up -->
	
	<div id="check-size" class="pop-up pop-up--alert">
		<div class="pop-up__content">
			<div class="pop-up__title">Выберите Ваш размер</div>
			<a href="#size" class="pop-up__size-link " onclick="$.magnificPopup.close();">Измерить длинну стопы</a>
			<form action="#" class="form">
				<div class="row">
					<div class="col-xs-12">
						<div class="product-info__size js-prod-size-popup">
							<label class="size-btn">
								<input type="radio" name="product-size" value="36">
								<span>36</span>
								<div class="size-btn_tooltip">27,5 cm</div>
							</label>
							<label class="size-btn">
								<input type="radio" name="product-size" value="37">
								<span>37</span>
								<div class="size-btn_tooltip">27,5 cm</div>
							</label>
							<label class="size-btn">
								<input type="radio" name="product-size" value="38">
								<span>38</span>
								<div class="size-btn_tooltip">27,5 cm</div>
							</label>
							<label class="size-btn">
								<input type="radio" name="product-size" value="39">
								<span>39</span>
								<div class="size-btn_tooltip">27,5 cm</div>
							</label>
							<label class="size-btn">
								<input type="radio" name="product-size" value="40">
								<span>40</span>
								<div class="size-btn_tooltip">27,5 cm</div>
							</label>
						</div>
						<!-- product__size -->
					</div>
					<!-- col -->
				</div>
				<!-- row -->
			</form>
		</div>
		<!-- pop-up__content -->
	</div>
	<!-- pop-up -->
	
	<div id="in-cart" class="pop-up pop-up--alert">
		<div class="pop-up__content">
			<div class="alert">
				<img src="img/logo.png" alt="TopShoes" class="alert__logo">
				<div class="alert__title">Товар добавлен в корзину</div>
				<p class="alert__text">Перейдите в корзину для дальнейшего оформления.</p>
				<br>
				<a href="#0" class="submit-btn">Оформить заказ</a>
			</div><!-- in-cart -->
		</div>
		<!-- pop-up__content -->
	</div>
	<!-- pop-up -->
	
	<div id="checkout-complete" class="pop-up pop-up--alert">
		<div class="pop-up__content">
			<div class="alert">
				<img src="img/logo.png" alt="TopShoes" class="alert__logo">
				<div class="alert__title">ВАШ ЗАКАЗ УСПЕШНО ОФОРМЛЕН</div>
				<p class="alert__text">В ближайшее время наши операторы свяжутся с вами</p>
			</div><!-- in-cart -->
		</div>
		<!-- pop-up__content -->
	</div>
	<!-- pop-up -->
	
	<div id="subscribe-complete" class="pop-up pop-up--alert">
		<div class="pop-up__content">
			<div class="alert">
				<img src="img/logo.png" alt="TopShoes" class="alert__logo">
				<div class="alert__title">Подписка оформлена</div>
				<p class="alert__text">Получайте свежие предложения и новости самым первым!</p> 
			</div><!-- in-cart -->
		</div>
		<!-- pop-up__content -->
	</div>
	<!-- pop-up -->
	
	<div id="callback-complete" class="pop-up pop-up--alert">
		<div class="pop-up__content">
			<div class="alert">
				<img src="img/logo.png" alt="TopShoes" class="alert__logo">
				<div class="alert__title">Заявка принята</div>
				<p class="alert__text">Наши менеджеры свяжутся с Вами в ближайшее время.</p> 
			</div><!-- in-cart -->
		</div>
		<!-- pop-up__content -->
	</div>
	<!-- pop-up -->

	<!-- popup rating -->
	<div id="rating" class="pop-up pop-up--rating">
		<div class="pop-up__content">
			<div class="pop-up_rating-logo">
				<img src="img/logo.png" alt="top-shoes-logo">
			</div>

			<div class="pop-up_rating-shoes">
				<img src="img/i/rating-popup.png" alt="shoes">
			</div>
			<form action="#" class="form">
				<div class="row">
					<div class="col-xs-12">
						<div class="form__title">Оценка удовлетворенности пользователя сайта</div>

						<div class='form-rating'>
							<input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star" />
							<div class="errorMessage" onclick="this.style.display = 'none';">Необходимо заполнить поле «Имя».</div>
						</div>
					<!-- form-rating -->

						<p class="form__text">Оцените на сколько удобен в использовании наш сайт.<br> В случае, если Вы обнаружили ошибки или сбои в работе , сообщите нам.</p>

						<div class="form__data">
							<label>
								<textarea class="form__textarea" name="teaxtarea" cols="30" rows="5" placeholder="Опишите обнаруженную Вами ошибку"></textarea>
							</label>
							<label>
								<input class="form__input" type="email" placeholder="Введите Ваш E-mail*">
							</label>
							<input class="submit-btn" type="submit" value="Отправить отзыв ">
						</div>

					</div>
				</div><!-- row -->


			<button class="mfp-close" type="button" title="Close (Esc)" onclick="$.magnificPopup.close()">×</button>
			</form>
		</div><!-- pop-up__content -->
	</div>
	<!-- popup -->



</div>
<!-- h-pop-up-wrapper -->