<div class="c-list__item">
	<p class="c-list__img-holder" style="background-image: url(@@img-2)">
		<a href="#" class="c-list__link">
			<img class="c-list__img lazy" src="img/i/lazyload-spin.gif" data-original="@@img-1" alt="">
			<noscript>
				<img src="@@img-1" alt="" class="c-list__img">
			</noscript>
		</a>
		<a href="fast-view-pop-up.html" class="c-list__fast-view js-pop-up-ajax">Быстрый просмотр</a>
	</p>
	<div class="c-list__colors">
		<a href="#" class="c-list__color">
			<img class="lazy" src="img/i/lazyload-spin.gif" data-original="@@img-1" alt="">
			<noscript>
				<img src="@@img-1" alt="">
			</noscript>
		</a>
		<a href="#" class="c-list__color">
			<img class="lazy" src="img/i/lazyload-spin.gif" data-original="@@img-2" alt="">
			<noscript>
				<img src="@@img-2" alt="">
			</noscript>
		</a>
	</div>
	<!-- c-list__colors -->
	<a href="#0" class="c-list__info">
		<p class="c-list__name">@@name</p>
		<!--<p class="c-list__price&#45;&#45;old price"><span>@@price-old</span><small>uah</small>-->
		<!--</p>-->
		<p class="c-list__price price">@@price
			<small>uah</small>
		</p>
		<p class="c-list__sizes">
			<a href="#" class="c-list__size">38</a>
			<a href="#" class="c-list__size">39</a>
			<a href="#" class="c-list__size">40</a>
			<a href="#" class="c-list__size">41</a>
			<a href="#" class="c-list__size">42</a>
		</p>
	</a>
</div>
<!-- cat-list__item -->