<section class="section section--prod-gallery">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<header class="s-title">
					<div class="s-title__title">@@title</div>
					<p class="s-title__text">Модели которые вы просматривали ранее</p>
				</header>
			</div>
		</div><!-- row -->

		<div class="prod-gallery-wrapp">
			<div class="row">
				<div class="col-xs-12">

				</div><!-- col -->
			</div><!-- row -->
		</div><!--prod-gallery-wrapp-->
	</div><!-- container-fluid -->

	<div class="prod-gallery js-prod-gallery">

		@@include("prod-gallery-item.html")
		@@include("prod-gallery-item.html")
		@@include("prod-gallery-item.html")
		@@include("prod-gallery-item.html")
		@@include("prod-gallery-item.html")
		@@include("prod-gallery-item.html")
		@@include("prod-gallery-item.html")
		@@include("prod-gallery-item.html")
		<!--@@include("prod-gallery-item.html")-->
		<!--@@include("prod-gallery-item.html")-->
		<!--@@include("prod-gallery-item.html")-->


	</div><!-- prod-gallery -->
</section><!-- section -->