<div class="prod-gallery__slide">
	<a href="#" class="prod-gallery__inner">
		<img src="img/i/prod-img-1.jpg" alt="Красные кроссовки на плоской подошве" class="prod-gallery__img">
		<p class="prod-gallery__name">Красные кроссовки на плоской подошве</p>
		<p class="price">9876
			<small>uah</small>
		</p>
	</a>
</div>