<div id="questionnaire-4" class="pop-up pop-up--question">
	<div class="pop-up__content">
		<div class="question">
			<header class="question_header">
				<div class="question_title">Анкета удовлетворенности клиента</div>
				<div class="question_numeration
"><strong>04</strong><small>\11</small></div>
			</header>
			<div class="question_body">
				<div class="question_body-inner">
					<p class="question_name"><small>04.</small>Магазин Top Shoes для Вас...</p>
					<div class="flex_row">
						<p class="question_text flex_col-2-3">Ассортимент</p>
						<div class="question_value flex_col-1-3">
							<div class='form-rating'>
								<input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star" name="4-1"/>
							</div>
						</div>
					</div>

					<div class="flex_row">
						<p class="question_text flex_col-2-3">Соответствие качества товара вашим ожиданиям</p>
						<div class="question_value flex_col-1-3">
							<div class='form-rating'>
								<input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star" name="4-2"/>
							</div>
						</div>
					</div>

					<div class="flex_row">
						<p class="question_text flex_col-2-3">Правильное соотношение цена/качество</p>
						<div class="question_value flex_col-1-3">
							<div class='form-rating'>
								<input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star" name="4-3"/>
							</div>
						</div>
					</div><!--row-->
				</div><!--question_body-inner-->
			</div>
			<p class="question_error">Нужно ответить на все пункты!</p>
			<footer class="question_footer">
				<button type="button" class="question_next" onclick="Question.submit.call(this);">Отправить</button>
				<button type="button" class="question_prev" onclick="Question.prev('#questionnaire-2');">Предыдущий вопрос</button>
			</footer>
		</div>

	</div>
	<!-- pop-up__content -->
</div>
<!-- pop-up -->