<div id="questionnaire_success" class="pop-up pop-up--alert">
	<div class="pop-up__content">
		<div class="alert">
			<img src="img/logo.png" alt="TopShoes" class="alert__logo">
			<div class="alert__title">Ваш отзыв успешно отправлен.</div>
			<p class="alert__text">Благодарим за Вашу помощь в улучшении нашего сервиса!</p>
			<br>
			<a href="#0" class="submit-btn">На главную</a>
		</div><!-- in-cart -->
	</div>
	<!-- pop-up__content -->
</div>
<!-- pop-up -->