<div id="questionnaire-3" class="pop-up pop-up--question">
	<div class="pop-up__content">
		<div class="question">
			<header class="question_header">
				<div class="question_title">Анкета удовлетворенности клиента</div>
				<div class="question_numeration
"><strong>03</strong><small>\11</small></div>
			</header>
			<div class="question_body question_body--center">
				<div class="question_body-inner">
					<p class="question_name"><small>03.</small>Магазин Top Shoes для Вас...</p>
					<div class="flex_row">
						<p class="question_text flex_col-1-1">Представитель имел стильный
							внешний вид.</p>
						<div class="question_value flex_col-1-1">
							@@include('radio-text.html', {
							"text": "не согласен/на",
							"name": "3-style",
							"value": "-1"
							})

							@@include('radio-text.html', {
							"text": "частично согласен/на",
							"name": "3-style",
							"value": "0"
							})

							@@include('radio-text.html', {
							"text": "согласен/на",
							"name": "3-style",
							"value": "1"
							})

						</div>
					</div>

					<div class="flex_row">
						<p class="question_text flex_col-1-1">Представитель производил
							приятное впечатление.</p>
						<div class="question_value flex_col-1-1">
							@@include('radio-text.html', {
							"text": "не согласен/на",
							"name": "3-impression",
							"value": "-1"
							})

							@@include('radio-text.html', {
							"text": "частично согласен/на",
							"name": "3-impression",
							"value": "0"
							})

							@@include('radio-text.html', {
							"text": "согласен/на",
							"name": "3-impression",
							"value": "1"
							})

						</div>
					</div>
					<div class="flex_row">
						<p class="question_text flex_col-1-1">Менеджер удовлетворил наши
							потребности.</p>
						<div class="question_value flex_col-1-1">
							@@include('radio-text.html', {
							"text": "не согласен/на",
							"name": "3-needs",
							"value": "-1"
							})

							@@include('radio-text.html', {
							"text": "частично согласен/на",
							"name": "3-needs",
							"value": "0"
							})

							@@include('radio-text.html', {
							"text": "согласен/на",
							"name": "3-needs",
							"value": "1"
							})

						</div>
					</div>
					<div class="flex_row">
						<p class="question_text flex_col-1-1">Я не чувствовал/а давление
							в момент принятия решений.</p>
						<div class="question_value flex_col-1-1">
							@@include('radio-text.html', {
							"text": "не согласен/на",
							"name": "3-pressure",
							"value": "-1"
							})

							@@include('radio-text.html', {
							"text": "частично согласен/на",
							"name": "3-pressure",
							"value": "0"
							})

							@@include('radio-text.html', {
							"text": "согласен/на",
							"name": "3-pressure",
							"value": "1"
							})

						</div>
					</div><!--row-->
				</div><!--question_body-inner-->
			</div>
			<p class="question_error">Нужно ответить на все пункты!</p>
			<footer class="question_footer">
				<button type="button" class="question_next" onclick="Question.next.call(this, '#questionnaire-4');">Далее</button>
				<button type="button" class="question_prev" onclick="Question.prev('#questionnaire-2');">Предыдущий вопрос</button>
			</footer>
		</div>

	</div>
	<!-- pop-up__content -->
</div>
<!-- pop-up -->