<div id="questionnaire_error" class="pop-up pop-up--alert">
	<div class="pop-up__content">
		<div class="alert">
			<img src="img/logo.png" alt="TopShoes" class="alert__logo">
			<div class="alert__title">Что-то пошло не так.</div>
			<p class="alert__text">Возможно сервер временно недоступен.</p>
			<br>
			<button type="button" class="submit-btn" onclick="submitQuestionnaire();">Попробовать еще</button>
		</div><!-- in-cart -->
	</div>
	<!-- pop-up__content -->
</div>
<!-- pop-up -->