<form class="questionnaires" method="post" style="display: none">

	@@include('questionnaire-1.html')

	@@include('questionnaire-2.html')

	@@include('questionnaire-3.html')

	@@include('questionnaire-4.html')

	@@include('questionnaire_success.html')

	@@include('questionnaire_error.html')

	<script>
		var submitQuestionnaire = function () {
			// close pop-ups
			PopUp.close();
			// wait for removalDelay animation
			setTimeout(function () {
				// serialize form data
				var $form= $(".questionnaires");
				var _data = $form.serialize();
				//console.log(_data);

				//send data via ajax
				$.ajax({
					url: $form.attr('action'),
					type: $form.attr('method'),
					data: _data,
					success: function () {
						PopUp.open("#questionnaire_success");
					},
					error: function (e) {
						PopUp.open("#questionnaire_error");
						console.log(e);
					}
				});
			}, 150);

		};
	</script>
</form>