<div id="questionnaire-2" class="pop-up pop-up--question">
	<div class="pop-up__content">
		<div class="question">
			<header class="question_header">
				<div class="question_title">Анкета удовлетворенности клиента</div>
				<div class="question_numeration
"><strong>02</strong><small>\11</small></div>
			</header>
			<div class="question_body question_body--min">
				<div class="question_body-inner">
					<p class="question_name"><small>02.</small>Магазин Top Shoes для Вас...</p>
					<div class="flex_row">
						<p class="question_text flex_col-2-3">Стильный</p>
						<div class="question_value flex_col-1-3">
							@@include('tristate.html',{
							"name": "2-style"
							})
						</div>
					</div>
					<div class="flex_row">
						<p class="question_text flex_col-2-3">Необычный, Нестандартный</p>
						<div class="question_value flex_col-1-3">
							@@include('tristate.html',{
							"name": "2-standard"
							})
						</div>
					</div>
					<div class="flex_row">
						<p class="question_text flex_col-2-3">Современный</p>
						<div class="question_value flex_col-1-3">
							@@include('tristate.html',{
							"name": "2-modern"
							})
						</div>
					</div>
					<div class="flex_row">
						<p class="question_text flex_col-2-3">Удобный (по месторасположению)</p>
						<div class="question_value flex_col-1-3">
							@@include('tristate.html',{
							"name": "2-location"
							})
						</div>
					</div>
				</div><!--question_body-inner-->
			</div>
			<p class="question_error">Нужно ответить на все пункты!</p>
			<footer class="question_footer">
				<button type="button" class="question_next" onclick="Question.next.call(this, '#questionnaire-3');">Далее</button>
				<button type="button" class="question_prev" onclick="Question.prev('#questionnaire-3');">Предыдущий вопрос</button>
			</footer>
		</div>

	</div>
	<!-- pop-up__content -->
</div>
<!-- pop-up -->