<div id="questionnaire-1" class="pop-up pop-up--question">
	<div class="pop-up__content">
		<div class="question">
			<header class="question_header">
				<div class="question_title">Анкета удовлетворенности клиента</div>
				<div class="question_numeration
"><strong>01</strong><small>\11</small></div>
			</header>
			<div class="question_body">
				<div class="question_body-inner">
					<p class="question_name"><small>01.</small>В каком городе вы осуществили покупку?</p>
					<div class="flex_row">
						<div class="flex_col-1-4">
								@@include('radio.html',{
								"text": "Харьков",
								"name": "1-town",
								"value": "kharkiv"
								})
						</div>
						<div class="flex_col-1-4">
								@@include('radio.html',{
								"text": " Киев",
								"name": "1-town",
								"value": "kharkiv"
								})
						</div>
						<div class="flex_col-1-4">
								@@include('radio.html',{
								"text": "Одесса",
								"name": "1-town",
								"value": "kharkiv"
								})
						</div>
						<div class="flex_col-1-4">
								@@include('radio.html',{
								"text": "Херсон",
								"name": "1-town",
								"value": "kharkiv"
								})
						</div>
						<div class="flex_col-1-4">
								@@include('radio.html',{
								"text": "Днепр",
								"name": "1-town",
								"value": "kharkiv"
								})
						</div>
						<div class="flex_col-1-4">
								@@include('radio.html',{
								"text": "Черкассы",
								"name": "1-town",
								"value": "kharkiv"
								})
						</div>
						<div class="flex_col-1-4">
								@@include('radio.html',{
								"text": "Кривой Рог",
								"name": "1-town",
								"value": "kharkiv"
								})
						</div>
					</div><!--row-->
				</div><!--question_body-inner-->
			</div><!--question_body-->
			<p class="question_error">Нужно ответить на все пункты!</p>
			<footer class="question_footer">
				<button type="button" class="question_next" onclick="Question.next.call(this, '#questionnaire-2');">Далее</button>
			</footer>
		</div>

	</div>
	<!-- pop-up__content -->
</div>
<!-- pop-up -->