<div class="h-pop-up-wrapper">
	<div id="review-form" class="pop-up pop-up--review">
		<div class="pop-up__content">
			<div class="pop-up__title">Отзыв о товаре:</div>
			<p class="pop-up__text">Коричневые ботинки на среднем каблуке</p>
			
			<form action="#" class="form">
			<div class="row">
				<div class="col-xs-12">
					<label class="form__input-wrapp"><textarea required placeholder="Текст комментария"></textarea></label>
					<div class="form__label">Личная информация</div>
					<label class="form__input-wrapp"><input type="text" required placeholder="Имя"></label>
					<label class="form__input-wrapp"><input type="email" required placeholder="E-mail"></label>
				</div>
				<!-- col -->
			</div>
			<!-- row -->
			<div class="row">
				<div class="col-sm-6">
					<div class='form-rating'>
						<p class="form-rating__label">Оцените качество товара</p>
						<input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star" />
					</div>
					<!-- form-rating -->
				</div>
				<!-- col-sm-6 -->
				<div class="col-sm-6">
					<button class="submit-btn">Отправить отзыв</button>
				</div>
				<!-- col-sm-6 -->
			</div>
			<!-- row -->
		</form>
		</div>
		<!-- pop-up__content -->

	</div>
	<!-- pop-up -->
</div>
<!-- h-pop-up-wrapper -->