<section class="section--rotate-banner">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<header class="s-title">
					<div class="s-title__title">Тренды этого сезона </div>
					<p class="s-title__text">Выбери какой тебе быть</p>
				</header>
			</div>
		</div>
		<!-- row -->
	</div>
	<div class="container-fluid l-rotate-banner">
		<div class="row row--no-padd">
			<div class="col-xs-12 col-sm-8 col--custom-rotate">
				<div class="banner">
					<a href="#" class="row row--no-padd">
						<div class="col-sm-12">
							<img src="img/i/banner-800x600.jpg" class="lazy" data-original="img/i/banner-800x600.jpg" alt="">
							<noscript>
								<img src="img/i/banner-800x600.jpg" alt="">
							</noscript>
						</div>
					</a>
				</div>
				<!-- banner -->
			</div>
			<!-- col -->
			<div class="col-xs-6 col-sm-4 col--custom-rotate">
				<div class="banner sm-rotate-right">
					<a href="#" class="row row--no-padd">
						<div class="col-sm-12">
							<img src="img/i/banner-400x600.jpg" class="lazy" data-original="img/i/banner-400x600.jpg" alt="">
							<noscript>
								<img src="img/i/banner-banner-400x600.jpg" alt="">
							</noscript>
						</div>
					</a>
				</div>
				<!-- banner -->
			</div>
			<!-- col -->
			<!-- 					</div>
								row
								<div class="row row--no-padd"> -->
			<div class="col-xs-6 col-sm-4 col--custom-rotate">
				<div class="banner sm-rotate-left">
					<a href="#" class="row row--no-padd">
						<div class="col-sm-12">
							<img src="img/i/banner-400x600.jpg" class="lazy" data-original="img/i/banner-400x600.jpg" alt="">
							<noscript>
								<img src="img/i/banner-banner-400x600.jpg" alt="">
							</noscript>
						</div>
					</a>
				</div>
				<!-- banner -->
			</div>
			<!-- col -->
			<div class="col-xs-12 col-sm-8 col--custom-rotate">
				<div class="banner sm-rotate-20">
					<a href="#" class="row row--no-padd">
						<div class="col-sm-12">
							<img src="img/i/banner-2-800x600.jpg" class="lazy" data-original="img/i/banner-2-800x600.jpg" alt="">
							<noscript>
								<img src="img/i/banner-2-800x600.jpg" alt="">
							</noscript>
						</div>
					</a>
				</div>
				<!-- banner -->
			</div>
			<!-- col -->
		</div>
		<!-- row -->
	</div>
	<!-- container-fluid -->
</section>
<!-- section--rotate-banner -->