<!-- SCRIPTS -->
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
	window.jQuery || document.write('<script src="libs/jquery/jquery-1.11.3.min.js"><\/script>')
</script>
<!-- libs -->
<script src=libs/magnific-popup/jquery.magnific-popup.min.js></script>
<script src=libs/slick/slick.js></script>
<script src=libs/ResponsiveMultiLevelMenu/js/jquery.dlmenu.js></script>
<script src=libs/lazyload/jquery.lazyload.min.js></script>
<script src=libs/formStyler/jquery.formstyler.min.js></script>
<script src=libs/bootstrap-rating/bootstrap-rating.min.js></script>
<!--<script src=libs/jquery-ui-1.11.4.custom/jquery-ui.min.js></script>-->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src=libs/jquery-ui-1.11.4.custom/jquery.ui.touch-punch.min.js></script>
<script src=libs/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js></script>
<script src=libs/PickMeUp-master/pickmeup.min.js></script>
<script src=libs/Inputmask-3.x/dist/jquery.inputmask.bundle.js></script>
<script src=libs/hammer.min.js></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIYGiIg16yEH1P5_ApbBTFJzKhGtM4dT4"></script>

<script src=js/main.js></script>



<script>
</script>
<!-- Yandex.Metrika counter -->
<!-- /Yandex.Metrika counter -->

<!-- Google Analytics counter -->
<!-- /Google Analytics counter -->
<!-- SCRIPTS end-->