<form action="search.json" class="search">
	<input type="text" class="search__input js-autocomplete" placeholder="Поиск - артикул / название">
	<button class="search__submit"><i class="icon-search"></i></button>
	<div class="js-search-result search_result"></div>
</form>

<!-- search -->