<section class="section seo">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div class="seo-text" id="seo-text--import"></div>
				<!-- seo-text -->
			</div>
			<!-- col -->
		</div>
		<!-- row -->
	</div>
	<!-- container-fluid -->
</section>
<!-- seo -->
<script>
	// move down top seo text
	var seoImport = document.getElementById("seo-text--import");
	if (seoImport && seoExport) {
		seoImport.innerHTML = seoExport.innerHTML;
		seoExport.remove();
	}
</script>