<div class="shop">
	<div class="shop__img">
		<img src="@@img" alt="shop name and address">
		<a href="#location" class="shop__btn js-pop-up" onclick="centeringMap(@@location); highlightTown('@@town');">Показать магазин на карте</a>
	</div>
	<div class="shop__info">
		<p class="shop__name"><strong>ТЦ “РИВЬЕРА”</strong><br> ЮЖНАЯ ДОРОГА Т1606, 101А ОДЕСА</p>
		<p class="shop__text">
			<i class="fa fa-clock-o" aria-hidden="true"></i>
			<span>График работы</span>
			@@time
		</p>
		<p class="shop__text">
			<i class="fa fa-phone" aria-hidden="true"></i>
			<span>Телефон магазина</span>
			@@phone
		</p>
	</div>
</div>