<div class="shop">
	<div class="shop__img">
		<img src="@@img" alt="shop name and address">
		<a href="#0" class="shop__btn" onclick="PopUp.open('#location'); centeringMap(@@location); highlightTown('@@town');">Показать магазин на карте</a>
	</div>
	<div class="shop__info">
		<p class="shop__name"><strong>ТЦ “РИВЬЕРА”</strong><br> ЮЖНАЯ ДОРОГА Т1606, 101А ОДЕСА</p>
		<p class="shop__size-title">Наличие размеров в магазине</p>
		<p class="shop__size">
			@@sizes
		</p>
	</div>
</div>