<section class="section--sub-h-banner">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div class="banner">
					<a href="" class="row row--no-padd">
						<div class="col-sm-6 col-md-4">
							<img src="img/i/lazyload-spin.gif" class="lazy" data-original="img/i/banners/Top_banner/1.jpg" alt="">
							<noscript>
								<img src="img/i/banners/Top_banner/1.jpg" alt="">
							</noscript>
						</div>
						<!-- col -->
						<div class="col-sm-6 col-md-4">
							<img src="img/i/lazyload-spin.gif" class="lazy" data-original="img/i/banners/Top_banner/2.jpg" alt="">
							<noscript>
								<img src="img/i/banners/Top_banner/2.jpg" alt="">
							</noscript>
						</div>
						<!-- col -->
						<div class="col-md-4 hidden-sm hidden-xs">
							<img src="img/i/lazyload-spin.gif" class="lazy" data-original="img/i/banners/Top_banner/3.jpg" alt="">
							<noscript>
								<img src="img/i/lazyload-spin.gif" data-original="img/i/banners/Top_banner/2.jpg" alt="">
							</noscript>
						</div>
						<!-- col -->
					</a>
				</div>
				<!-- banner -->
			</div>
			<!-- col -->
		</div>
		<!-- row -->
	</div>
	<!-- container-fluid -->
</section>
<!-- sub-h-banner -->