<nav class="swipe-menu">
	@@include("toggle-menu.html")
	<div class="m-search">
		<form action="#" class="m-search__form">
			<input id="m-search" type="text" class="m-search__input" placeholder="Поиск - артикул / название">
			<button class="m-search__submit"><i class="icon-search"></i></button>
		</form>
	</div>
	<!-- m-search -->

	<div id="dl-menu" class="dl-menuwrapper">
		<ul class="dl-menu">
			<li>
				<a href="#">Обувь</a>
				<ul class="dl-submenu">
					<li class="dl-current"><a href="#">Посмотреть все</a></li>
					<li>
						<a href="#">Menu item</a>
					</li>
					<li>
						<a href="#">Menu item</a>
					</li>
					<li>
						<a href="#">Menu item</a>
					</li>
					<li>
						<a href="#">Menu item</a>
					</li>
					<li>
						<a href="#">Menu item</a>
					</li>
				</ul>
			</li>
			<li><a href="#">Сумки</a>
				<ul class="dl-submenu">
					<li class="dl-current"><a href="#">Посмотреть все</a></li>
					<li>
						<a href="#">Menu item</a>
					</li>
					<li>
						<a href="#">Menu item</a>
					</li>
					<li>
						<a href="#">Menu item</a>
					</li>
					<li>
						<a href="#">Menu item</a>
					</li>
					<li>
						<a href="#">Menu item</a>
					</li>
				</ul>
			</li>
			<li><a href="#">Аксессуары</a>
				<ul class="dl-submenu">
					<li class="dl-current"><a href="#">Посмотреть все</a></li>
					<li>
						<a href="#">Menu item</a>
					</li>
					<li>
						<a href="#">Menu item</a>
					</li>
					<li>
						<a href="#">Menu item</a>
					</li>
					<li>
						<a href="#">Menu item</a>
					</li>
					<li>
						<a href="#">Menu item</a>
					</li>
				</ul>
			</li>
			<li><a href="#">Новинки</a></li>
			<li><a href="#">% супер цена</a></li>
		</ul>
	</div>
	<!-- /dl-menuwrapper -->

	<div class="reg-links reg-links--mobile js-other-menu">
		<p><a href="#" class="reg-link"><i class="fa fa-user-o" aria-hidden="true"></i>Войти</a> </p>
		<p><a href="#" class="reg-link">Зарегистрироваться</a> </p>
	</div>
	<!-- reg-links -->
	<div class="reg-links reg-links--mobile js-other-menu">
		<p>Здравствуй, %username%</p>
		<p><a href="#" class="reg-link">Выйти</a> </p>
	</div>
	<!-- reg-links -->
	<ul class="swipe-menu_list js-other-menu">
		<li><a href="#0">Персональные даные</a></li>
		<li><a href="#0">Доставка по умолчанию</a></li>
		<li><a href="#0">Управление заказами </a></li>
		<li><a href="#0">Подписки</a></li>
		<li><a href="#0">Скидки и бонусы</a></li>
	</ul>

</nav>
<!-- swipe-menu -->