<section class="section--top-banner js-f-m-top-banners">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div class="banner">
					<a href="" class="row row--no-padd">
						<div class="col-sm-6">
							<img src="img/i/lazyload-spin.gif" class="lazy" data-original="img/i/banners/Head_banner/1.jpg" alt="">
							<noscript>
								<img src="img/i/banners/Head_banner/1.jpg" alt="">
							</noscript>
						</div>
						<!-- col-sm-6 -->
						<div class="col-sm-6">
							<img src="img/i/lazyload-spin.gif" class="lazy" data-original="img/i/banners/Head_banner/2.jpg" alt="">
							<noscript>
								<img src="img/i/banners/Head_banner/2.jpg" alt="">
							</noscript>
						</div>
						<!-- col-sm-6 -->
					</a>
				</div>
				<!-- banner -->
			</div>
			<!-- col -->
		</div>
		<!-- row -->
	</div>
	<!-- container-fluid -->
</section>
<!-- top-banner -->