<span class="tristate tristate-checkbox">
	<input type="radio" id="@@name-state-off" name="@@name" value="-1">
	<input type="radio" id="@@name-state-on" name="@@name" value="1">
	<i></i>
	<label for="@@name-state-off">нет</label>
	<label></label>
	<label for="@@name-state-on">да</label>
</span>